<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-body">


                <div class="d-flex justify-content-between">

                    <h2 class="text-muted m-t-10 m-b-0">Orden de Descarga</h2>
                    <div>
                        Estatus:
                        <p [ngSwitch]=this.Estatus>
                            <span *ngSwitchCase="'Guardada'" class="label label-light-success">GUARDADA</span>
                            <span *ngSwitchCase="'Proceso'" class="label label-light-primary">PROCESO</span>
                            <span *ngSwitchCase="'Descargada'" class="label label-light-info">DESCARGADA</span>
                            <span *ngSwitchCase="'Transito'" class="label label-light-inverse">TRANSITO</span>
                        </p>
                    </div>
                    <!-- <button class="mt-2" mat-raised-button (click)="Regresar()" color="primary">Regresar</button> -->
                    <button mat-fab (click)="regresar()" class="btncoti">
                            <mat-icon>undo</mat-icon>
                          </button>
                </div>
                <hr>

                <!-- 


                <div class="container">
                    <div class="row">
                        <div class="col-11">
                            <h2 style="text-align: center;">Detalle de la Orden de Descarga</h2>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary" type="button" (click)="regresar()">Regresar</button>
                        </div>
                    </div> -->


                <div class="form-material mat-elevation-z5">
                    <div class="card card-header">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <h3 class="text-muted m-t-10 m-b-0">Evidencias Orden</h3>
                            </div>
                            <div class="col-md-4 col-12"></div>
                            <div class="col-md-4 col-12">
                                <button [disabled]="AgregarEvidencia == false" class="btncoti" mat-fab style="float: right; " (click)="evidencia()">
            <mat-icon> camera_enhance </mat-icon>
          </button>
                                <button [disabled]="Enviar == false" class="btncoti" mat-fab style="float: right; margin-right: 15px;" (click)="email()">
            <mat-icon> alternate_email </mat-icon>
          </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="container row" style=" overflow-x: scroll; overflow-y: scroll">
                            <div class="d-flex flex-wrap ">
                                <div class="card containercard col-12 col-lg-3 " *ngFor="let image of imageInfo">
                                    <div class="imgcontainer">
                                        <img [src]="image.ImagePath" class="img-fluid img-responsive imgblur">
                                        <!-- <button class="btn-danger boton" (click)="deleteImage(image.ImageName)"> -->
                                        <!-- <mat-icon>close</mat-icon> -->
                                        <!-- </button> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>

                <hr>



                <div class="form-material mat-elevation-z5">
                    <div class="card card-header">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <h3 class="text-muted m-t-10 m-b-0">Productos Descargados</h3>
                            </div>
                            <div class="col-md-4 col-12">

                            </div>
                            <div class="col-md-4 col-12">
                                <button [disabled]="Descargar == false" class="btncoti" mat-fab style="float: right;" (click)="onAddTarima()">
            <mat-icon> arrow_circle_down </mat-icon>
          </button>
                                <!-- <div *ngIf="ShowBuscar == false; else elseBlockPU">
                                    <button class="btncoti" mat-fab style="float: right; margin-right: 15px" (click)="BuscarTarimaQR()">
                <mat-icon> search</mat-icon>
              </button>

                                </div>
                                <ng-template #elseBlockPU>

                                    <button class="btncl" mat-fab style="float: right; margin-right: 15px" (click)="CloseBuscar()">
                                            <mat-icon> close</mat-icon>
                                          </button>
                                </ng-template> -->
                            </div>
                        </div>
                    </div>





                    <!--      <div class="card">
                    <div class="card-body"> -->
                    <div class="container row">
                        <div class="col-12">
                            <div class="card-body">
                                <!--   <div class="container row">
                                        <h3 class="col-10">TABLA ORDEN TEMPORAL</h3>
                                        <button (click)="onAddTarima()" type="button" class="btn btn-primary col-2" style="float: right;"> <mat-icon>open_in_new</mat-icon> Agregar Tarima</button>
                                    </div> -->
                                <br>
                                <!-- <div [style.display]="ShowBuscar ? 'block' : 'none'">
                                    <div class="container row">
                                        <div class="col-4">
                                            <mat-form-field style="width: 100%">
                                                <input type="text" placeholder="Seleccionar QR de Tarima" aria-label="Number" [formControl]="myControl" matInput [matAutocomplete]="auto" [(ngModel)]="Tarimaservice.formDataDrop.QR" name="QR">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.QR" (blur)="onBlurQR()" (onSelectionChange)="onSelectionChange(option, $event)">
                                                        <b>   {{option.QR}}  </b>
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>

                                        </div>
                                        <div class="col-4">
                                            <button style="margin-top: 15px;" class="btn btn-info btn-lg" [style.display]="qrsearch ? 'block' : 'none'" mat-raised-button type="button" (click)="QRmodal()">Imprimir QR</button>

                                        </div>
                                    </div>
                                </div> -->

                                <div style="overflow:auto;">
                                    <table mat-table [dataSource]="listDataOrdenTemporal" matSort>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOrdenTemporal"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOrdenTemporal;"></tr>

                                        <ng-container matColumnDef="Factura">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Factura</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.NumeroFactura}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="CBK">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CBK</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.NumeroEntrada}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="ClaveProducto">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Producto</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.ClaveProducto}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="Producto">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.Producto}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="Lote">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.Lote}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="Sacos">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.Sacos | number: '1.0-0'}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="PesoTotal">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso Total</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.PesoTotal}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="FechaCaducidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Caducidad</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.FechaCaducidad}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="Comentarios">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentarios</th>
                                            <td mat-cell *matCellDef="let elementOT">{{elementOT.Comentarios}}</td>
                                        </ng-container>



                                        <!-- <ng-container matColumnDef="Options">
                                            <th mat-header-cell *matHeaderCellDef>Options</th>
                                            <td mat-cell *matCellDef="let row; let i = index">

                                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                  </button>
                                                <mat-menu #menu="matMenu">

                                                    <button title="Imprimir QR" mat-icon-button class="btn btn-dark" (click)="rowqr(row)">
                                                        <mat-icon>qr_code</mat-icon>
                                                      </button> -->
                                                    <!--  -->
                                                    <!--     <button mat-icon-button class="btn btn-dark" (click)="onEdit(row, i)">
                                                            <mat-icon>edit</mat-icon>
                                                        </button> -->
                                                    <!--  -->
                                                    <!-- <button mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row.IdProveedor)">
                                                                <mat-icon>delete_outline</mat-icon>
                                                            </button> -->
                                                <!-- </mat-menu>
                                            </td>
                                        </ng-container> -->


                                    </table>
                                    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                        <!--   <h3></h3>
                            <div class="col-1">
                                <button type="button" style="margin-bottom: 20px;" class="btn col-12 btn-success">
                <mat-icon> done </mat-icon>
            </button>
                                <button type="button" style="margin-bottom: 20px;" class="btn col-12 btn-danger">
                <mat-icon> close </mat-icon>
            </button>
                                <button type="button" style="margin-bottom: 20px;" class="btn col-12 btn-info">
                <mat-icon> done_all </mat-icon>
            </button>
                            </div> -->
                    </div>
                </div>
                <!--          </div>
                </div> -->
<hr>
                <div class="row">
                    <div style="display: grid;" class="col-12 col-md-4">
                        <button id="EnviarCarga" [hidden]="true" class="btn btn-info btn-lg" data-toggle="modal"></button>
                        <button class="btn btncoti btn-lg" mat-raised-button type="button" (click)="formatoDocumentoPDF()">Formato Tarimas</button>
                        <br>
                    </div>
                    <div class="col-4"></div>
                    <div style="display: grid;" class="col-12 col-md-4">
                        <button class="btn btncoti btn-lg" mat-raised-button type="button" (click)="pdf()">PDF</button>
                        <br>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>