<div class="row modal-header">
    <div class="col-md-8 col-12">


    </div>
    <div class="col-md-4 col-12" style="text-align: center;">
        <!--   <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()" style="margin-right: 10px;">
            <mat-icon>download</mat-icon>
        </button>
        <button class="btn btn-primary waves-effect waves-light save-category" roNgxSimplePrint [printContentId]="'EntradaProducto-PDF'" style="margin-right: 10px;">
            <mat-icon>print</mat-icon>
        </button> -->
        <button class="btn btn-danger waves-effect waves-light save-category" (click)="onClose()" style="margin-right: 10px;">
            <mat-icon>close</mat-icon>
          </button>

    </div>
</div>


<div style=" overflow-x: hidden; height: 80vh;">
    <!-- <div>
        <button class="btn btn-danger" color="warn" (click)="onClose()">
 
    </button>
    </div> -->



    <div [ngStyle]="{'display':style}" class="modal0-body" style="overflow-x: auto;">
        <div class="container" style=" width: 800px;">
            <div style="scale: 0.9 1;" id="EntradaProducto-PDF">
                <!-- TOP PAGE -->
                <div class="container" style="height: 98px; padding-left: 0; padding-right: 0;">
                    <div class="row">
                        <!-- logo -->
                        <div class="col-3" style="padding-top: 0; margin-top: 0;">
                            <div class="card card-outline-inverse">

                                <img [src]=logo class="logo">

                            </div>
                        </div>
                        <!-- descripcion -->
                        <div class="col-9">
                            <div class="container row">
                                <div class="col-3 containerborder">
                                    <p class="bolder blacktxt">Preparado por: </p>
                                </div>
                                <div class="col-3 containerborder">
                                    <p>{{this.ocInfo.Usuario}} </p>
                                </div>
                                <div class="col-3 containerborder nowrap">
                                    <p class="bolder blacktxt nowrap">Codigo de Documento: </p>
                                </div>
                                <div class="col-3 containerborder">
                                    <p> {{this.ocInfo.Folio}}</p>
                                </div>
                            </div>
                            <div class="container row">
                                <div class="col-3 containerborder">
                                    <p class="bolder blacktxt">Aprovado por: </p>
                                </div>
                                <div class="col-3 containerborder">
                                    <p>Direccion General </p>
                                </div>
                                <div class="col-3 containerborder">
                                    <p class="bolder blacktxt">Fecha de Revision: </p>
                                </div>
                                <div class="col-3 containerborder">
                                    <p>27/09/2019 </p>
                                </div>
                            </div>
                            <div class="container row">
                                <div class="col-3 containerborder">
                                    <p class="bolder blacktxt">Revisado por: </p>
                                </div>
                                <div class="col-3 containerborder">
                                    <p> Gustavo</p>
                                </div>
                                <div class="col-3 containerborder">
                                    <p class="bolder blacktxt"> Revision:</p>
                                </div>
                                <div class="col-3 containerborder">
                                    <p>A </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End TOP -->

                <!-- BODY -->
                <div>
                    <h5 class="text-center bolder blacktxt">SALIDA DE PRODUCTO</h5>
                    <div style="display: inline-block; width: 60%;">
                        <div class="containerborder">
                            <p class="bolder blacktxt">CLIENTE: <span style="font-weight:400"> {{ocInfo.Cliente}}</span></p>
                        </div>
                        <!-- <div class="containerborder">
                            
                            <p class="bolder blacktxt">PEDIMENTO: <span style="font-weight:400">***</span></p>
                        </div> -->
                        <div class="containerborder">
                            <p class="bolder blacktxt">TRANSPORTISTA: <span style="font-weight:400">{{ocInfo.Fletera}}</span></p>
                        </div>
                        <div class="containerborder">
                            <p class="bolder blacktxt">NOMBRE OPERADOR: <span style="font-weight:400">{{ocInfo.Chofer}}</span></p>
                        </div>
                    </div>

                    <div style="display: inline-block; width: 40%;">
                        <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                            <div class="col-8" style="padding-left:0">
                                <p class="bolder blacktxt">FECHA:</p>
                            </div>
                            <div class="col-4" style="padding-right:0">
                                <span style="font-weight:400">{{this.ocInfo.FechaExpedicion | date: 'yyyy/MM/dd'}}</span>
                            </div>
                        </div>
                        <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                            <div class="col-8" style="padding-left:0">
                                <p class="bolder blacktxt">N° FACTURA, REMISION O TRASPASO:</p>
                            </div>
                            <div class="col-4" style="padding-right:0">
                                <!-- Cuales facturas -->
                                <p><span style="font-weight:400;">{{FolioPedido}}</span></p>
                            </div>
                        </div>
                        <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                            <div class="col-8" style="padding-left:0">
                                <p class="bolder blacktxt">UNIDAD:</p>
                            </div>
                            <div class="col-4" style="padding-right:0">
                                <p> <span style="font-weight:400">{{this.ocInfo.Caja}}</span></p>
                            </div>
                        </div>
                        <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                            <div class="col-8" style="padding-left:0">
                                <p class="bolder blacktxt">SELLO CAJA:</p>
                            </div>
                            <div class="col-4" style="padding-right:0">
                                <!-- Como obtener el sello de la caja -->
                                <p> <span style="font-weight:400">{{selloCaja}}</span></p>
                            </div>
                        </div>
                        <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                            <div class="col-6" style="padding-left:0">
                                <p class="bolder blacktxt">INICIO CARGA: <span style="font-weight:400">{{this.ocInfo.FechaInicioCarga | date: 'hh:mm:ss'}}</span></p>
                            </div>
                            <div class="col-6" style="padding-right:0">
                                <p class="bolder blacktxt">FIN CARGA: <span style="font-weight:400">{{this.ocInfo.FechaFinalCarga | date: 'hh:mm:ss'}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 630px;">

                    <table>
                        <thead>
                            <tr>
                                <th class="blacktxt bolder whitecolor"># TARIMA</th>
                                <th class="blacktxt bolder whitecolor">CLAVE</th>
                                <th class="blacktxt bolder whitecolor">PRODUCTO</th>
                                <th class="blacktxt bolder whitecolor">SACOS</th>
                                <th class="blacktxt bolder whitecolor">KG</th>
                                <!-- <th class="blacktxt bolder whitecolor">SACOS</th> -->
                                <th class="blacktxt bolder whitecolor">LOTE</th>
                                <th class="blacktxt bolder whitecolor">FECHA PROD</th>
                                <th class="blacktxt bolder whitecolor">FECHA CAD</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let conceptos of docInfo; let i = index">
                            <tr class="pgbreak">
                                <td style="text-align: center; border:1px; border-style: solid;" class="wrap lightback pgbreak"> {{i+1}} </td>
                                <td style="text-align: center; border:1px; border-style: solid;" class="wrap lightback">{{conceptos.ClaveProducto}}</td>
                                <td style="text-align: center; border:1px; border-style: solid;" class="wrap lightback pgbreak"> {{conceptos.Producto}}</td>
                                <td style="text-align: center; border:1px; border-style: solid;" class="pgbreak">{{conceptos.Sacos | number: '1.0-0'}} </td>
                                <td style="text-align: center; border:1px; border-style: solid;" class="wrap lightback pgbreak"> {{conceptos.Kg}}</td>
                                <!-- <td style="text-align: center;" class="pgbreak">{{conceptos.PesoxSaco}}</td> -->
                                <td style="text-align: center; border:1px; border-style: solid;" class="pgbreak">{{conceptos.Lote}} </td>
                                <td style="text-align: center; border:1px; border-style: solid;" class="pgbreak">{{conceptos.FechaMFG | date: 'yyyy/MM/dd'}} </td>
                                <td style="text-align: center; border:1px; border-style: solid;" class="pgbreak">{{conceptos.FechaCaducidad | date: 'yyyy/MM/dd'}} </td>
                        </tbody>

                    </table>
                </div>

                <div class="container row pgbreak" style="padding-right: 0;">
                    <div class="col-5 pgbreak">
                        <table class="table-striped pgbreak">
                            <thead>
                                <tr>
                                    <th class="blacktxt bolder whitecolor">Clave Producto</th>
                                    <th class="blacktxt bolder whitecolor">Descripcion</th>
                                    <th class="blacktxt bolder whitecolor">Sacos</th>
                                    <th class="blacktxt bolder whitecolor">Kg</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let conceptos of arregloDetallesGenerales; let i = index">
                                <tr class="pgbreak">
                                    <td style="text-align: center; border:1px; border-style: solid;">{{conceptos.ClaveProducto}}</td>
                                    <td style="text-align: center; border:1px; border-style: solid;">{{conceptos.Producto}}</td>
                                    <td style="text-align: center; border:1px; border-style: solid;">{{conceptos.Sacos | number: '1.0-0'}}</td>
                                    <td style="text-align: center; border:1px; border-style: solid;">{{+conceptos.Sacos * +conceptos.PesoxSaco | number: '1.0-0'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-6" style="padding-right: 0;">
                        <div class="container row">

                            <div class="col-6 containerborder">
                                <p class="bolder blacktxt" style="text-align: center;">
                                    EMBARCA:
                                </p>
                            </div>
                            <div class="col-6 containerborder">
                                <p class="bolder blacktxt" style="text-align: center;">
                                    {{this.operador}}
                                    <!-- {{this.ordentemporal.formDataOCPDF.Usuario}} -->
                                </p>
                            </div>
                        </div>
                        <div class="container row">

                            <div class="col-6 containerborder">
                                <p class="bolder blacktxt" style="text-align: center;">
                                    PESO TOTAL CARGA:
                                </p>
                            </div>
                            <div class="col-6 containerborder nowrap">
                                <p style="text-align: center;">
                                    {{this.ocInfo.Kg}} KG.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- fin Area A IMPRIMIR -->

            <!-- VISOR -->
            <!-- <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer> -->
            <!--             <ngx-doc-viewer [url]="pdfSrc" viewer="pdf" style="width:100%;height:80vh;"></ngx-doc-viewer> -->

            <!-- <ngx-extended-pdf-viewer [src]="'assets/F-23.pdf'" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer> -->

            <!-- VISOR -->

        </div>
    </div>
    <ngx-extended-pdf-viewer [base64Src]="this.currentPdf" [printResolution]="600" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" (click)="onClose()">Cerrar</button>
    <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Descargar</button>
</div> -->