<div class="row row-eq-height">
    <div class="col-md-6 col-12" id="importacion">
        <div class="card" style=" background-color: white;">
            <app-importacion-totales></app-importacion-totales>
        </div>
    </div>
    <div class="col-md-6 col-12" [ngStyle]="{'height':altura+'px'}">
        <div class="card" style="overflow-x: hidden;overflow-y: auto;  background-color: white;">
            <app-importacion-meses></app-importacion-meses>
        </div>
    </div>

</div>
<br>
<div class="row row-eq-height">
    <div class="col-md-6 col-12" id="importacion">
        <div class="card" style=" background-color: white;">
            <app-almacen-traspaso-totales></app-almacen-traspaso-totales>
        </div>
    </div>

    <div class="col-md-6 col-12" [ngStyle]="{'height':altura+'px'}">
        <div class="card" style="overflow-x: hidden;overflow-y: auto;  background-color: white;">
            <app-importacionesalmacen></app-importacionesalmacen>
        </div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-md-12 col-12">
        <app-almacen-traspaso-meses></app-almacen-traspaso-meses>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <app-calendario-importacion></app-calendario-importacion>
            </div>
        </div>
    </div>
</div>