<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <h4 class="card-title"><span class="lstick"></span>Flujo de importacion</h4>
                <ul class="list-inline m-b-0 ml-auto">
                    <li>
                        <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>El Paso</h6>
                    </li>
                    <li>
                        <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Chihuahua</h6>
                    </li>
                    <li>
                        <h6 class="text-muted text-warning"><i class="fa fa-circle font-10 m-r-10"></i>Mexico</h6>
                    </li>

                </ul>
            </div>
            <div class="website-visitor p-relative m-t-30" style="height:400px; width:100%;"></div>
        </div>
    </div>
</div>


<app-tracking-pedido></app-tracking-pedido>