<mat-dialog-content>
    <div class="container" class="form-material">
        <button mat-button class="btn btn-danger btnh" color="warn" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>

        <div class="row">
            <div class="col-12 col-md-6">
                <ngx-doc-viewer [url]="fileUrl" viewer="pdf" style="width:100%;height:80vh;"></ngx-doc-viewer>
                <!-- <ngx-loading [show]="!pdfstatus" [config]="{animationType: ngxLoadingAnimationTypes.circleSwish}">
                </ngx-loading> -->
            </div>

            <div class="col-12 col-md-6">
                <div class="container">
                    <div class="card-body">
                        <!-- <mat-form-field class="example-full-width"> -->
                        <label class="input-group-text text-info">Para:</label>
                        <input type="string" class="form-control" name="correo" #correo="ngModel" [(ngModel)]="_MessageService.correo">
                        <!-- </mat-form-field> -->

                        <!-- <mat-form-field class="example-full-width"> -->
                        <label class="input-group-text text-info">CCO:</label>
                        <input type="string" class="form-control" name="cco" #cco="ngModel" [(ngModel)]="_MessageService.cco">
                        <!-- </mat-form-field> -->
                        <!-- <mat-form-field class="example-full-width"> -->
                        <label class="input-group-text text-info">Asunto:</label>
                        <input type="string" class="form-control" name="asunto" #asunto="ngModel" [(ngModel)]="_MessageService.asunto">
                        <!-- </mat-form-field> -->
                        <!-- <mat-form-field class="example-full-width"> -->
                        <!-- <label class="input-group-text text-info">Correo:</label>
                        <textarea rows="5" type="string" class="form-control" name="cuerpo" #cuerpo="ngModel" [(ngModel)]="_MessageService.cuerpo"></textarea> -->
                        <!-- </mat-form-field> -->

                        <ngx-dropzone (change)="onSelect($event)">
                            <ngx-dropzone-label>Seleccionar Archivos</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} {{ f.type }}</ngx-dropzone-label>
                            </ngx-dropzone-preview>

                        </ngx-dropzone>
                        <div class="col-12" style="border: .5px solid black; margin-top: 5px; padding-left: 5px; height: 200px; overflow-y: scroll;">
                            <div *ngFor="let a of files">
                                <button class="btn " style="margin-bottom: 5px; margin-top: 10px;"> {{a.name}} </button>
                                <!-- <button class="btn " (click)='leerArchivosUSDA(a)' style="margin-bottom: 5px; margin-top: 10px;"> {{a.name}} </button> -->
                                <!-- <button class="btn btn-danger" (click)='onRemoveUSDA(a)' style="margin-bottom: 5px; margin-left: 2px;"> X </button> -->
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary waves-effect" (click)="onEnviar()">Enviar</button>
                        <button type="button" class="btn btn-secondary waves-effect" (click)="explorador()">Explorador</button>
                        <!-- <button type="button" class="btn btn-secondary waves-effect" (click)="leerArchivo()" file-hander>leer</button> -->
                        <!-- <button type="button" class="btn btn-secondary waves-effect" (click)="leerDir()" file-hander>leerDir</button> -->
                        <!-- <button type="button" class="btn btn-secondary waves-effect" (click)="urlPDF()">leer</button> -->

                        <!-- <button *ngFor="let a of archivos" (click)='leerArchivos(a)'> {{a}} </button> -->

                    </div>
                </div>
            </div>
            <ngx-loading [show]="loading2" [config]="{animationType: ngxLoadingAnimationTypes.circleSwish}">
            </ngx-loading>
        </div>
    </div>


    <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" style="display:none;" />
</mat-dialog-content>