<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2>PREPARAR</h2>
                <div class="container" style="margin-right: 0;">
                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-2">
                            <button class="btn btn-primary" type="button" (click)="regresar()">Regresar</button>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row">

                    <!-- <div class="col-12 col-md-5">
                        <button disabled class="btn btn-primary" type="button" (click)="simularQR()">SIMULAR QR</button> QR Leido: {{qrleido}}
                        <div class="input-group">

                            <span class="input-group-addon" style="background-color: white;"><i class="btn btn-danger" type="button"
                  (click)="escanear()">
                  <mat-icon>qr_code</mat-icon>
                </i></span>
                            <input required type="text" class="form-control" name="tarimaQR" #tarimaQR="ngModel" [(ngModel)]="qrleido" (blur)="simularQR(qrleido)">
                        </div>
                    </div> -->
                    <div class="col-12 col-md-5">
                        <!-- <button disabled class="btn btn-primary" type="button" (click)="simularQR()">SIMULAR QR</button> QR Leido: {{qrleido}} -->
                        <div class="input-group">

                            <span [style.display]="isVisibleQR ? 'block' : 'none'" class="input-group-addon" style="background-color: white;"><i class="btn btn-danger" type="button" (click)="escanear()">
                      <mat-icon>qr_code</mat-icon>
                    </i></span>
                            <!-- <input required type="text" class="form-control" name="tarimaQR" #tarimaQR="ngModel" [(ngModel)]="qrleido" (blur)="simularQR(qrleido)" (focus)="ActBtn()"> -->
                            <input required type="text" class="form-control" name="tarimaQR" #tarimaQR="ngModel" [(ngModel)]="qrleido" [(ngModel)]="qrleido" (blur)="CleanFieldQR()" (focus)="ActBtn()">
                            <span [style.display]="isVisible ? 'block' : 'none'" class="input-group-addon" style="background-color: white;"><i class="btn btn-success" type="button" (click)="simularQR(qrleido)">
                      <mat-icon>qr_code</mat-icon>
                    </i></span>
                        </div>
                    </div>
                    <div class="col-2">

                        <!-- <zxing-scanner (camerasFound)="camaras($event)" [enable]="enableScan" (scanSuccess)='escaner($event)'></zxing-scanner> -->
                    </div>
                    <div class="col-12 col-md-5">
                        <p style="font-weight: 400; margin-bottom: 0;"> QR Leido: </p>
                        <input class="form-control" readonly name="QRleido" #QRleido="ngModel" [(ngModel)]="qrleido">
                        <!-- <button class="btn btn-primary" type="button" (click)="cerrarescaner()">Cerrar ESCANER</button> -->
                    </div>
                </div>


                <!-- <div class="scanner-shell" [hidden]="!hasDevices"> -->


                <!-- <zxing-scanner #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>

                    <section class="results" *ngIf="qrResultString">
                        <small>Result</small>
                        <strong>{{ qrResultString}}</strong>
                    </section> -->

                <!-- </div> -->
                <hr>
                <h5>TABLA VISUALIZACION</h5>

                <div style="overflow:auto;">
                    <table mat-table [dataSource]="listData" matSort>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <ng-container matColumnDef="ClaveProducto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Producto</th>
                            <!-- style="background-color: red;" -->
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.productoValido == false; else elseBlock" style="background-color: red;">
                                    {{element.ClaveProducto}}
                                </div>
                                <ng-template #elseBlock>
                                    {{element.ClaveProducto}}

                                </ng-template>
                                <!-- <div *ngIf="element.IdOrdenCarga == 0" style="background-color: red;">
                                    {{element.ClaveProducto}}
                                </div>
                                <div *ngIf="element.IdOrdenCarga > 0">
                                    {{element.ClaveProducto}}
                                </div> -->
                            </td>

                        </ng-container>

                        <ng-container matColumnDef="Lote">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                            <td mat-cell *matCellDef="let element">{{element.Lote}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Sacos">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos</th>
                            <td mat-cell *matCellDef="let element">{{element.Sacos}}</td>
                        </ng-container>

                        <ng-container matColumnDef="sacosSobra">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos Sobrantes</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.sacosSobra > 0; else elseBlockSobra" style="background-color: red;">
                                    {{element.sacosSobra}}
                                </div>
                                <ng-template #elseBlockSobra>
                                    {{element.sacosSobra}}
                                </ng-template>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Comentarios">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentarios</th>
                            <td mat-cell *matCellDef="let element">{{element.Comentarios}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Options">
                            <th mat-header-cell *matHeaderCellDef>Options</th>
                            <td mat-cell *matCellDef="let row; let i = index">

                                <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                  </button> -->
                                <!-- <mat-menu #menu="matMenu"> -->
                                <!--  -->
                                <div *ngIf="row.productoValido == false; else elseBlock">

                                    <button mat-icon-button class="btn btn-success" color="black" (click)="traspasoOrdenCarga(row)">
                    <mat-icon>redo</mat-icon>
                  </button>
                                </div>
                                <ng-template #elseBlock>
                                    <!-- {{element.ClaveProducto}} -->
                                    <button mat-icon-button class="btn btn-dark" (click)="onEdit(row, i)">
                    <mat-icon>edit</mat-icon>
                  </button>
                                    <button mat-icon-button class="btn btn-success" color="dark" (click)="traspasoOrdenCarga(row)">
                    <mat-icon>redo</mat-icon>
                  </button>
                                </ng-template>
                                <!-- <button mat-icon-button class="btn btn-dark" (click)="onEdit(row, i)">
                                                            <mat-icon>edit</mat-icon>
                                                        </button> -->
                                <!--  -->
                                <!-- <button mat-icon-button class="btn btn-danger" color="warn" (click)="onDeleteRowTablaV(i)">
                                                                <mat-icon>delete_outline</mat-icon>
                                                            </button> -->
                                <!-- </mat-menu> -->
                            </td>
                        </ng-container>


                    </table>
                    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                    </mat-paginator>
                    <div class="container" style="margin-right: 0;">
                        <div class="row">
                            <div class="col-0 col-md-8"></div>
                            <div class="col-12 col-md-2">
                                <div *ngIf="showButtonAceptar == true">
                                    <button class="btn btn-success" type="button" (click)="Aceptar()">Aceptar</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div *ngIf="showButtonCancelar == true">
                                    <button class="btn btn-danger" type="button" (click)="Cancelar()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <hr>
                <!-- <hr> -->
                <h3>TABLA SALIDA DE PRODUCTO</h3>

                <div style="overflow:auto;">
                    <table mat-table [dataSource]="listDataOrdenTemporal" matSort>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOrdenTemporal"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOrdenTemporal;"></tr>

                        <ng-container matColumnDef="Options1">
                            <th mat-header-cell *matHeaderCellDef>Options</th>
                            <td mat-cell *matCellDef="let row; let i = index">

                                <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                  </button> -->
                                <!-- <mat-menu #menu="matMenu"> -->
                                <!--  -->
                                <!-- <button mat-icon-button class="btn btn-dark" (click)="onEdit(row, i)">
                                                            <mat-icon>edit</mat-icon>
                                                        </button> -->
                                <!--  -->
                                <button mat-icon-button class="btn btn-danger" color="warn" (click)="regresarConceptos(row)">
                  <mat-icon>undo</mat-icon>
                </button>
                                <!-- </mat-menu> -->
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="QR">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo QR</th>
                            <td mat-cell *matCellDef="let elementOT">{{elementOT.QR}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ClaveProducto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Producto</th>
                            <td mat-cell *matCellDef="let elementOT">{{elementOT.ClaveProducto}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Producto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                            <td mat-cell *matCellDef="let elementOT">{{elementOT.Producto}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Lote">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                            <td mat-cell *matCellDef="let elementOT">{{elementOT.Lote}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Sacos">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos</th>
                            <td mat-cell *matCellDef="let elementOT">{{elementOT.Sacos}}</td>
                        </ng-container>

                        <ng-container matColumnDef="PesoTotal">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso Total</th>
                            <td mat-cell *matCellDef="let elementOT">{{elementOT.PesoTotal}}</td>
                        </ng-container>

                        <ng-container matColumnDef="FechaCaducidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Caducidad</th>
                            <td mat-cell *matCellDef="let elementOT">{{elementOT.FechaCaducidad}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Comentarios">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentarios</th>
                            <td mat-cell *matCellDef="let elementOT">{{elementOT.Comentarios}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Options">
                            <th mat-header-cell *matHeaderCellDef>Options</th>
                            <td mat-cell *matCellDef="let row; let i = index">

                                <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                  </button> -->
                                <!-- <mat-menu #menu="matMenu"> -->
                                <!--  -->
                                <!-- <button mat-icon-button class="btn btn-dark" (click)="onEdit(row, i)">
                                                            <mat-icon>edit</mat-icon>
                                                        </button> -->
                                <!--  -->
                                <button mat-icon-button class="btn btn-success" color="dark" (click)="traspasoOrdenCargaTemporal(row)">
                  <mat-icon>redo</mat-icon>
                </button>
                                <!-- </mat-menu> -->
                            </td>
                        </ng-container>


                    </table>
                    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                    </mat-paginator>
                </div>

                <hr>
                <button class="btn btn-primary" type="button" (click)="traspaso()">
          <mat-icon>sync_alt</mat-icon> Traspasar
        </button>

                <hr>
                <button *ngIf="MostrarConceptos == false" class="btn btn-primary" type="button" (click)="conceptosFaltantes()">Productos Faltantes</button>
                <button *ngIf="MostrarConceptos == true" class="btn btn-primary" type="button" (click)="ocultarConceptosFaltantes()">Ocultar Tabla</button>
                <hr>
                <div *ngIf="MostrarConceptos == true">

                    <h3>TABLA PRODUCTOS FALTANTES</h3>

                    <div style="overflow:auto;">
                        <table mat-table [dataSource]="listDataConceptosFaltantes" matSort>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsConceptosFaltantes"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsConceptosFaltantes;"></tr>

                            <ng-container matColumnDef="ClaveProducto">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Producto</th>
                                <td mat-cell *matCellDef="let elementOT">{{elementOT.ClaveProducto}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Producto">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                                <td mat-cell *matCellDef="let elementOT">{{elementOT.Producto}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Lote">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                                <td mat-cell *matCellDef="let elementOT">{{elementOT.Lote}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Saldo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
                                <td mat-cell *matCellDef="let elementOT">{{elementOT.Saldo}}</td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="Options">
                                <th mat-header-cell *matHeaderCellDef>Options</th>
                                <td mat-cell *matCellDef="let row; let i = index"> -->

                            <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </button> -->
                            <!-- <mat-menu #menu="matMenu"> -->
                            <!--  -->
                            <!-- <button mat-icon-button class="btn btn-dark" (click)="onEdit(row, i)">
                                            <mat-icon>edit</mat-icon>
                                        </button> -->
                            <!--  -->
                            <!-- <button mat-icon-button class="btn btn-danger" color="warn" (click)="onDeleteOrdenTemporal(row)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button> -->
                            <!-- </mat-menu> -->
                            <!-- </td> -->
                            <!-- </ng-container> -->


                        </table>
                        <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>

                <!-- <hr> -->
                <div class="container" style="margin-right: 0;">
                    <div class="row">
                        <div class="col-0 col-md-8"></div>
                        <div class="col-12 col-md-2">
                            <p> <button style="float: right;" class="btn btn-primary custom-button" type="button" (click)="pdf()">PDF</button></p>
                        </div>
                        <div class="col-12 col-md-2">
                            <p> <button style="float: right;" class="btn btn-danger custom-button" type="button" (click)="finalizar()">Finalizar</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>