<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2>PREPARAR</h2>
                <button class="btn btn-primary" type="button" (click)="regresar()">Regresar</button>
                <hr>
                <button class="btn btn-primary" type="button" (click)="simularQR()">SIMULAR QR</button>
                <hr>
                <button class="btn btn-primary" type="button" (click)="traspaso()">Traspasar</button>
                <hr>
                <button class="btn btn-primary" type="button" (click)="pdf()">PDF</button>
                <hr>
                <button class="btn btn-primary" type="button" (click)="finalizar()">Finalizar</button>
            </div>
        </div>
    </div>
</div>