<!-- <input type="file" (change)="onChange($event.target.files)"> -->

<!-- <div>
    <h3>File Content</h3>
    <pre> {{fileContent}} </pre>
</div> -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">




                <h1>RK - XML</h1>
                <div class="row">
                    <div class="col-12">
                        <div class="form-material mat-elevation-z5">
                            <div class="card-body">

                                <div class="row">

                                    <div class="col-6">

                                        <div class="card-body">
                                            <ngx-dropzone (change)="onSelect($event)">
                                                <ngx-dropzone-label>Seleccionar Archivos</ngx-dropzone-label>
                                                <ngx-dropzone-image-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                                    <ngx-dropzone-label> {{ f.type }}</ngx-dropzone-label>
                                                </ngx-dropzone-image-preview>
                                            </ngx-dropzone>
                                            <!-- <hr> -->
                                            <!--  <div class="text-left text-danger" *ngIf="imagenSeleccionada == false">
                                    No hay ninguna imagen seleccionada.
                                </div> -->
                                        </div>


                                    </div>
                                    <div class="col-2" style="align-self: center; text-align: center;">
                                        <button [disabled]='terminado' mat-fab (click)="excel()" class="btncoti">
                            <mat-icon>cloud_download</mat-icon> 
                        </button>Detallado
                                    </div>
                                    <div class="col-2" style="align-self: center; text-align: center;">
                                        <button [disabled]='terminado' mat-fab (click)="excelresumen()" class="btncoti">
                            <mat-icon>cloud_download</mat-icon> 
                        </button>Resumen
                                    </div>
                                    <div class="col-2" style="align-self: center; text-align: center;">
                                        <button [disabled]='terminado' mat-fab (click)="exceldetallado()" class="btncoti">
                            <mat-icon>cloud_download</mat-icon> 
                        </button>Resumen Totales
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">


                                <div class="row">
                                    <mat-progress-bar mode="determinate" [value]="valor"></mat-progress-bar>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




                <div *ngIf='!terminado' class="row" style="overflow: scroll;">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!--     <div class="row">
                    <div class="col-4">
                        <h2> Nombre </h2>
                    </div>
                    <div class="col-4">
                        <h2> RFC </h2>
                    </div>
                    <div class="col-4">
                        <h2> Importe Total </h2>
                    </div>
                </div>

                <div *ngFor="let e of empleados" class="row">

                    <div class="col-4">{{e.Comprobante.Receptor[0].$.Nombre}}</div>
                    <div class="col-4">{{e.Comprobante.Receptor[0].$.Rfc}}</div>
                    <div class="col-4">{{e.Comprobante.$.Total}}</div>
                </div> -->

                                <table class="table-hover border3" *ngFor="let e of empleados; let i = index">
                                    <thead>
                                        <tr>
                                            <th class="blacktxt bolder">No. Emp.</th>
                                            <th class="blacktxt bolder">Nombre</th>
                                            <th class="blacktxt bolder">RFC</th>
                                            <th class="blacktxt bolder ">CURP</th>
                                            <th class="blacktxt bolder">NSS</th>
                                            <th class="blacktxt bolder">Fecha de Alta</th>
                                            <th class="blacktxt bolder">Departamento</th>
                                            <th class="blacktxt bolder">Puesto</th>
                                            <th class="blacktxt bolder">S.B.C.</th>
                                            <th class="blacktxt bolder">S.D.I.</th>
                                            <th class="blacktxt bolder">Periodicidad</th>
                                            <!-- <th></th> -->
                                        </tr>




                                    </thead>
                                    <tbody>

                                        <tr class="pgbreak border3">
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.NumEmpleado}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Receptor[0].$.Nombre}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Receptor[0].$.Rfc}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.Curp}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.NumSeguridadSocial}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.FechaInicioRelLaboral | date: 'dd/MM/yyyy'}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.Departamento}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.Puesto}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.SalarioBaseCotApor}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.SalarioDiarioIntegrado}} </td>
                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Receptor[0].$.PeriodicidadPago}} </td>

                                        </tr>
                                        <tr>
                                            <td [attr.colspan]="10">
                                                <table class="table-hover" style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="blacktxt bolder">Fecha Pago</th>
                                                            <th class="blacktxt bolder">Fecha Inicial</th>
                                                            <th class="blacktxt bolder">Fecha Final</th>
                                                            <th class="blacktxt bolder">Dias de Pago</th>
                                                            <th class="blacktxt bolder">Total Percepciones</th>
                                                            <th class="blacktxt bolder">Total Deducciones</th>
                                                            <th *ngIf='e.Comprobante.Complemento[0].Nomina[0].Emisor' class="blacktxt bolder">Registro Patronal</th>
                                                            <th class="blacktxt bolder">UUID</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].$.FechaPago}} </td>
                                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].$.FechaInicialPago}} </td>
                                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].$.FechaFinalPago}} </td>
                                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].$.NumDiasPagados}} </td>
                                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].$.TotalPercepciones}} </td>
                                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].$.TotalDeducciones}} </td>
                                                            <td *ngIf='e.Comprobante.Complemento[0].Nomina[0].Emisor && e.Comprobante.Complemento[0].Nomina[0].Emisor[0].$' class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].Nomina[0].Emisor[0].$.RegistroPatronal}} </td>
                                                            <td class="wrap lightback pgbreak" [attr.colspan]="1"> {{e.Comprobante.Complemento[0].TimbreFiscalDigital[0].$.UUID}} </td>
                                                        </tr>
                                                    </tbody>

                                                </table>

                                            </td>
                                        </tr>
                                        <tr>

                                            <td [attr.colspan]="5">
                                                <table class="table-hover" style="width: 100%">
                                                    <thead style="border-bottom: solid;">
                                                        <tr>
                                                            <th class="blacktxt bolder" [attr.colspan]="2">Percepciones</th>

                                                            <!-- <th class="blacktxt bolder" [attr.colspan]="1">{{e.Comprobante.Complemento[0].Nomina[0].Percepciones[0].$.TotalSueldos}}</th> -->
                                                            <th class="blacktxt bolder" [attr.colspan]="2">Deducciones</th>
                                                            <!-- <th class="blacktxt bolder" [attr.colspan]="1">{{e.Comprobante.Complemento[0].Nomina[0].Deducciones[0].$.TotalSueldos}}</th> -->
                                                            <!-- <th class="blacktxt bolder" [attr.colspan]="e.Comprobante.Complemento[0].Nomina[0].Percepciones[0].Percepcion.length">Percepciones</th>
                                            <th class="blacktxt bolder" [attr.colspan]="e.Comprobante.Complemento[0].Nomina[0].Deducciones[0].Deduccion.length">Deducciones</th> -->
                                                        </tr>
                                                        <!--    <tr>
                                                            <th></th>
                                                            <th class="blacktxt bolder" [attr.colspan]="1">Gravado</th>
                                                            <th class="blacktxt bolder" [attr.colspan]="1">Exento</th>
                                                        </tr> -->

                                                    </thead>

                                                    <tbody>
                                                        <td *ngIf="e.Comprobante.Complemento[0].Nomina[0].Percepciones" style="vertical-align: top;">
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th class="blacktxt bolder" [attr.colspan]="1">Gravado</th>
                                                                <th></th>
                                                                <th class="blacktxt bolder" [attr.colspan]="1">Exento</th>
                                                            </tr>

                                                            <tr *ngFor="let p of e.Comprobante.Complemento[0].Nomina[0].Percepciones[0].Percepcion; let i of index">
                                                                <td class="blacktxt bolder ">{{p.$.Concepto}}</td>
                                                                <td></td>
                                                                <td class="blacktxt bolder ">{{p.$.ImporteGravado}}</td>
                                                                <td></td>
                                                                <td class="blacktxt bolder ">{{p.$.ImporteExento}}</td>
                                                            </tr>
                                                        </td>
                                                        <td></td>
                                                        <td *ngIf="e.Comprobante.Complemento[0].Nomina[0].Deducciones" style="vertical-align: top;">
                                                            <tr *ngFor="let d of e.Comprobante.Complemento[0].Nomina[0].Deducciones[0].Deduccion; let ii of index">
                                                                <td class="blacktxt bolder ">{{d.$.Concepto}}</td>
                                                                <td></td>
                                                                <td class="blacktxt bolder ">{{d.$.Importe}}</td>


                                                            </tr>
                                                        </td>

                                                        <!--    <tr *ngFor="let d of e.Comprobante.Complemento[0].Nomina[0].Deducciones[0].Deduccion; let ii of index" class="pgbreak border3">
                                            <td class="blacktxt bolder ">{{d.$.Concepto}}</td>
                                            <td class="blacktxt bolder ">{{d.$.Importe}}</td>


                                        </tr> -->


                                                    </tbody>





                                                </table>




                                            </td>


                                        </tr>

                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fin de Cambios -->
            </div>
        </div>
    </div>
</div>