<div style="overflow: auto; height: 800px;">
    <div>
        <button class="btn btn-danger" color="warn" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    </div>



    <div class="modal0-body ">

        <div id="Cotizacion-PDF">
            <!-- TOP PAGE LOGO DESCRIPTION FACTURA -->
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-4">
                        <div class="card card-outline-inverse">
                            <!-- <div class="card-header">
                                        <h6 class="m-b-0 text-white">Logo</h6>
                                    </div>
                                    <div class="card-body">
                                    </div> -->

                            <img src="../../../assets/images/prolacto.png" class="logo">

                        </div>
                    </div>
                    <div class="col-4"></div>

                    <!-- factura folio -->
                    <div class="col-4">
                        <div class="card-body">
                            <span style="font-size: 40px; font-weight: 900; color: red;">COTIZACION</span>
                            <div style="display: inline-block;">
                                <p>
                                    Cotizacion
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End TOP -->
            <!-- contenido -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>

            <!-- fin contenido -->
        </div>
        <!-- fin pdf -->


    </div>

</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" (click)="onClose()">Cerrar</button>
    <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Descargar</button>
</div>