.no-scroll::-webkit-scrollbar {
    display: none;
}

body {
    color: #000000 !important;
}

.card-header {
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 4px;
    background: #ffffff;
    border-color: #ffffff;
    padding-left: 10px;
}

.blacktxt {
    color: #000000;
}

.bolder {
    font-weight: 900;
}

.card-outline-inverse {
    background: #ffffff;
    border-color: #000000;
}

.nowrap {
    white-space: nowrap
}

.borderContainer {
    border: 1px solid black;
}

p {
    font-size: 12px !important;
    color: #000000 !important;
}

Æ’ p>.nomarginbottomP {
    font-size: 12px !important;
    margin-bottom: 0px;
}

.nomarginbottomP {
    margin-bottom: 0px;
}

.PSellosQR {
    font-size: 8px !important;
}

.text-center {
    margin-bottom: 0px;
}

h6 {
    line-height: 1px;
    font-size: 10px;
}

th {
    white-space: nowrap;
}

.table th {
    padding-right: .75rem;
}

.containerborder {
    border: 1px solid black;
}

.bordeTopBottom {
    width: 100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.containerborderbottom {
    border-bottom: 1px solid rgb(223, 223, 223);
    margin-bottom: 10px;
    opacity: 0.4;
    color: black;
}

.table-responsive {
    margin-top: -23px;
    margin-bottom: -30px;
}

.table {
    padding-right: 0rem;
    padding-left: 0.4rem;
}

.col-lg-12 {
    padding-right: 1px;
    padding-left: 20px;
}

.col-sm-6 {
    padding-right: 1px;
    padding-left: 20px;
}

.col-lg-6 {
    padding-right: 1px;
    padding-left: 1px;
}

.col-lg-7 {
    padding-bottom: 0px;
}

th {
    font-size: 15px;
}

.campofirma {
    width: 100%;
    border-bottom: 1px solid black;
}

.card-body {
    /* padding-bottom: -20px;
    padding-top: 0rem; */
    padding: 0rem;
}

.card {
    margin-bottom: 10px;
}


/* .logo {
    max-height: 200px;
} */

.col-lg-12 .col-md-12 {
    padding-left: 0px;
    margin-left: 0px;
}

.tablaBodyAcomodo {
    height: 10px;
}

.textoBodyAcomodo {
    padding: 0;
}

.acomodoForzadoTh {
    padding-left: 15px !important;
}

.acomodoForzadoTh2 {
    padding-left: 20px !important;
}

.acomodoForzadoTh3 {
    padding-left: 5px !important;
}

.pgbreak {
    page-break-before: auto;
}

.bottomR {
    margin-top: 0px;
    margin-bottom: 24px !important;
}

.wrapper {
    padding-top: 50%;
}

.overflow {
    overflow: scroll;
}

.line {
    width: 100%;
    border-top: 1px solid #000000;
}

.tdnomargin {
    margin: 0px;
    padding: 0px;
}

tbody > tr > td{
    color: rgb(67, 67, 67);
}


/* .cowcontainer {
    /* clip-path: polygon(50% 20%, 90% 80%, 10% 80%); */


/* transform: rotate(135deg);
    height: 800px;
    width: 1000px; */


/* } */