<div style="overflow: auto; height: 80vh;">
    <div>
        <button class="btn btn-danger" color="warn" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    </div>



    <div class="modal0-body">

        <div id="Cotizacion-PDF">
            <!-- TOP PAGE LOGO DESCRIPTION FACTURA -->
            <div class="container">
                <div class="row">

                    <div class="col-12" style="background-color: black; height: 15px;"></div>
                </div>

                <div class="row">
                    <!-- logo -->
                    <div class="col-2" style="padding-left: 0;">
                        <div class="card card-outline-inverse">
                            <img [src]="'assets/images/logoCotizacion.jpg'" style="height: 150px; width: 250px;">
                        </div>
                    </div>
                    <div class="col-5"></div>
                    <div class="col-5">




                        <!-- factura folio -->

                        <div class="card-body">
                            <span style="font-size: 30px; font-weight: 400; color: #000000;">COTIZACION</span>
                            <h5 class=" nomarginbottomP">COTIZACION #<span style="float: right;">{{this.service.formrow.Folio}}</span></h5>
                            <h5>FECHA EXPEDICION:<span style="float: right;">
                              {{this.service.formrow.FechaDeExpedicion | date: 'yyyy/MM/dd'}}</span></h5>
                        </div>


                    </div>

                </div>
            </div>
            <!-- End TOP -->
            <!-- ../../../assets/images/sacos/3.DARIGOLDmilk.png -->
            <!-- contenido -->
            <div style="background-image: url('/assets/images/prolactopngopacidad2.png'); min-height: 500px; background-size: cover">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col">SACO</th> -->
                            <th scope="col">CODIGO</th>
                            <th scope="col">DESCRIPCION</th>
                            <th scope="col">PRECIO UNITARIO</th>
                            <th scope="col">CANTIDAD</th>
                            <th scope="col">TOTAL</th>
                        </tr>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">SACO</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let conceptos of arrcon; let i = index">
                        <tr>

                            <td>{{conceptos.ClaveProducto}}</td>
                            <td>{{conceptos.Producto}}</td>
                            <td *ngIf="this.service.formrow.Moneda=='MXN'">{{conceptos.PrecioUnitario | currency}}</td>
                            <td *ngIf="this.service.formrow.Moneda=='USD'">{{conceptos.PrecioUnitarioDlls | currency}}</td>
                            <td>{{conceptos.Cantidad}}</td>
                            <td *ngIf="this.service.formrow.Moneda=='MXN'">{{conceptos.Importe | currency}}</td>
                            <td *ngIf="this.service.formrow.Moneda=='USD'">{{conceptos.ImporteDlls | currency}}</td>
                        </tr>
                        <tr>
                            <th scope="col"></th>
                            <th scope="row" class="tdnomargin" style="text-align: center; padding-bottom: 10px"><img [src]="srcimageninicial+conceptos.imagen+'.png'" alt="Logo" style="height: 90px; width: 90px; "></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- fin contenido -->
            <!-- contenido 2 -->
            <!-- <div class="containerborderbottom" [ngStyle]="{'height.px': defaultpx}"> -->

            <!-- fin contenido 2 -->

            <div class="container row">
                <div class="col-4 container row">
                    <h5>INFORMACION:</h5>
                    <div class="col-12">
                        <p class=" blacktxt nomarginbottomP" style="font-size: 13px !important; font-weight: 420;">Cliente: <span style="font-weight: 100;">{{this.service.formrow.Nombre}}</span></p>
                    </div>
                    <div class="col-12">
                        <p class=" blacktxt nomarginbottomP" style="font-size: 13px !important; font-weight: 420;">Telefono: <span style="font-weight: 100;">{{this.service.formrow.Telefono}}</span></p>
                    </div>
                    <div class="col-12">
                        <p class=" blacktxt nomarginbottomP" style="font-size: 13px !important; font-weight: 420;">Correo: <span style="font-weight: 100;">{{this.service.formrow.Correo}}</span></p>
                    </div>
                </div>
                <div class="col-4">
                    <h5>DATOS ADICIONALES:</h5>
                    <div class="col-12">
                        <p class=" blacktxt nomarginbottomP" style="font-size: 13px !important; font-weight: 420;">Moneda: <span style="font-weight: 100;">{{this.service.formrow.Moneda}}</span></p>
                    </div>
                    <div class="col-12">
                        <p class=" blacktxt nomarginbottomP" style="font-size: 13px !important; font-weight: 420;">Tipo de Cambio: <span style="font-weight: 100;">{{this.service.formrow.TipoDeCambio}}</span></p>
                    </div>
                    <div class="col-12">
                        <p class=" blacktxt nomarginbottomP" style="font-size: 13px !important; font-weight: 420;">Vigencia: <span style="font-weight: 100;">{{this.service.formrow.Vigencia | date: 'yyyy/MM/dd'}}</span></p>
                    </div>
                    <div class="col-12">
                        <p class=" blacktxt nomarginbottomP" style="font-size: 13px !important; font-weight: 420;">Tipo de Flete: <span style="font-weight: 100;">{{this.service.formrow.Flete}}</span></p>
                    </div>
                    <div class="col-12">
                        <p class=" blacktxt nomarginbottomP" style="font-size: 13px !important; font-weight: 420;"><span style="font-weight: 100;">{{this.service.formrow.Observaciones}}</span></p>
                    </div>
                </div>
                <div class="col-4 container row">
                    <div class="col-6">
                        <h4 class=" blacktxt nomarginbottomP">Subtotal</h4>
                    </div>
                    <div class="col-6">
                        <p class=" blacktxt nomarginbottomP">{{this.service.formrow.Subtotal | currency}}</p>
                    </div>
                    <!--   <div class="col-6">
                        <h4 class=" blacktxt nomarginbottomP">IVA</h4>
                    </div>
                    <div class="col-6">
                        <p class=" blacktxt nomarginbottomP">***</p>
                    </div> -->
                    <div class="line"></div>
                    <div class="col-6">
                        <h4 class=" blacktxt nomarginbottomP">Total</h4>
                    </div>
                    <div class="col-6">
                        <h5 class=" blacktxt nomarginbottomP">{{this.service.formrow.Total | currency}}</h5>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-8">


                        <p class=" blacktxt nomarginbottomP nowrap" style="font-size: 10px !important; text-align: left;">Para fines informativos y de comparacion, calculado al {{this.service.formrow.FechaDeExpedicion | date: 'yyyy/MM/dd'}}</p>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row" style="background-color: black">

                    <div class="col-4" style="color: white; text-align: end">

                        <h3 style="color: white"> <i class="fa fa-phone"></i> {{telefonousuario}}</h3>
                        <!-- <div class="card card-outline-inverse">
                            <img src="../../../assets/images/footerCotizacion.jpg" style="height: 200px; width: 300px;">
                        </div> -->
                    </div>
                    <div class="col-1">
                        <h3 style="color: white"> | </h3>
                    </div>
                    <div class="col-7" style="color: white; text-align:start">

                        <h3 style="color: white"><i class="fa fa-globe"></i> www.prolactoingredientes.com.mx </h3>
                    </div>
                </div>
            </div>

            <!-- fin pdf -->
        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" (click)="onClose()">Cerrar</button>
    <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Descargar</button>
</div>