/deep/ .customImgSel .img-ul-button {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    font-size: 15px;
}

/deep/ .customImgSel .img-ul-upload {
    background-color: #545454 !important;
}

/deep/ .customImgSel .img-ul-clear {
    background-color: rgb(25, 55, 187) !important;
}

/deep/ .customImgSel .img-ul-drag-box-msg {
    color: rgb(0, 140, 255) !important;
}

/deep/ .customImgSel .img-ul-container {
    background-color: rgb(255, 255, 255) !important;
}