<div class="d-flex justify-content-between">
    <h4 style="font-weight: 900;">Direcciones del Cliente:
        <p style="font-weight: 400; ">{{NombreCliente}} </p>
    </h4>
    <h4 style="font-weight: 900;">IdCliente:
        <p style="font-weight: 400; ">{{IdCliente}} </p>
    </h4>

    <button mat-button class="btn btn-danger" style="height: 50px;" color="warn" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>


</div>


<div style="overflow: auto; height: 650px;">
    <hr>

    <!-- Inicio FORM -->
    <form #form="ngForm" autocomplete="off">

        <div class="form-material">
            <div class="container">
                <div class="row">


                    <div class="col-lg-6">
                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                        <!-- <label class="input-group-text text-info ">IdCliente</label>
                        <input readonly type="text" class="form-control" name="IdCliente" [(ngModel)]="IdCliente"> -->
                        <!--  ------------------------------------------------------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                        <label class="input-group-text text-info ">Calle</label>
                        <input required type="text" class="form-control" name="Calle" #Calle="ngModel" [(ngModel)]="service.formData.Calle" autocomplete="off">

                        <div class="text-left text-danger" *ngIf="Calle.invalid && Calle.touched">
                            Favor de Ingresar Calle
                        </div>
                        <!--  ------------------------------------------------------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                        <label class="input-group-text text-info ">Colonia</label>
                        <input required type="text" class="form-control" name="Colonia" #Colonia="ngModel" [(ngModel)]="service.formData.Colonia" autocomplete="off">

                        <div class="text-left text-danger" *ngIf="Colonia.invalid && Colonia.touched">
                            Favor de Ingresar Colonia
                        </div>
                        <!--  ------------------------------------------------------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                        <label class="input-group-text text-info ">Codigo Postal</label>
                        <input required type="text" class="form-control" name="CP" #CP="ngModel" [(ngModel)]="service.formData.CP" autocomplete="off">

                        <div class="text-left text-danger" *ngIf="CP.invalid && CP.touched">
                            Favor de Ingresar Codigo Postal
                        </div>
                        <!--  ------------------------------------------------------------------------------------------------------------------------ -->


                    </div>
                    <div class="col-lg-6">
                        <!--               -------------------------------------------------------                                       -->


                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                        <label class="input-group-text text-info ">Ciudad</label>
                        <input required type="text" class="form-control" name="Ciudad" #Ciudad="ngModel" [(ngModel)]="service.formData.Ciudad" autocomplete="off">

                        <div class="text-left text-danger" *ngIf="Ciudad.invalid && Ciudad.touched">
                            Favor de Ingresar Ciudad
                        </div>
                        <!--  ------------------------------------------------------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                        <label class="input-group-text text-info ">Estado</label>
                        <input required type="text" class="form-control" name="Estado" #Estado="ngModel" [(ngModel)]="service.formData.Estado" autocomplete="off">

                        <div class="text-left text-danger" *ngIf="Estado.invalid && Estado.touched">
                            Favor de Ingresar Estado
                        </div>
                        <!--  ------------------------------------------------------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                        <label class="input-group-text text-info ">Numero Exterior</label>
                        <input required type="text" class="form-control" name="NumeroExterior" #NumeroExterior="ngModel" [(ngModel)]="service.formData.NumeroExterior" autocomplete="off">

                        <div class="text-left text-danger" *ngIf="NumeroExterior.invalid && NumeroExterior.touched">
                            Favor de Ingresar Numero Exterior
                        </div>
                        <!--  ------------------------------------------------------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                        <label class="input-group-text text-info ">Numero Interior</label>
                        <input type="text" class="form-control" name="NumeroInterior" #NumeroInterior="ngModel" [(ngModel)]="service.formData.NumeroInterior" autocomplete="off">

                        <div class="text-left text-danger" *ngIf="NumeroInterior.invalid && NumeroInterior.touched">
                            Favor de Ingresar Numero Interior
                        </div>
                        <!--  ------------------------------------------------------------------------------------------------------------------------ -->


                    </div>

                </div>
            </div>
        </div>
        <br>
        <button *ngIf="agregarDireccion == true" (click)="AgregarDireccionCliente(form)" class="btn btn-success" mat-raised-button color="success" [disabled]="form.invalid">Agregar Direccion</button>
        <button *ngIf="agregarDireccion == false" (click)="ActualizarDireccion(form)" class="btn btn-success" mat-raised-button color="success" [disabled]="form.invalid">Actualizar Direccion</button>
        <button *ngIf="agregarDireccion == false" (click)="Cancelar(form)" class="btn btn-danger" mat-raised-button color="danger" [disabled]="form.invalid">Cancelar</button>
        <button mat-icon-button class="btn btn-danger" color="warn" (click)="LimpiarCampos(form)"><mat-icon>delete_outline</mat-icon></button>
        <br>
        <hr>
    </form>
    <!-- Fin FORM -->

    <!-- Inicio Tabla -->

    <div style="overflow:auto;">
        <table mat-table [dataSource]="listData" matSort>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <ng-container matColumnDef="Calle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Calle</th>
                <td mat-cell *matCellDef="let element">{{element.Calle}}</td>
            </ng-container>
            <ng-container matColumnDef="Colonia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Colonia</th>
                <td mat-cell *matCellDef="let element">{{element.Colonia}}</td>
            </ng-container>
            <ng-container matColumnDef="CP">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Postal</th>
                <td mat-cell *matCellDef="let element">{{element.CP}}</td>
            </ng-container>
            <ng-container matColumnDef="Ciudad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
                <td mat-cell *matCellDef="let element">{{element.Ciudad}}</td>
            </ng-container>
            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let element">{{element.Estado}}</td>
            </ng-container>
            <ng-container matColumnDef="NumeroInterior">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero Interior</th>
                <td mat-cell *matCellDef="let element">{{element.NumeroInterior}}</td>
            </ng-container>
            <ng-container matColumnDef="NumeroExterior">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero Exterior</th>
                <td mat-cell *matCellDef="let element">{{element.NumeroExterior}}</td>
            </ng-container>

            <ng-container matColumnDef="Options">
                <th mat-header-cell *matHeaderCellDef>Options</th>
                <td mat-cell *matCellDef="let row">

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                      </button>
                    <mat-menu #menu="matMenu">
                        <!--  -->
                        <button mat-icon-button class="btn btn-dark" (click)="EditarDireccionCliente(row)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                        <!--  -->
                        <button mat-icon-button class="btn btn-danger" color="warn" (click)="EliminarDireccionCliente(row.IdDireccion)">
                                                    <mat-icon>delete_outline</mat-icon>
                                                </button>
                    </mat-menu>
                </td>
            </ng-container>


        </table>
        <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
        </mat-paginator>
    </div>

    <!-- Final Tabla -->

</div>