<div style="overflow-y: scroll; overflow-x: hidden; height: 80vh;">
    <div>
        <button class="btn btn-danger" color="warn" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    </div>



    <div class="modal0-body ">

        <div id="EntradaProducto-PDF">
            <!-- TOP PAGE -->
            <div class="container" style="height: 98px; padding-left: 0; padding-right: 0;">
                <div class="row">
                    <!-- logo -->
                    <div class="col-3" style="padding-top: 0; margin-top: 0;">
                        <div class="card card-outline-inverse">

                            <img src="../../../assets/images/ProLactoLogo.png" class="logo">

                        </div>
                    </div>
                    <!-- descripcion -->
                    <div class="col-9">
                        <div class="container row">
                            <div class="col-3 containerborder">
                                <p class="bolder blacktxt">Preparado por: </p>
                            </div>
                            <div class="col-3 containerborder">
                                <p>Pancholin </p>
                            </div>
                            <div class="col-3 containerborder nowrap">
                                <p class="bolder blacktxt nowrap">Codigo de Documento: </p>
                            </div>
                            <div class="col-3 containerborder">
                                <p> {{this.service.formDatapdf.Folio}}</p>
                            </div>
                        </div>
                        <div class="container row">
                            <div class="col-3 containerborder">
                                <p class="bolder blacktxt">provado por: </p>
                            </div>
                            <div class="col-3 containerborder">
                                <p>Direccion General </p>
                            </div>
                            <div class="col-3 containerborder">
                                <p class="bolder blacktxt">Fecha de Revision </p>
                            </div>
                            <div class="col-3 containerborder">
                                <p>27/09/2019 </p>
                            </div>
                        </div>
                        <div class="container row">
                            <div class="col-3 containerborder">
                                <p class="bolder blacktxt">Revisado por: </p>
                            </div>
                            <div class="col-3 containerborder">
                                <p> Gustavo</p>
                            </div>
                            <div class="col-3 containerborder">
                                <p class="bolder blacktxt"> Revision:</p>
                            </div>
                            <div class="col-3 containerborder">
                                <p>A </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End TOP -->

            <!-- BODY -->
            <div>
                <h5 class="text-center bolder blacktxt">ENTRADA DE PRODUCTO</h5>
                <div style="display: inline-block; width: 60%;">
                    <div class="containerborder">
                        <p class="bolder blacktxt">PROVEEDOR: <span style="font-weight:400"> PANCHITO</span></p>
                    </div>
                    <div class="containerborder">
                        <p class="bolder blacktxt">PEDIMENTO: <span style="font-weight:400">{{this.pedimento}}</span></p>
                    </div>
                    <div class="containerborder">
                        <p class="bolder blacktxt">TRANSPORTISTA: <span style="font-weight:400">{{this.service.formDatapdf.Fletera}}</span></p>
                    </div>
                    <div class="containerborder">
                        <p class="bolder blacktxt">NOMBRE OPERADOR <span style="font-weight:400">MIGUEL**</span></p>
                    </div>
                </div>

                <div style="display: inline-block; width: 40%;">
                    <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                        <div class="col-8" style="padding-left:0">
                            <p class="bolder blacktxt">FECHA </p>
                        </div>
                        <div class="col-4" style="padding-right:0">
                            <p><span style="font-weight:400">{{this.service.formDatapdf.FechaInicioCarga | date: 'yyyy/MM/dd'}}</span></p>
                        </div>
                    </div>
                    <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                        <div class="col-8" style="padding-left:0">
                            <p class="bolder blacktxt">N° FACTURA, REMISION O TRASPASO </p>
                        </div>
                        <div class="col-4" style="padding-right:0">
                            <p><span style="font-weight:400;">IUSFHD 918**</span></p>
                        </div>
                    </div>
                    <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                        <div class="col-8" style="padding-left:0">
                            <p class="bolder blacktxt">UNIDAD</p>
                        </div>
                        <div class="col-4" style="padding-right:0">
                            <p> <span style="font-weight:400">T6185**</span></p>
                        </div>
                    </div>
                    <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                        <div class="col-8" style="padding-left:0">
                            <p class="bolder blacktxt">SELLO CAJA </p>
                        </div>
                        <div class="col-4" style="padding-right:0">
                            <p> <span style="font-weight:400">CEIJOASFD 1984**</span></p>
                        </div>
                    </div>
                    <div class="containerborder container row" style="margin-left: 0; padding-left: 0;">
                        <div class="col-6" style="padding-left:0">
                            <p class="bolder blacktxt">HORA LLEGADA: <span style="font-weight:400">{{this.service.formDatapdf.FechaInicioCarga | date: 'hh:mm:ss'}}</span></p>
                        </div>
                        <div class="col-6" style="padding-right:0">
                            <p class="bolder blacktxt">HORA SALIDA: <span style="font-weight:400">{{this.service.formDatapdf.FechaFinalCarga | date: 'hh:mm:ss'}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 730px;">

                <table>
                    <thead>
                        <tr>
                            <th class="blacktxt bolder whitecolor">Numero de Tarima</th>
                            <th class="blacktxt bolder whitecolor">Clave Producto</th>
                            <th class="blacktxt bolder whitecolor">Producto</th>
                            <th class="blacktxt bolder whitecolor">SACOS</th>
                            <th class="blacktxt bolder whitecolor">PESO POR SACO</th>
                            <th class="blacktxt bolder whitecolor">LOTE</th>
                            <th class="blacktxt bolder whitecolor">FECHA MFG</th>
                            <th class="blacktxt bolder whitecolor">FECHA CAD</th>
                            <th class="blacktxt bolder whitecolor">Comentarios</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let conceptos of arrcon; let i = index">
                        <tr class="pgbreak">
                            <td style="text-align: center;" class="wrap lightback pgbreak"> {{conceptos.Proveedor}} </td>
                            <td style="text-align: center;" class="wrap lightback">{{conceptos.ClaveProducto}}</td>
                            <td style="text-align: center;" class="wrap lightback pgbreak"> {{conceptos.Producto}}</td>
                            <td style="text-align: center;" class="pgbreak">{{conceptos.Sacos}} </td>
                            <td style="text-align: center;" class="pgbreak">{{conceptos.PesoxSaco}}</td>
                            <td style="text-align: center;" class="pgbreak">{{conceptos.Lote}} </td>
                            <td style="text-align: center;" class="pgbreak">{{conceptos.FechaMFG | date: 'yyyy/MM/dd'}}</td>
                            <td style="text-align: center;" class="pgbreak">{{conceptos.FechaCaducidad | date: 'yyyy/MM/dd'}} </td>
                            <td style="text-align: center;" class="pgbreak">no observaciones**</td>
                    </tbody>

                </table>
            </div>

            <div class="container row pgbreak" style="padding-right: 0;">
                <div class="col-5 pgbreak">
                    <table class="table-striped pgbreak">
                        <thead>
                            <tr>
                                <th class="blacktxt bolder whitecolor">Factura</th>
                                <th class="blacktxt bolder whitecolor">Sacos</th>
                                <th class="blacktxt bolder whitecolor">KG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pgbreak">
                                <td style="text-align: center;">1</td>
                                <td style="text-align: center;">1</td>
                                <td style="text-align: center;">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
                <div class="col-6" style="padding-right: 0;">
                    <div class="container row">

                        <div class="col-6 containerborder">
                            <p class="bolder blacktxt" style="text-align: center;">
                                Recibe
                            </p>
                        </div>
                        <div class="col-6 containerborder">
                            <p class="bolder blacktxt" style="text-align: center;">
                                {{this.service.formDatapdf.Usuario}}
                            </p>
                        </div>
                    </div>
                    <div class="container row">

                        <div class="col-6 containerborder">
                            <p class="bolder blacktxt" style="text-align: center;">
                                PESO TOTAL CARGA:
                            </p>
                        </div>
                        <div class="col-6 containerborder nowrap">
                            <p style="text-align: center;">
                                {{this.pesoTotal}} KG.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- fin Area A IMPRIMIR -->

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" (click)="onClose()">Cerrar</button>
    <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Descargar</button>
</div>