<div class="d-flex justify-content-between">
    <h4>Agregar Nuevo Producto</h4>

    <button mat-button class="btn btn-danger" color="warn" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>


</div>
<hr>

<div style="overflow: auto; height: 450px;">


    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <div class="form-material">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <label class="input-group-text text-info">Nombre</label>
                        <input required type="text" placeholder="Escribe el nombre" class="form-control" name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formData.Nombre">

                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">Precio Costo</label>
                        <input required type="number" class="form-control" placeholder="Escribe el precio costo" name="PrecioCosto" #PrecioCosto="ngModel" [(ngModel)]="service.formData.PrecioCosto">

                        <!--               -------------------------------------------------------                                       -->
                        <label class="input-group-text text-info">Precio Venta</label>
                        <input required type="number" class="form-control" placeholder="Escribe el precio venta" name="PrecioVenta" #PrecioVenta="ngModel" [(ngModel)]="service.formData.PrecioVenta">

                        <!--               -------------------------------------------------------                                       -->



                        <div class="input-group-prepend">
                            <label class="input-group-text text-info">Cantidad</label>
                            <input required type="number" class="form-control" placeholder="Escribe la cantidad" name="Cantidad" #Cantidad="ngModel" [(ngModel)]="service.formData.Cantidad">
                        </div>

                        <!--               -------------------------------------------------------                                       -->
                        <label class="input-group-text text-info">Clave Producto</label>
                        <input required type="text" placeholder="Escribe la clave del producto" class="form-control" name="ClaveProducto" #ClaveProducto="ngModel" [(ngModel)]="service.formData.ClaveProducto">

                        <!--               -------------------------------------------------------                                       -->
                        <label class="input-group-text text-info">Stock</label>
                        <input required type="text" class="form-control" placeholder="Escribe el stock" name="Stock" #Stock="ngModel" [(ngModel)]="service.formData.Stock">

                        <!--               -------------------------------------------------------                                       -->
                        <!--               -------------------------------------------------------                                       -->
                        <label class="input-group-text text-info">Codigo de Barras</label>
                        <input required type="text" class="form-control" placeholder="Escribe el CodigoBarras" name="CodigoBarras" #CodigoBarras="ngModel" [(ngModel)]="service.formData.CodigoBarras">

                        <!--               -------------------------------------------------------                                       -->

                    </div>
                    <div class="col-lg-6">

                        <label class="input-group-text text-info">Descripcion Producto</label>
                        <input required type="text" placeholder="Escribe la Descripcion del producto" class="form-control" name="DescripcionProducto" #DescripcionProducto="ngModel" [(ngModel)]="service.formData.DescripcionProducto">

                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">Estatus</label>
                        <input required type="text" placeholder="Escribe el estatus" class="form-control" name="Estatus" #Estatus="ngModel" [(ngModel)]="service.formData.Estatus">

                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">Unidad Medida</label>
                        <br>
                        <!-- <input required  type="text" placeholder="Escribe la unidad de medida" class="form-control" name="UnidadMedida" #UnidadMedida="ngModel" [(ngModel)]="service.formData.UnidadMedida">
                        <div class="text-left text-danger" *ngIf="UnidadMedida.invalid && UnidadMedida.touched">
                            Favor de Ingresar Unidad Medida
                        </div> -->

                        <mat-form-field class="example-full-width">
                            <!-- <mat-form-field class="input-group-text text-info"> -->
                            <input type="text" placeholder="Seleccionar Medida" aria-label="Number" matInput [formControl]="myControlUnidad" [matAutocomplete]="autoUnidad" [(ngModel)]="service.formData.UnidadMedida">
                            <mat-autocomplete #autoUnidad="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptionsUnidad | async" [value]="option.ClaveSAT">
                                    {{option.ClaveSAT}} {{option.Nombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <br>
                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">IVA</label>
                        <mat-checkbox class="example-margin" name="IVA" #IVA="ngModel" (ngModel)="service.formData.IVA"></mat-checkbox>
                        <!-- <input type="checkbox" class="form-control" name="IVA" #IVA="ngModel" [(ngModel)]="service.formData.IVA"> -->
                        <!--               -------------------------------------------------------                                       -->
                        <br>

                        <label class="input-group-text text-info">Clave SAT</label>
                        <input required type="text" placeholder="Escribe la clave SAT" class="form-control" name="ClaveSAT" #ClaveSAT="ngModel" [(ngModel)]="service.formData.ClaveSAT">


                        <label class="input-group-text text-info">Categoria</label>
                        <input required type="text" placeholder="Escribe la Categoria" class="form-control" name="Categoria" #Categoria="ngModel" [(ngModel)]="service.formData.Categoria">

                        <br>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <mat-checkbox #checkbox [(checked)]="MarcasRel" (change)='check(checkbox.checked)'>Marcas Relacionadas</mat-checkbox>
        <br>

    </form>

    <div class="form-material" *ngIf="this.MarcasRel == true">
        <h5>Marcas Relacionadas</h5>
        <div class="container row">
            <div class="col-12">

                <!-- <mat-form-field style="width: 100%;">
                    <input matInput type="text" placeholder="Seleccionar Producto" aria-label="Number" [formControl]="myControl" matInput [matAutocomplete]="auto" [(ngModel)]="this.productosService.productosRelForm.nombre" name="nombre">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre" (blur)="onBlurProducto()" (onSelectionChange)="onSelectionChange(option, $event)">
                            {{option.idProductos}} {{option.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> -->
            </div>
        </div>
        <div class="container row">
            <div class="col-md-6 col-12">
                <label class="input-group-text text-info">Clave</label>
                <input matInput placeholder="Clave Marca" name="ClaveMarca" class="form-control" #ClaveMarca="ngModel" [(ngModel)]="this.service.MarcasRelForm.ClaveMarca">

                <label class="input-group-text text-info">Nombre Marca</label>
                <input matInput placeholder="Nombre Marca" name="NombreMarca" class="form-control" #NombreMarca="ngModel" [(ngModel)]="this.service.MarcasRelForm.NombreMarca">
            </div>
        </div>
        <button class="btn btn-success" mat-raised-button (click)="agregarMarcaRel()" color="primary" [disabled]='!this.service.formData.Nombre'>Agregar Marca</button>
    </div>

    <br>
    <button class="btn btn-success" mat-raised-button type="submit" color="success" [disabled]="form.invalid">Finalizar</button>

</div>