.btn-danger:hover {
    color: #ffffff;
    background: #ff0000;
}

::ng-deep .mat-header-cell {
    color: #ffffff;
    background: #000000;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.folio {
    cursor: pointer;
}

.btn-danger:hover {
    color: white;
}

::ng-deep .mat-cell {
    overflow: auto;
}

::ng-deep .mat-header-cell {
    color: #ffffff;
    background: #000000;
}


/* 
button {
    padding-left: 10px;
} */

.color {
    background-color: rgba(230, 69, 69, 0.596);
}

::ng-deep .modal-lg {
    max-width: 1000px;
}