<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h2 style="text-align: center;">Facturacion</h2>
                <div fxLayoutAlign="row">
                    <mat-card style="text-align: right;" class="mat-elevation-z0">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </mat-card>
                </div>


                <div class="mat-elevation-z8">


                    <mat-table [dataSource]="listData" matSort class="scrollable">

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>



                        <!-- <ng-container matColumnDef="Id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.Id}}</mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="Folio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>FOLIO</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.Folio}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Cliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.Nombre}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="FechaExpedicion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA EXPEDICION</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.FechaDeExpedicion}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Subtotal">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>SUBTOTAL</mat-header-cell>
                            <mat-cell *matCellDef="let element">${{element.Subtotal}}-MXN/${{element.SubtotalDlls}}-USD</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="IVA">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>IVA</mat-header-cell>
                            <mat-cell *matCellDef="let element">${{element.ImpuestosTrasladados}}-MXN/${{element.ImpuestosTrasladadosDlls}}-USD</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Total">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL</mat-header-cell>
                            <mat-cell *matCellDef="let element">${{element.Total}}-MXN/${{element.TotalDlls}}-USD</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Estado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
                            <mat-cell *matCellDef="let element" [ngSwitch]=element.Estatus>
                                <span *ngSwitchCase="'Timbrada'" class="label label-light-success">TIMBRADA</span>
                                <span *ngSwitchCase="'Creada'" class="label label-light-info">CREADA</span>
                                <span *ngSwitchCase="'Cancelada'" class="label label-light-danger">CANCELADA</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Options">
                            <mat-header-cell *matHeaderCellDef>OPCIONES</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <!-- EDITAR ELIMINAR ENVIAR PDF XML -->

                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                  </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-icon-button class="btn btn-dark" (click)="onEdit(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <!-- ver PDF -->
                                    <button id="abrirpdf" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#add-new-event"></button>
                                    <button *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada'" (click)="generar(row.UUID,row.Folio)" mat-icon-button class="btn btn-dark">
                        <mat-icon>remove_red_eye</mat-icon>

                    </button>
                                    <!-- descargar PDF -->
                                    <button id="abrirpdf" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#add-new-event"></button>
                                    <button *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada'" (click)="pdf(row.UUID,row.Folio)" mat-icon-button class="btn btn-dark">
                        <mat-icon>picture_as_pdf</mat-icon>

                    </button>
                                    <!-- Enviar -->
                                    <button *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada'" mat-icon-button class="btn btn-dark" (click)="xml(row.UUID,row.Folio)">
                        <mat-icon>code</mat-icon>
                    </button>
                                    <!-- XML -->
                                    <!-- <button mat-icon-button class="btn btn-dark" (click)="onDelete(row.Id)">
                        <mat-icon>email</mat-icon>
                    </button> -->
                                    <!-- Eliminar -->
                                    <button *ngIf="row.Estatus=='Creada'" mat-icon-button class="btn btn-danger" (click)="onDelete(row)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                </mat-menu>


                            </mat-cell>
                        </ng-container>


                    </mat-table>
                    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                    </mat-paginator>
                </div>

            </div>

            <button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Generar Factura</button>



        </div>
    </div>
</div>


<!-- modal de factura -->

<div class="modal fade bs-example-modal-lg show" id="add-new-event">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4 class="modal-title">Factura</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div> -->

            <app-factura [xmlparametros]="xmlparam"></app-factura>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Descargar</button>
            </div>
        </div>
    </div>




</div>