.dolar {
    color: white;
    margin-bottom: auto;
    margin-top: auto;
}

.btn-danger:hover {
    color: white;
}

button {
    margin-left: 10px;
}

.btn-prolacto {
    background-color: black;
    color: white
}

.btn-prolacto:hover {
    background-color: #F0F0F0;
    color: black
}

.link:hover{
    color: rgb(0, 140, 255);
    cursor: pointer;
}