<mat-card class="mat-elevation-z0">
    <div class="row" style="align-items: center;">
        <div class="col-4">
            <button style="width: 100%;" mat-raised-button class="btn btn-prolacto btn-lg" (click)="onAdd('Agregar Producto')"><mat-icon class="example-tab-icon">add_circle</mat-icon></button>

        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </div>


    </div>

</mat-card>

<hr>

<div style="overflow:auto;">
    <table mat-table [dataSource]="listData" matSort>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



        <ng-container matColumnDef="IdProducto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>IdProducto</th>
            <td mat-cell *matCellDef="let element">{{element.IdProducto}}</td>
        </ng-container>

        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="IdProducto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>IdProducto</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.IdProducto}}</mat-header-cell>
        </ng-container> -->

        <!--  <ng-container matColumnDef="PrecioVenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Venta</th>
            <td mat-cell *matCellDef="let element"><span>&#36;</span>{{element.PrecioVenta}}</td>
        </ng-container>

        <ng-container matColumnDef="PrecioCosto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Costo</th>
            <td mat-cell *matCellDef="let element"><span>&#36;</span>{{element.PrecioCosto}}</td>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
            <td mat-cell *matCellDef="let element">{{element.Cantidad}}</td>
        </ng-container> -->

        <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef>Options</th>
            <td mat-cell *matCellDef="let row">

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                <mat-menu #menu="matMenu">
                    <!--  -->
                    <button mat-icon-button class="btn btn-dark" (click)="onEdit(row, 'Editar Producto')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                    <!--  -->
                    <button mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row.IdProducto, 'Borrar Producto')">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                </mat-menu>
            </td>
        </ng-container>


    </table>
    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
    </mat-paginator>
</div>

<br>
<!-- <button class="btn btn-primary" (click)="onAdd()">Agregar Producto</button> -->




<!--! MARCAS RELACIONADAS -->
<h3>Marcas</h3>
<mat-card class="mat-elevation-z0">
    <div class="row" style="align-items: center;">
        <div class="col-4">
            <button style="width: 100%;" mat-raised-button class="btn btn-prolacto btn-lg" (click)="onAddMarca('Agregar Marca')"><mat-icon class="example-tab-icon">add_circle</mat-icon></button>

        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </div>


    </div>

</mat-card>

<hr>

<div style="overflow:auto;">
    <table mat-table [dataSource]="listDataMarcas" matSort>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsMarcas"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMarcas;"></tr>



        <ng-container matColumnDef="Clave">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave</th>
            <td mat-cell *matCellDef="let element">{{element.ClaveMarca}}</td>
        </ng-container>

        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.NombreMarca}}</td>
        </ng-container>

        <ng-container matColumnDef="Producto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
            <td mat-cell *matCellDef="let element">{{element.ProductoMarca}}</td>
        </ng-container>

        <!--  <ng-container matColumnDef="PrecioVenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Venta</th>
            <td mat-cell *matCellDef="let element"><span>&#36;</span>{{element.PrecioVenta}}</td>
        </ng-container>

        <ng-container matColumnDef="PrecioCosto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Costo</th>
            <td mat-cell *matCellDef="let element"><span>&#36;</span>{{element.PrecioCosto}}</td>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
            <td mat-cell *matCellDef="let element">{{element.Cantidad}}</td>
        </ng-container> -->

        <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef>Options</th>
            <td mat-cell *matCellDef="let row">

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                <mat-menu #menu="matMenu">
                    <!--  -->
                    <button mat-icon-button class="btn btn-dark" (click)="onEditM(row, 'Editar Marca')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                    <!--  -->
                    <button mat-icon-button class="btn btn-danger" color="warn" (click)="onDeleteM(row.IdMarca, 'Borrar Marca')">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                </mat-menu>
            </td>
        </ng-container>


    </table>
    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
    </mat-paginator>
</div>