<mat-card style="text-align: right;" class="mat-elevation-z0">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</mat-card>

<div class="mat-elevation-z8">
    <mat-table mat-table [dataSource]="listData" matSort>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>



        <ng-container matColumnDef="IdProducto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>IdProducto</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IdProducto}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Nombre}}</mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="IdProducto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>IdProducto</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.IdProducto}}</mat-header-cell>
        </ng-container> -->

        <ng-container matColumnDef="PrecioVenta">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Precio Venta</mat-header-cell>
            <mat-cell *matCellDef="let element"><span>&#36;</span>{{element.PrecioVenta}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="PrecioCosto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Precio Costo</mat-header-cell>
            <mat-cell *matCellDef="let element"><span>&#36;</span>{{element.PrecioCosto}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Cantidad}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
            <mat-cell *matCellDef="let row">

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                <mat-menu #menu="matMenu">
                    <!--  -->
                    <button mat-icon-button class="btn btn-primary" (click)="onEdit(row)">
                                        <mat-icon>launch</mat-icon>
                                    </button>
                    <!--  -->
                    <button mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row.IdProducto)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                </mat-menu>
            </mat-cell>
        </ng-container>


    </mat-table>
</div>

<br>
<button class="btn btn-primary" (click)="onAdd()">Agregar Producto</button>