<div style="overflow:auto;">

    <table mat-table [dataSource]="listData" matSort class="scrollable">

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="IdOrdenCarga">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Orden de Carga</th>
            <td mat-cell *matCellDef="let element">{{element.IdOrdenCarga}}
                <td>
        </ng-container>

        <ng-container matColumnDef="NumSalida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NumSalida</th>
            <td mat-cell *matCellDef="let element">{{element.NumSalida}}
                <td>
        </ng-container>

        <ng-container matColumnDef="FechaOrden">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let element">{{element.FechaOrden}}
                <td>
        </ng-container>

        <ng-container matColumnDef="IdCliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Cliente</th>
            <td mat-cell *matCellDef="let element">{{element.IdCliente}}</td>
        </ng-container>

        <ng-container matColumnDef="Cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td mat-cell *matCellDef="let element">{{element.Cliente}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Producto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
            <td mat-cell *matCellDef="let element">{{element.Producto}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Fletera">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fletera</th>
            <td mat-cell *matCellDef="let element">{{element.Fletera}}
            </td>
        </ng-container>

        <ng-container matColumnDef="NumCaja">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero de Caja</th>
            <td mat-cell *matCellDef="let element">{{element.NumCaja}}
            </td>
        </ng-container>

        <ng-container matColumnDef="EnviarA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enviar A:</th>
            <td mat-cell *matCellDef="let element">{{element.EnviarA}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Sacos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos</th>
            <td mat-cell *matCellDef="let element">{{element.Sacos}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Kilos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Kilos</th>
            <td mat-cell *matCellDef="let element">{{element.Kilos}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Notas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Notas</th>
            <td mat-cell *matCellDef="let element">{{element.Notas}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
            <td mat-cell *matCellDef="let element">{{element.Usuario}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Boton">
            <th mat-header-cell *matHeaderCellDef>Orden de Carga</th>
            <td mat-cell *matCellDef="let row">

                <button class="btn-block" mat-raised-button (click)="onEdit(row)"> Ver Orden
                  </button>
            </td>
        </ng-container>

    </table>
    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
    </mat-paginator>
</div>