<div style="overflow: auto; height: 800px;">
    <div>
        <button class="btn btn-danger" color="warn" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    </div>



    <div class="modal0-body ">

        <div id="OrdenCarga-PDF">
            <!-- TOP PAGE -->
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <div class="card card-outline-inverse">

                            <img src="../../../assets/images/prolacto.png" class="logo">

                        </div>
                    </div>
                    <!-- descripcion -->
                    <div class="col-9">
                        <h3 class="blacktxt bolder text-center"> ORDEN DE CARGA / SALIDA
                        </h3>
                        <div class="container row" style="background-color: #9b9b9b;">
                            <div class="col-3">
                                <p class="blacktxt bolder nomarginbottomP"> Salida # <span> {{service.formrow.Folio}}</span></p>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-3">
                                <p class="blacktxt bolder nomarginbottomP"> Fecha:
                                    <span>{{service.formrow.FechaEnvio | date: 'yyyy/MM/dd'}}</span></p>
                            </div>
                        </div>
                        <div class="container row">
                            <div class="col-3">
                                <p class="blacktxt bolder nomarginbottomP">Cliente: <span>{{service.formrow.Cliente}}</span></p>
                                <p class="blacktxt bolder nomarginbottomP">Enviar A: <span>{{service.formrow.Destino}}</span></p>
                            </div>
                            <!-- <div class="col-5">
                                <p class="blacktxt bolder nomarginbottomP">Producto: <span>Leche Dairy America</span></p>
                            </div> -->
                            <div class="col-2">
                                <p class="blacktxt bolder nomarginbottomP">Fletera: <span> {{service.formrow.Fletera}}</span></p>
                            </div>
                            <div class="col-2">
                                <p class="blacktxt bolder nomarginbottomP"># Caja: <span>{{service.formrow.Caja}}</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End TOP -->

            <!-- BODY -->
            <div>
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th class="blacktxt bolder whitecolor">Proveedor</th>
                            <th class="blacktxt bolder whitecolor">PO</th>
                            <th class="blacktxt bolder whitecolor">Producto</th>
                            <th class="blacktxt bolder whitecolor">LOTE</th>
                            <th class="blacktxt bolder whitecolor">SACOS</th>
                            <th class="blacktxt bolder whitecolor">PESO POR SACO</th>
                            <th class="blacktxt bolder whitecolor">PESO TOTAL</th>
                            <th class="blacktxt bolder whitecolor">FECHA MFG</th>
                            <th class="blacktxt bolder whitecolor">FECHA CAD</th>
                            <th class="blacktxt bolder whitecolor">BODEGA</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let conceptos of arrcon; let i = index">
                        <tr class="pgbreak">
                            <td class="wrap lightback pgbreak"> {{conceptos.Proveedor}} </td>
                            <td class="wrap lightback">{{conceptos.PO}}</td>
                            <td class="wrap lightback pgbreak"> {{conceptos.Producto}}</td>
                            <td class="pgbreak">{{conceptos.Lote}} </td>
                            <td class="pgbreak">{{conceptos.Sacos}} </td>
                            <td class="pgbreak">{{conceptos.PesoxSaco}}</td>
                            <td class="pgbreak">{{this.pesoTotal}}</td>
                            <td class="pgbreak">{{conceptos.FechaMFG | date: 'yyyy/MM/dd'}}</td>
                            <td class="pgbreak">{{conceptos.FechaCaducidad | date: 'yyyy/MM/dd'}} </td>
                            <td class="pgbreak">elbodegon***</td>
                    </tbody>

                </table>

            </div>

            <div class="container row pgbreak">
                <div class="col-5 pgbreak">
                    <h1 style="display: inline-block; background-color: darkgray; font-weight: 900; padding-right: 10px; padding-left: 10px; ">
                        USDA </h1>
                    <h1 style="display: inline-block; padding-right: 10px; padding-left: 10px; font-weight: 400; " class="borderContainer"> {{this.usda}}</h1>
                    <table class="table-striped pgbreak">
                        <thead>
                            <tr>
                                <th class="blacktxt bolder whitecolor">Factura</th>
                                <th class="blacktxt bolder whitecolor">Sacos</th>
                                <th class="blacktxt bolder whitecolor">KG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pgbreak">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                    <table class="table pgbreak">
                        <thead>
                            <tr>
                                <th class="blacktxt bolder whitecolor pgbreak">Shipper</th>
                                <th class="blacktxt bolder whitecolor pgbreak">USDA</th>
                                <th class="blacktxt bolder whitecolor pgbreak">PEDIMENTO</th>
                                <th class="blacktxt bolder whitecolor pgbreak">FAC IMPORTACION</th>
                                <th class="blacktxt bolder whitecolor pgbreak">FAC ALMACENAMIENTO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conceptos of arrcon">

                                <td class="borderContainer pgbreak">{{conceptos.Shipper}}</td>
                                <td class="borderContainer pgbreak">{{conceptos.USDA}}</td>
                                <td class="borderContainer pgbreak">{{conceptos.Pedimento}}</td>
                                <td class="borderContainer pgbreak">{{1}}</td>
                                <td class="borderContainer pgbreak">{{1}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="blacktxt bolder nomarginbottomP" style="display: block;">NOTAS</p>
                    <div class="borderContainer pgbreak" style="height: 100px;">
                        <p>
                            {{service.formrow.Observaciones}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- fin Area A IMPRIMIR -->

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" (click)="onClose()">Cerrar</button>
        <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Descargar</button>
    </div>
</div>