<div class="d-flex justify-content-between">
    <h4 class="text-inverse">Agregar Nuevo Usuario</h4>

    <button mat-button class="btn btn-danger" color="warn" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>


</div>
<hr>

<div style="overflow: auto; height: 450px;">


    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <div class="form-material">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="input-group-text text-info">Nombre</label>
                        <input required placeholder="Escribe el nombre aqui" type="text" class="form-control" name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formData.Nombre">

                        
                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">Nombre Usuario</label>
                        <input required placeholder="Escribe nombre de usuario" type="text" class="form-control" name="NombreUsuario" #NombreUsuario="ngModel" [(ngModel)]="service.formData.NombreUsuario">

                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">Apellido Paterno</label>
                        <input required placeholder="Escribe Apellido Paterno aqui" type="text" class="form-control" name="ApellidoPaterno" #ApellidoPaterno="ngModel" [(ngModel)]="service.formData.ApellidoPaterno">

                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">Apellido Materno</label>
                        <input required placeholder="Escribe Apellido Materno aqui" type="text" class="form-control" name="ApellidoMaterno" #ApellidoMaterno="ngModel" [(ngModel)]="service.formData.ApellidoMaterno">

                    </div>
                    <!--               -------------------------------------------------------                                       -->
                    <div class="col-lg-6">
                        <label class="input-group-text text-info">Correo</label>
                        <input required placeholder="Escribe el correo aqui" type="email" class="form-control" name="Correo" #Correo="ngModel" [(ngModel)]="service.formData.Correo">

                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">Telefono</label>
                        <input required placeholder="Escribe el telefono aqui" type="number" class="form-control" name="Telefono" #Telefono="ngModel" [(ngModel)]="service.formData.Telefono">

                        <!--               -------------------------------------------------------                                       -->

                        <label class="input-group-text text-info">Contraseña</label>
                        <input required placeholder="Escribe la contraseña aqui" type="password" class="form-control" name="Contra" #Contra="ngModel" [(ngModel)]="service.formData.Contra">

                        <!--Fecha Ultimo Acceso-->
                        <input type="hidden" class="form-control" name="FechaUltimoAcceso" #FechaUltimoAcceso="ngModel" value="2016-09-16T00:00:00" [(ngModel)]="service.formData.FechaUltimoAcceso">

                    </div>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-success" mat-raised-button color="success" type="submit" [disabled]="form.invalid">Agregar Usuario</button>

    </form>

</div>