<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- <video autoplay muted="muted" loop id="myVideo">
    <source src="../assets/images/background/videoinicio.mov" type="video/mp4">
  </video> -->

<section id="wrapper" class="login-register login-sidebar">
    <!-- <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);"> -->

    <div class="row">
        <div #imagen1 class="divimg  col-md-8" [ngStyle]="{'display': this.propiedad1}">
            <img class="imagen" src="../assets/login/abarrotodo.png">
            <!-- <ng-image-slider slideImage="2" [imageSize]="{width:'50%', height: '70%'}" [images]="imagesUrl" #nav [infinite]='true' [imagePopup]='false' [autoSlide]='1' [animationSpeed]='1'></ng-image-slider> -->
        </div>

        <div #imagen2 class="divimg  col-md-8" [ngStyle]="{'display': this.propiedad2}">
            <img class="imagen" src="../assets/login/prolacto.png">

        </div>
        <div #imagen3 class="divimg  col-md-8" [ngStyle]="{'display': this.propiedad3}">
            <img class="imagen2" src="../assets/login/dairy.png">

        </div>

        <div class="login-box card col-md-4 col-12">
            <div style="overflow: hidden;" class="card-body">
                <form id='form' #form="ngForm" class="form-horizontal form-material">
                    <a href="javascript:void(0)" class="text-center db"><img style="max-width: 60px;" src="../assets/images/logonuevo.jpeg" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                    <hr>
                    <mat-tab-group color="#2d5b9e" animationDuration="0ms" mat-align-tabs="end">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">account_circle</mat-icon>
                                Usuario
                            </ng-template>
                            <div class="form-group m-t-40">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Usuario " name="NombreUsuario" #NombreUsuario="ngModel" [(ngModel)]="service.formData.NombreUsuario">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input (keyup)="keydownpass($event,form)" class="form-control" type="password" required="" placeholder="Contraseña" name="Contra" #Contra="ngModel" [(ngModel)]="service.formData.Contra">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="button" (click)="autentificar(form)">Iniciar Sesion</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">supervised_user_circle</mat-icon>
                                Cliente
                            </ng-template>
                            <div class="form-group m-t-40">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Usuario " name="NombreUsuario" #NombreUsuario="ngModel" [(ngModel)]="clienteService.formDatalogin.RFC">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" required="" placeholder="Contraseña" name="Contra" #Contra="ngModel" [(ngModel)]="clienteService.formDatalogin.contra">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="button" (click)="autentificarCliente(clienteService.formDatalogin)">Iniciar Sesion</button>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                    <!-- <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Usuario " name="NombreUsuario" #NombreUsuario="ngModel" [(ngModel)]="service.formData.NombreUsuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Contraseña" name="Contra" #Contra="ngModel" [(ngModel)]="service.formData.Contra">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                             </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Iniciar Sesion</button>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <div class="social">
                            <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
                            <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
                        </div>
                    </div>
                </div> -->

                    <!-- <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            Soy <a routerLink="/logincliente" class="text-primary m-l-5"><b>Clientes</b></a>
                        </div>
                    </div> -->
                </form>
                <hr>
                <p style="text-align: center;">Version 1.3.5</p>
                <form class="form-horizontal" id="recoverform" action="index.html">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Recuperar Contraseña</h3>
                            <p class="text-muted">Ingresa tu Email </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->