.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}

.login-box {
    width: 400px;
    /* width: 100%; */
    margin: 0 auto;
    overflow: scroll;
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}

#myVideo {
    position: fixed;
    right: 30%;
    bottom: 25%;
    width: 60%;
    /* min-width: 100%;
    min-height: 100%; */
}

.imagen {
    max-width: 800px;
    /* margin-top: 5%; */
    animation: bounce;
}

.imagen2 {
    max-width: 800px;
    margin-top: -15%;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s;
}

.divimg {
    text-align: center;
    margin-top: 8%;
    animation: fadeIn;
    animation-duration: 2s;
    /*  */
}


.example-tab-icon {
    margin-right: 8px;
}

::ng-deep .mat-tab-label {
    background-color: white !important;
    color: black !important;
}

::ng-deep .mat-tab-label:hover {
    background-color: black !important;
    color: white !important;
}

::ng-deep .mat-tab-label:focus {
    background-color: black !important;
    color: white !important;
}

::ng-deep .mat-tab-label-active {
    background-color: black !important;
    color: white !important;
}