<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 style="text-align: start;">Orden Descarga</h2>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <mat-button-toggle-group #group="matButtonToggleGroup">
                            <mat-button-toggle value="Kg" aria-label="Text align left" (change)='cambio($event)'>
                                <mat-icon>attach_money </mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="Sacos" aria-label="Text align center" (change)='cambio($event)'>
                                <mat-icon>monetization_on</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="col-md-8 col-12">
                        <mat-slide-toggle class="example-margin btncoti" [(ngModel)]="checked" (change)='tipoProveedor($event)'>
                            Todos los Proveedores
                        </mat-slide-toggle>

                        <div *ngIf="!checked">
                            <!-- <label class="input-group-text text-info">Seleccionar Cliente:</label> <br> -->
                            <mat-form-field>
                                <input type="text" placeholder="Seleccionar Proveedor" aria-label="Number" [formControl]="myControl" [ngModel]="proveedorSelect" matInput [matAutocomplete]="autoProducto">
                                <mat-autocomplete #autoProducto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)='reporteProveedor($event)'>
                                        {{option.Nombre}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <!-- 
                        <mat-select *ngIf="!checked">
                            <mat-option *ngFor="let cliente of listaProveedores" [value]="cliente" (onSelectionChange)='reporteProveedor($event)'>{{cliente.Nombre}}</mat-option>
                        </mat-select> -->
                    </div>
                </div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [colors]="lineChartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>


                </div>

            </div>
        </div>
    </div>
</div>