.card-header {
    border-radius: 50px;
}

h4 {
    line-height: 10px;
}

.col-md-6 {
    margin-bottom: -40px;
}

.col-lg-6 {
    margin-bottom: -40px;
}

.col-lg-12 {
    margin-bottom: -20px;
}

.card {
    margin-bottom: -20px;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.table-responsive {
    margin-bottom: -35px;
    margin-top: -15px;
}