<div class="modal0-body">
    <div class="container">
        <div id="element-to-PDF" style="margin-top: 15px;" class="wrapper">
            <!-- TOP PAGE LOGO DESCRIPTION FACTURA -->
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-lg-3 col-md-3">
                        <div class="card card-outline-inverse">
                            <!-- <div class="card-header">
                                <h6 class="m-b-0 text-white">Logo</h6>
                            </div>
                            <div class="card-body">
                            </div> -->

                            <img src="../../../assets/images/prolacto.png" class="logo">

                        </div>
                    </div>
                    <!-- descripcion -->
                    <div class="col-lg-6">
                        <h5><strong>PRO LACTOINGREDIENTES S DE RL MI DE CV</strong>
                        </h5>
                        <p class="text-center"><span><strong>R.F.C.:</strong></span> PLA11011243A</p>
                        <p class="text-center">Calle: J. Matias de Anchondo No. 207, Col. San Felipe, CP: 31203
                        </p>

                    </div>
                    <!-- factura folio -->
                    <div class="col-lg-3">
                        <div class="card card-outline-inverse">
                            <div class="card-header">
                                <h6 class="m-b-0 text-white">FACTURA</h6>
                            </div>
                            <div class="card-body">
                                <h5>Serie y Folio</h5>
                                <!-- cambia -->
                                <h5>B 8242</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End TOP -->

            <!-- facturado-lugar expedicion -->

            <div class="container">
                <!-- div facturado a -->
                <div class="row">
                    <div class="container col-lg-6 nopaddingLR">
                        <div class="col-lg-12">
                            <div class="card card-outline-inverse">
                                <div class="card-header">
                                    <h6 class="m-b-0 text-white">FACTURADO A:
                                        <SPAN>180</SPAN>
                                        <!-- cambia -->
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <H4>ALIMENTOS PROCESADOS DELICIAS S.A. DE C.V</H4>
                                    <!-- cambia -->
                                    <p>
                                        <SPAN>R.F.C</SPAN> RFC:APD0103089T4</p><br>
                                    <!-- cambia -->
                                    <p>Calle: CARRETERA PANAMERICANA No. KM6, Col. BENITO JUAREZ, CP: 33060, DELICIAS, DELICIAS, CHIHUAHUA</p>
                                    <!-- cambia -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="card card-outline-inverse">
                                <div class="card-header">
                                    <h6 class="m-b-0 text-white">ENVIADO A:
                                        <p>Javo0602</p>
                                        <!-- cambia -->
                                    </h6>
                                </div>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container col-lg-6">
                        <div class="container">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card card-outline-inverse">
                                            <div class="card-header">

                                                <div class="table-responsive no-scroll">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="m-b-0 text-white">LUGAR DE EXPEDICION</th>
                                                                <th class="m-b-0 text-white">FECHA Y HORA DE EMISION</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <!-- se ingresan valores en tablas, derecha e izquierda -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="card card-outline-inverse">
                                            <div class="card-header">
                                                <div class="table-responsive no-scroll">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="m-b-0 text-white">ORDEN DE COMPRA</th>
                                                                <th class="m-b-0 text-white">FECHA DE VENCIMIENTO</th>
                                                                <th class="m-b-0 text-white">FORMA DE PAGO</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <!-- se ingresan valores en tablas 3* -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="card card-outline-inverse">
                                            <div class="card-header">
                                                <div class="table-responsive no-scroll">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="m-b-0 text-white">TIPO DE CAMBIO</th>
                                                                <th class="m-b-0 text-white">FECHA DE ENTREGA</th>
                                                                <th class="m-b-0 text-white">CONDICIONES DE PAGO</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <!-- se ingresan valores en las tablas -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="card card-outline-inverse">
                                            <div class="card-header">
                                                <div class="table-responsive no-scroll">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="m-b-0 text-white">METODO DE PAGO Y CUENTA</th>
                                                                <th class="m-b-0 text-white">REGIMEN</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <!-- se ingresan valores en las tablas -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fin lugar expedicion -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin facturado a -->
            <!-- lugar expedicion -->

            <!-- fin facturado-lugar -->

            <!-- cuentas para deposito -->
            <div class="container">
                <h5>VENDEDOR:</h5>
                <SPAN>Jessica Aldaz</SPAN>
                <!-- cambia -->
            </div>

            <div class="container">
                <div class="col-lg-12">
                    <div class="card card-outline-inverse">
                        <div class="card-header">
                            <h6 class="m-b-0 text-white">Cuentas</h6>
                        </div>
                        <div class="card-body">
                            <!-- cambia -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- cantidad-unidad-clave- -->
            <div class="container">
                <div class="col-lg-12">
                    <div class="card card-outline-inverse">
                        <div class="card-header">
                            <h6 class="m-b-0 text-white">Cantidad</h6>
                        </div>
                        <div class="card-body">
                            <!-- cambia -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- row- QR-Observaciones-Total -->
            <!-- <div class="html2pdf__page-break"></div> -->
            <div class="container">
                <div class="row">
                    <!-- QR -->
                    <div class="col-lg-3">
                        <div class="card card-outline-inverse">
                            <div class="card-header">
                                <h6 class="m-b-0 text-white">QR</h6>
                            </div>
                            <div class="card-body">
                                <ngx-qrcode qrc-element-type="url" [qrc-value]="QRString"></ngx-qrcode>
                                <!-- cambia el qr string que esta en el TS -->
                            </div>
                        </div>
                    </div>
                    <!-- Observaciones -->
                    <div class="col-lg-4">
                        <div class="card card-outline-inverse">
                            <div class="card-header">
                                <h6 class="m-b-0 text-white">Observaciones</h6>
                            </div>
                            <div class="card-body">
                                <div class="containerborder">
                                    <div class="container">
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores laborum quos neque placeat fugit, tenetur necessitatibus repellat doloremque consectetur obcaecati laboriosam corrupti nisi possimus
                                            officia impedit, est aliquid? Dicta?</p>
                                        <!-- cambia -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- total -->
                    <div class="col-lg-5">
                        <div class="card card-outline-inverse">
                            <div class="card-header">
                                <h6 class="m-b-0 text-white">Total</h6>
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <p>Subtotal</p>
                                            </div>
                                            <div class="col-lg-5">
                                                <p>1,000.00</p>
                                                <!-- cambia -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <p>RET IVA</p>
                                            </div>
                                            <div class="col-lg-5">
                                                <p>1,000.00</p>
                                                <!-- cambia -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <p>IVA</p>
                                            </div>
                                            <div class="col-lg-5">
                                                <p>0.00</p>
                                                <!-- cambia -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 bordeTopBottom">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <p>Total</p>
                                            </div>
                                            <div class="col-lg-5">
                                                <p>1,000.00</p>
                                                <!-- cambia -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- sello digital -->
            <div class="col-md-10">
                <h5>Sello Digital del CFDI:</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laboriosam similique pariatur veniam tenetur impedit possimus ducimus voluptas vitae, nemo vel architecto labore officia corrupti cumque, perspiciatis eius iste exercitationem.</p>
                <!-- cambia -->
                <h5>Sello digital del SAT:</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, fuga dolores perspiciatis recusandae reprehenderit tempora ratione, quia similique voluptate voluptatem commodi quisquam ipsa libero est sequi deleniti assumenda et!
                    Aspernatur?</p>
                <!-- cambia -->
                <h5>Cadena Orieginal del Complemento de Certificacion del SAT:</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, quisquam, id eaque nihil quo cupiditate doloribus fugit, ut porro facilis possimus eos temporibus ipsam nam architecto cum quis! Odit, ut?</p>
                <!-- cambia -->
            </div>
            <br>
            <br>

            <!-- firma recibido -->
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6">
                    <div class="campofirma"></div>
                    <p class="text-center">Recibo esta mercancia a mi entera satisfacción</p>
                </div>
                <div class="col-lg-3">

                </div>
            </div>

            <!-- pagaré -->

            <div class="col-lg-12">
                <div class="card card-outline-inverse">

                    <div class="card-body">
                        <div class="containerborder">
                            <div class="container">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores laborum quos neque placeat fugit, tenetur necessitatibus repellat doloremque consectetur obcaecati laboriosam corrupti nisi possimus officia
                                    impedit, est aliquid? Dicta?</p>
                                <!-- cambia -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>