<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h2>Tracking</h2>

                <h4 class="card-title">Historial de pedidos</h4>
                <div class="table-responsive m-t-40">
                    <table class="table stylish-table">
                        <thead>
                            <tr>
                                <th colspan="2">ID Pedido</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Estado</th>
                                <th>Hora Llegada</th>
                                <th>Facturas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="width:50px;"><span class="round">CUU</span></td>
                                <td>
                                    <h6>CHIHUAHUA</h6><small class="text-muted">CHIHUAHUA</small></td>
                                <td>
                                    <h6>EL PASO</h6><small class="text-muted">TEXAS</small></td>
                                <td><span class="label label-light-success">Completado</span></td>
                                <td>11:30 am</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                                        <i class="ti-book"></i> Ver Factura
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="width:50px;"><span class="round">ELP</span></td>
                                <td>
                                    <h6>EL PASO</h6><small class="text-muted">TEXAS</small></td>
                                <td>
                                    <h6>CHIHUAHUA</h6><small class="text-muted">CHIHUAHUA</small></td>
                                <td><span class="label label-light-info">Carga</span></td>
                                <td>2:00 pm</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                                        <i class="ti-book"></i> Ver Factura
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><span class="round round-success">MEX</span></td>
                                <td>
                                    <h6>CIUDAD DE MEXICO</h6><small class="text-muted">MEXICO</small></td>
                                <td>
                                    <h6>MONTERREY</h6><small class="text-muted">NUEVO LEON</small></td>
                                <td><span class="label label-light-danger">Descarga</span></td>
                                <td>5:00 pm</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                                        <i class="ti-book"></i> Ver Factura
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><span class="round round-primary">MTY</span></td>
                                <td>
                                    <h6>MONTERREY</h6><small class="text-muted">NUEVO LEON</small></td>
                                <td>
                                    <h6>CHIHUAHUA</h6><small class="text-muted">CHIHUAHUA</small></td>
                                <td><span class="label label-light-primary">EN TRANSITO</span></td>
                                <td>8:00 pm</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                                        <i class="ti-book"></i> Ver Factura
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade bs-example-modal-lg show" id="add-new-event">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4 class="modal-title">Factura</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div> -->

            <app-factura></app-factura>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Imprimir</button>
            </div>
        </div>
    </div>




</div>