<!-- TOP PAGE LOGO DESCRIPTION FACTURA -->
<div class="container">
    <div class="row">
        <!-- logo -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <div class="card card-outline-inverse">
                <!-- <div class="card-header">
                            <h6 class="m-b-0 text-white">Logo</h6>
                        </div>
                        <div class="card-body">
                        </div> -->

                        <img [src]=logo class="logo">

            </div>
        </div>
        <!-- descripcion -->
        <div class="col-9">
            <h5 class="blacktxt bolder">  {{nombreE}}
            </h5>
            <p class="blacktxt bolder nomarginbottomP"><span class="bolder">R.F.C.:</span>{{rfcE}}
            </p>
            <p class="blacktxt bolder nomarginbottomP"> Calle: Fernando Montes de OCa No. 4505, Col. Nombre de Dios, CP: 31150, Chihuahua, Chihuahua, México
            </p>
            <div class="container row">
                <div class="col-8 pl-0">
                    <p class="blacktxt bolder nomarginbottomP">Lugar de Expedicion <span>Calle: <i>Fernando Montes de Oca, CP. 31150</i></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End TOP -->