<div class="container">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <button (click)="reporteFechasExcel()" class="btn btn-success"> <i class="mdi mdi-file-excel-box" ></i> Excel </button>
            <button *ngIf="this.enviarfact.empresa.RFC=='PLA11011243A'" (click)="exportarPDF()" class="btn btn-danger"><i class="mdi mdi-file-pdf-box"></i> PDF </button>
            <button *ngIf="this.enviarfact.empresa.RFC=='AIN140101ME3'" (click)="exportarPDFAbarrotodo()" class="btn btn-danger"><i class="mdi mdi-file-pdf-box"></i> PDF </button>
        </div>
    </div>
</div>
<mat-dialog-content>
    <div class="container">
        <div class="row">
            <!-- logo -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="card card-outline-inverse">
                    <!-- <div class="card-header">
                                <h6 class="m-b-0 text-white">Logo</h6>
                            </div>
                            <div class="card-body">
                            </div> -->

                            <img [src]=logo class="logo">

                </div>
            </div>
            <!-- descripcion -->
            <div class="col-9">
                <h5 class="blacktxt bolder"> {{nombreE}}
                </h5>
                <p class="blacktxt bolder nomarginbottomP"><span class="bolder">R.F.C.:</span>{{rfcE}}
                </p>
                <p class="blacktxt bolder nomarginbottomP"> Calle: Fernando Montes de OCa No. 4505, Col. Nombre de Dios, CP: 31150, Chihuahua, Chihuahua, México
                </p>
                <div class="container row">
                    <div class="col-8 pl-0">
                        <p class="blacktxt bolder nomarginbottomP">Lugar de Expedicion <span>Calle: <i>Fernando Montes de Oca, CP. 31150</i></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container row" id="pdf3">
        <!-- <div class="col-1"></div> -->
        <div class="col-10">


            <table class="table-hover">
                <thead>
                    <tr>
                        <th class="blacktxt bolder">Folio</th>
                        <th class="blacktxt bolder">Cliente</th>
                        <th class="blacktxt bolder ">Fecha</th>
                        <th class="blacktxt bolder">Importe</th>
                        <th class="blacktxt bolder">Moneda</th>
                        <th class="blacktxt bolder">TC</th>
                        <th class="blacktxt bolder">Estatus</th>
                        <!-- <th></th> -->
                    </tr>

                </thead>
                <tbody *ngFor="let fact of facturas; let i = index">
                    <tr class="pgbreak border3">
                        <td class="wrap lightback pgbreak font" [attr.colspan]="1"> {{fact.Folio}} </td>
                        <td class="wrap lightback pgbreak font" [attr.colspan]="1"> {{fact.IdCliente}} - {{fact.Nombre}}</td>
                        <td class="wrap lightback pgbreak font" [attr.colspan]="1"> {{fact.FechaDeExpedicion | date: 'yyyy/MM/dd'}}</td>
                        <td *ngIf="fact.Moneda==='MXN'" class="wrap lightback pgbreak font" [attr.colspan]="1"> {{fact.Total | currency}}</td>
                        <td *ngIf="fact.Moneda==='USD'" class="wrap lightback pgbreak font" [attr.colspan]="1"> {{fact.TotalDlls | currency}}</td>
                        <td class="wrap lightback pgbreak font " [attr.colspan]="1"> {{fact.TipoDeCambio}}</td>
                        <td class="wrap lightback pgbreak font " [attr.colspan]="1"> {{fact.Moneda}}</td>
                        <td class="wrap lightback pgbreak font " [attr.colspan]="1"> {{fact.Estatus}}</td>
                    </tr>

                    <!--      <td class="wrap lightback pgbreak" [attr.colspan]="2"> </td>
                            <td class="wrap lightback pgbreak"> Total </td>
                            <td class="wrap lightback pgbreak"> {{info.TotalMXN |currency}} </td>
                            <td class="wrap lightback pgbreak"> {{info.TotalDLLS |currency}} </td> -->
                </tbody>
            </table>

        </div>
        <!-- <div class="col-2"></div> -->
    </div>


</mat-dialog-content>