<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Reporte de Incidencias
                                              </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">

                                <!-- <h4 class="card-title">Incidencias</h4> -->
                                <!-- <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6> -->
                                <div class="table-responsive m-t-40">
                                    <table class="display nowrap table table-hover table-striped table-bordered tablauno " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Cliente</th>
                                                <th>Tipo</th>
                                                <th>Fecha</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let incidencia of incidenciasCliente">
                                                <td>{{ incidencia.id }}</td>
                                                <td>{{ incidencia.cliente }}</td>
                                                <td>{{ incidencia.tipo }}</td>
                                                <td>{{ incidencia.fecha }}</td>
                                                <td>{{ incidencia.status }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                                                    Incidencias Por Cliente
                                                  </button>
                            </h2>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">

                                <!-- <h4 class="card-title">Incidencias</h4> -->
                                <!-- <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6> -->
                                <div class="table-responsive m-t-40">
                                    <table class="display nowrap table table-hover table-striped table-bordered tablauno " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Cliente</th>
                                                <th>Tipo</th>
                                                <th>Fecha</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let incidencia of incidenciasCliente">
                                                <td>{{ incidencia.id }}</td>
                                                <td>{{ incidencia.cliente }}</td>
                                                <td>{{ incidencia.tipo }}</td>
                                                <td>{{ incidencia.fecha }}</td>
                                                <td>{{ incidencia.status }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapseOne">
                                                    Incidencias Entre Fechas
                                                  </button>
                            </h2>
                        </div>

                        <div id="collapsethree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">

                                <!-- <h4 class="card-title">Incidencias Entre Fechas</h4> -->

                                <!-- date time picker -->


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="example">
                                            <h5 class="box-title m-t-30">Selecione las Fechas</h5>
                                            <input class="form-control input-daterange-datepicker" type="text" name="daterange" value="01/01/2015 - 01/31/2015" /> </div>
                                    </div>
                                </div>



                                <!-- fin date time picker -->


                                <!-- <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6> -->
                                <div class="table-responsive m-t-40">
                                    <table class="display nowrap table table-hover table-striped table-bordered tablauno " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Cliente</th>
                                                <th>Tipo</th>
                                                <th>Fecha</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let incidencia of incidenciasCliente">
                                                <td>{{ incidencia.id }}</td>
                                                <td>{{ incidencia.cliente }}</td>
                                                <td>{{ incidencia.tipo }}</td>
                                                <td>{{ incidencia.fecha }}</td>
                                                <td>{{ incidencia.status }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <h3> GRAFICAS DE INCIDENCIAS </h3>

    <!-- inicio graficas -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Comparativo de Incidencias</h4>
                                <div>
                                    <canvas id="chart2" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>