<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Incidencias
              </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

                <h4 class="card-title">Incidencias por Cliente</h4>
                <!-- <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6> -->
                <div class="table-responsive m-t-40">
                    <table id="example" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let incidencia of incidenciasCliente">
                                <td>{{ incidencia.id }}</td>
                                <td>{{ incidencia.cliente }}</td>
                                <td>{{ incidencia.tipo }}</td>
                                <td>{{ incidencia.fecha }}</td>
                                <td>{{ incidencia.status }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>






    </div>