<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h2 style="text-align: center;">Complemento de Pago</h2>
                <div fxLayoutAlign="row">
                    <mat-card style="text-align: right;" class="mat-elevation-z0">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                        </mat-form-field>
                    </mat-card>
                </div>


                <div class="mat-elevation-z8">
                    <div style="overflow: auto;">
                        <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" matRipple [class.example-expanded-row]="expandedElement == row"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                            </tr>


                            <ng-container matColumnDef="Id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                                <td class="folio" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                                    {{element.Id}} +</td>
                            </ng-container>

                            <ng-container matColumnDef="Cliente">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</th>
                                <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                            </ng-container>

                            <ng-container matColumnDef="FechaPago">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA PAGO</th>
                                <td mat-cell *matCellDef="let element">{{element.FechaPago | date: 'yyyy-MM-dd' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Cantidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                                <td mat-cell *matCellDef="let element">{{element.Cantidad}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
                                <td mat-cell *matCellDef="let element" [ngSwitch]=element.Estatus>
                                    <span *ngSwitchCase="'Timbrada'" class="label label-light-success">TIMBRADA</span>
                                    <span *ngSwitchCase="'Creada'" class="label label-light-info">CREADA</span>
                                    <span *ngSwitchCase="'Cancelada'" class="label label-light-danger">CANCELADA</span>
                                </td>
                            </ng-container>



                            <ng-container matColumnDef="Options">
                                <th mat-header-cell *matHeaderCellDef>OPCIONES</th>
                                <td mat-cell *matCellDef="let row">
                                    <!-- EDITAR ELIMINAR ENVIAR PDF XML -->

                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">

                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                                    <mat-menu #menu="matMenu">


                                        <button mat-icon-button class="btn btn-dark" (click)="onEdit(row)">
                      <mat-icon>edit</mat-icon>
                    </button>

                                        <!-- ver PDF -->
                                        <!-- <button id="abrirpdf" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#add-new-event"></button>
                                        <button *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada'" (click)="generar(row.UUID,row.Folio)" mat-icon-button class="btn btn-dark">
                      <mat-icon>remove_red_eye</mat-icon>

                    </button> -->
                                        <!-- descargar PDF -->
                                        <!-- <button id="abrirpdf" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#add-new-event"></button> -->

                                        <!-- <button *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada'" (click)="pdf(row.UUID,row.Folio)" mat-icon-button class="btn btn-dark">
                      <mat-icon>picture_as_pdf</mat-icon>

                    </button> -->
                                        <!-- Enviar -->
                                        <!-- <button *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada'" mat-icon-button class="btn btn-dark" (click)="xml(row.UUID,row.Folio)">
                      <mat-icon>code</mat-icon>
                    </button> -->
                                        <!-- XML -->
                                        <!-- <button mat-icon-button class="btn btn-dark" (click)="onDelete(row.Id)">
                        <mat-icon>email</mat-icon>
                    </button> -->
                                        <!-- Eliminar -->
                                        <button *ngIf="row.Estatus=='Creada'" mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                                    </mat-menu>


                                </td>
                            </ng-container>

                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="element.pagoCFDI.length > 0" (click)="expandedElement = 0">

                                        <table width="100%">
                                            <tr>
                                                <th> Clave Producto </th>
                                                <!-- <th> Producto </th>
                                                <th> Cantidad </th>
                                                <th> Importe </th> -->
                                            </tr>
                                            <tr *ngFor="let detalle of element.pagoCFDI">
                                                <td> {{detalle.Cantidad}} </td>
                                                <!-- <td> {{detalle.Producto}} </td>
                                                <td> {{ .Cantidad}} </td>
                                                <td> {{detalle.Importe}} </td> -->
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </ng-container>


                        </table>
                        <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>

            <button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Generar Pago</button>

        </div>
    </div>
</div>


<!-- modal de factura -->

<!-- <div class="modal fade bs-example-modal-lg show" id="add-new-event">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           

            <app-factura [xmlparametros]="xmlparam"></app-factura>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Descargar</button>
            </div>
        </div>
    </div>




</div> -->