.btn-danger:hover {
    background: #ffffff;
    color: #ff0000;
}

.btn-danger {
    color: #ffffff;
    background: #ff0000;
}

.btn-dark:hover {
    background: #ffffff;
    color: #0008ff;
}

.btn-dark {
    color: #ffffff;
    background: #0008ff;
}

::ng-deep .mat-header-cell {
    color: #ffffff;
    background: #000000;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.folio {
    cursor: pointer;
}

.btncoti {
    background-color: #000000;
    color: white
}

.btncoti:hover {
    color: #000000;
    background-color: white
}

.tablapagos {
    border: double;
    padding: 0px 0px 0px 0px;
}

.tablatotales {
    border: double;
    width: 100%;
    margin: 0px;
}

.headerdatos {
    border: double;
    width: 100%;
    margin: 0px;
}

.bordestablas {
    border-right-color: rgba(0, 0, 0, 0.12);
    border-right-width: 1px;
    border-right-style: solid;
}