<mat-dialog-content>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card card-header">
                    <h1 style="text-align: center;">SALDOS CLIENTES</h1>
                </div>
                <div class="card-body">

                    <!-- inicio de boton y filtro -->

                    <div class="container">

                        <div class="row">


                            <div class="col-md-2 col-sm-12" style="display: grid; justify-content: center">

                                <!--     
                            <button mat-fab (click)="onAdd()" class="btn-muelles">
                           
                                    <mat-icon>note_add</mat-icon> 
                                </button>
                            <ng-container *ngFor="let item of arrcon; let i = index ">


                            </ng-container> -->
                            </div>
                            <div class="col-md-2 col-sm-12" style="display: grid; justify-content: center">
                                <!-- <button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Generar Cotizacion</button> -->
                                <!--     <button mat-fab (click)="AddCheckList('boton')" class="btn-muelles">
                                    <mat-icon>fact_check</mat-icon>
                                  </button> -->
                            </div>
                            <div class="col-md-2 col-sm-12" style="display: grid">

                                <!-- <label class="input-group-text text-info">Estatus</label> -->
                                <!--   <mat-form-field>
                                    <mat-label> Estatus </mat-label>

                                    <mat-select (selectionChange)="estatusCambio($event)" [(ngModel)]="estatusSelect">

                                        <mat-option *ngFor="let dl of listEstatus" [value]="dl.Estatus"> {{dl.Estatus}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
 -->
                            </div>
                            <div class="col-md-2 col-sm-12" style="display: grid">

                                <!-- <label class="input-group-text text-info">Estatus</label> -->
                                <!--      <mat-form-field>
                                <mat-label> Sucursal </mat-label>
                                <mat-select (selectionChange)="SucursalCambio($event)" [(ngModel)]="SucursalSelect">
                                    <mat-option *ngFor="let Sucursal of listSucursal" [value]="Sucursal"> {{Sucursal}} </mat-option>
                                </mat-select>
                            </mat-form-field> -->

                            </div>
                            <div class="col-md-4 col-sm-12" style="display: grid">

                                <!-- <mat-card style="text-align: right; " class="mat-elevation-z0"> -->
                                <mat-form-field style="display: block">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                                </mat-form-field>
                                <!-- </mat-card> -->

                            </div>

                        </div>

                    </div>

                    <!-- fin de boton y filtro -->
                    <!-- inicio de tabla -->
                    <hr>

                    <div style="overflow:auto;">

                        <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


                            <!--     <ng-container matColumnDef="IdCotizacion" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Cotiacion</th>
                            <td class="folio" mat-cell *matCellDef="let element" (click)="expandedElement = element">{{element.IdCotizacion}} +
                                <td>
                        </ng-container> -->
                            <ng-container matColumnDef="Clave">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave</th>
                                <td mat-cell *matCellDef="let element" class="folio" (click)="expandedElement = element">{{element.Clave}} +
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="RFC">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>RFC</th>
                                <td mat-cell *matCellDef="let element">{{element.RFC}}
                                    <td>
                            </ng-container>
                            <ng-container matColumnDef="Cliente">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                                <td mat-cell *matCellDef="let element">{{element.RazonSocial}}
                                    <td>
                            </ng-container>



                            <ng-container matColumnDef="Total">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                                <td mat-cell *matCellDef="let element">{{element.total | currency}}

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Pagos">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagos</th>
                                <td mat-cell *matCellDef="let element">{{element.pagos | currency}}

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Saldo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
                                <td mat-cell *matCellDef="let element">{{element.saldo | currency}}

                                </td>
                            </ng-container>

                            <!--   <ng-container matColumnDef="Total">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                                <td mat-cell *matCellDef="let element">{{element.total | currency}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="FechaDeExpedicion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>FechaDeExpedicion</th>
                                <td mat-cell *matCellDef="let element">{{element.fechaexpedicion | date: 'yyyy-MM-dd'}}
                                </td>
                            </ng-container> -->



                            <!--    <ng-container matColumnDef="Estatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                                <td mat-cell *matCellDef="let element" [ngSwitch]=element.estatus>
                                    <span *ngSwitchCase="'Creada'" class="label label-light-success">CREADA</span>
                                    <span *ngSwitchCase="'Abierta'" class="label label-light-info">ABIERTA</span>
                                    <span *ngSwitchCase="'Pagada'" class="label label-light-danger">PAGADA</span>
                                    <span *ngSwitchCase="'Credito'" class="label label-light-warning">CREDITO</span>
                                </td>
                            </ng-container> -->

                            <!--      <span *ngIf="this.Estatus=='Creada'" class="card-text label label-light-success">CREADA</span>
                            <span *ngIf="this.Estatus=='Abierta'" class="card-text label label-light-info">ABIERTA</span>
                            <span *ngIf="this.Estatus=='Pagada'" class="card-text label label-light-danger">PAGADA</span> -->


                            <ng-container matColumnDef="Options" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                                <td mat-cell *matCellDef="let row">

                                    <!--     <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button> -->

                                    <!--  -->
                                    <!--     <ng-container>


                                        <button title="Editar" mat-icon-button class="btn btn-dark" (click)="onEdit(row)">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                    </ng-container> -->
                                    <!--  -->
                                    <!-- <button title="Vista Previa" mat-icon-button class="btn btn-dark" (click)="openpdf(row)">
                                    <mat-icon>visibility</mat-icon>
                                    </button> -->

                                    <!-- <button title="Vista Previa" mat-icon-button class="btn btn-dark" (click)="displaypdf(row, 'IdService')">
                                    <mat-icon>fact_check</mat-icon>
                                    </button> -->
                                    <!-- <ng-container> -->


                                    <!--    <button title="Crear Checklist" *ngIf="item == 'Crear Checklist'" mat-icon-button class="btn btn-dark" (click)="rowChecklist(row)">
                                            <mat-icon>playlist_add
                                            </mat-icon>
                                        </button> -->
                                    <!-- </ng-container> -->



                                    <!-- <button id="enviaremail" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#cargando"></button>
                                    <button title="Enviar Correo" mat-icon-button class="btn btn-dark" (click)="email(row)">
    <mat-icon>alternate_email</mat-icon>
  </button> -->
                                    <!--  -->
                                    <!--      <ng-container>


                                        <button title="Eliminar" mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>


                                    </ng-container> -->

                                </td>
                            </ng-container>

                            <!-- DETALLES DE PEDIDO -->
                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" (click)="expandedElement = 0">

                                        <table width="100%">
                                            <tr>
                                                <th> Folio </th>
                                                <th> Fecha </th>
                                                <th style="text-align: right;"> Total </th>
                                                <th style="text-align: right;"> Pagos </th>
                                                <th style="text-align: right;"> Saldo </th>

                                            </tr>
                                            <tr *ngFor="let detalle of element.DetalleVentas">
                                                <td> {{detalle.folio}} </td>
                                                <td> {{detalle.fechaexpedicion | date: 'yyyy-MM-dd' }} </td>
                                                <td style="text-align: right;"> {{ detalle.total | currency}} </td>
                                                <td style="text-align: right;"> {{ detalle.Pagos | currency}} </td>
                                                <td style="text-align: right;"> {{ detalle.saldo | currency}} </td>



                                            </tr>
                                        </table>
                                    </div>
                                </td> -->
                            </ng-container>
                            <!-- DETALLES DE PEDIDO -->

                        </table>
                        <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                        </mat-paginator>
                    </div>

                </div>
            </div>

        </div>
    </div>
</mat-dialog-content>