<div class="row modal-header">
    <div class="col-md-8 col-12">


    </div>
    <div class="col-md-4 col-12" style="text-align: center;">
        <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()" style="margin-right: 10px;">
            <mat-icon>download</mat-icon>
        </button>
        <button class="btn btn-primary waves-effect waves-light save-category" roNgxSimplePrint [printContentId]="'OrdenCargaDescarga-PDF'" style="margin-right: 10px;">
            <mat-icon>print</mat-icon>
        </button>
        <button class="btn btn-danger waves-effect waves-light save-category" (click)="onClose()" style="margin-right: 10px;">
            <mat-icon>close</mat-icon>
          </button>

    </div>
</div>

<div style="overflow: auto; height: 800px;">
    <!-- <div>
        <button class="btn btn-danger" color="warn" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    </div> -->



    <div class="modal0-body ">

        <div id="OrdenCargaDescarga-PDF">
            <!-- TOP PAGE -->
            <div class="container " style="width: 100%;">
                <div class="row">
                    <!-- logo -->
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <div class="card card-outline-inverse">

                            <!-- <img src="../../../assets/images/ProLactoLogo.png" class="logo"> -->
                            <img src="../../../assets/images/AIN140101ME3.png" class="logo">

                        </div>
                    </div>
                    <div class="col-9">
                        <h3 class="blacktxt bolder text-center"> ORDEN DE CARGA / SALIDA
                        </h3>
                    </div>
                    <!-- descripcion -->
                    <div class="col-12">
                        <div class="container row" style="background-color: #a9d08e;">
                            <div class="col-3">
                                <p class="blacktxt bolder nomarginbottomP"> Salida # <span> {{this.tInfo.Folio}}</span></p>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-3">
                                <p class="blacktxt bolder nomarginbottomP"> Fecha:
                                    <span>{{this.tInfo.FechaExpedicion | date: 'yyyy/MM/dd'}}</span></p>
                            </div>
                        </div>
                        <div class="container row">
                            <div class="col-3">
                                <p class="blacktxt bolder nomarginbottomP">Cliente: <span>{{ocInfo.Cliente}}</span></p>
                                <p class="blacktxt bolder nomarginbottomP">Enviar A: <span>{{tInfo.Destino}}</span></p>
                            </div>
                            <div class="col-5">
                                <!-- Cual producto se debe de mostrar??? -->
                                <p class="blacktxt bolder nomarginbottomP">PRODUCTO: <span>{{tInfo.CampoExtra1}}</span></p>
                            </div>
                            <div class="col-2">
                                <p class="blacktxt bolder nomarginbottomP">Fletera: <span>{{this.ocInfo.Fletera}}</span></p>
                            </div>
                            <div class="col-2">
                                <p class="blacktxt bolder nomarginbottomP"># Caja: <span>{{this.ocInfo.Caja}}</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End TOP -->

            <!-- BODY -->
            <div>
                <table class="table-striped">
                    <thead class="thead">
                        <tr>
                            <th class="blacktxt bolder whitecolor">CBK</th>
                            <th class="blacktxt bolder whitecolor">Proveedor</th>
                            <th class="blacktxt bolder whitecolor">PO</th>
                            <th class="blacktxt bolder whitecolor">Producto</th>
                            <th class="blacktxt bolder whitecolor">LOTE</th>
                            <th class="blacktxt bolder whitecolor">SACOS</th>
                            <th class="blacktxt bolder whitecolor">PESO POR SACO</th>
                            <th class="blacktxt bolder whitecolor">PESO TOTAL</th>
                            <th class="blacktxt bolder whitecolor">BODEGA</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let conceptos of ocDetalleInfo; let i = index">
                        <!-- <tbody> -->
                        <tr class="pgbreak">
                            <td class="wrap lightback pgbreak">{{conceptos.Pedimento}} </td>
                            <td class="wrap lightback pgbreak">{{conceptos.Proveedor}}</td>
                            <td class="wrap lightback">{{conceptos.PO}}</td>
                            <td class="wrap lightback">{{conceptos.Producto}}</td>
                            <td class="wrap lightback pgbreak"> {{conceptos.Lote}}</td>
                            <td class="pgbreak">{{conceptos.Sacos | number: '1.0-0'}} </td>
                            <td class="pgbreak">{{conceptos.PesoxSaco}}</td>
                            <td class="pgbreak">{{((+conceptos.PesoxSaco)*(+conceptos.Sacos)) | number: '1.0-0'}}</td>
                            <td class="pgbreak">{{this.ocInfo.Origen}}</td>
                        </tr>
                        <!-- <tr class="pgbreak">
                            <td class="wrap lightback pgbreak"> </td>
                            <td class="wrap lightback pgbreak"> {{conceptos.Proveedor}}</td>
                            <td class="wrap lightback">{{conceptos.PO}}</td>
                            <td class="wrap lightback">{{conceptos.Producto}}</td>
                            <td class="wrap lightback pgbreak"> {{conceptos.Lote}}</td>
                            <td class="pgbreak">{{conceptos.Sacos}} </td>
                            <td class="pgbreak">{{conceptos.PesoxSaco}}</td>
                            <td class="pgbreak">{{this.pesototalprod[i]}}</td>
                            <td class="pgbreak">Bodega</td>
                        </tr> -->
                    </tbody>
                    <td class="wrap lightback pgbreak texto mt-2" [attr.colspan]="4"> </td>
                    <td class="wrap lightback pgbreak mt-2 bolder blacktxt"> Total </td>
                    <td class="wrap lightback pgbreak texto mt-2">{{this.ocInfo.Sacos | number: '1.0-0'}}</td>
                    <td class="wrap lightback pgbreak mt-2 bolder blacktxt"> Total KG</td>
                    <td class="wrap lightback pgbreak texto mt-2"> {{this.ocInfo.Kg | number: '1.0-0'}}</td>

                </table>

            </div>

            <div class="container row pgbreak">
                <div class="col-6 pgbreak">
                    <h3 style="display: inline-block; background-color: rgb(238, 238, 238); font-weight: 900; padding-right: 10px; padding-left: 10px; ">
                        USDA </h3>
                    <h3 style="display: inline-block; padding-right: 10px; padding-left: 10px; font-weight: 300; " class="borderContainer">
                        <p>{{this.USDA}}</p>
                    </h3>
                    <table class="table-striped pgbreak">
                        <thead class="thead">
                            <tr>
                                <th class="blacktxt bolder whitecolor">Factura</th>
                                <th class="blacktxt bolder whitecolor">Sacos</th>
                                <th class="blacktxt bolder whitecolor">KG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="pgbreak"> -->
                            <tr *ngFor="let conceptos of ocDetalleInfo; let i = index">
                                <td>{{conceptos.Shipper}}</td>
                                <td>{{conceptos.Sacos | number: '1.0-0'}}</td>
                                <td>{{((+conceptos.PesoxSaco)*(+conceptos.Sacos)) | number: '1.0-0'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table pgbreak">
                        <thead>
                            <tr>
                                <th class="blacktxt bolder pgbreak pb-0 mb-0">Shipper</th>
                                <th class="blacktxt bolder pgbreak pb-0 mb-0">USDA</th>
                                <th class="blacktxt bolder pgbreak pb-0 mb-0">PEDIMENTO</th>
                                <th class="blacktxt bolder pgbreak pb-0 mb-0">FAC IMPORTACION</th>
                                <th class="blacktxt bolder pgbreak pb-0 mb-0">FAC ALMACENAMIENTO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- <tr *ngFor="let conceptos of arrcon; let i = index"> -->

                                <td class="borderContainer pgbreak"></td>
                                <!-- <td class="borderContainer pgbreak">{{this.arrcon[0].USDA1}}</td> -->
                                <td class="borderContainer pgbreak"></td>
                                <td class="borderContainer pgbreak"></td>
                                <td class="borderContainer pgbreak"></td>
                                <td class="borderContainer pgbreak"></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="blacktxt bolder nomarginbottomP" style="display: block;">NOTAS</p>
                    <div class="borderContainer pgbreak" style="height: 100px;">
                        <p>
                            <!-- {{this.comentarios}} -->
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- fin Area A IMPRIMIR -->

    </div>

    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" (click)="onClose()">Cerrar</button>
        <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick()">Descargar</button>
    </div> -->
</div>