<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="d-flex justify-content-between">
                    <h2>Generar Factura</h2>
                    <div>
                        Estatus:
                        <p [ngSwitch]=Estatus>
                            <span *ngSwitchCase="'Timbrada'" class="label label-light-success">TIMBRADA</span>
                            <span *ngSwitchCase="'Creada'" class="label label-light-info">CREADA</span>
                            <span *ngSwitchCase="'Cancelada'" class="label label-light-danger">CANCELADA</span>
                        </p>
                    </div>

                    <button class="mt-2" mat-raised-button (click)="Regresar()" color="primary">Regresar</button>
                </div>
                <hr>




                <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

                    <div id="div1" class="form-material">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="input-group-text text-info">Cliente a Facturar</label>



                                    <select id="div2" class="form-control" name="ClienteId" #ClienteId="ngModel" [(ngModel)]="service.formData.IdCliente" required>
                                        <option [ngValue]="null" disabled>Choose your profile</option>
                                        <option *ngFor="let dl of listClientes" [ngValue] = "dl.IdClientes">
                                            {{dl.Nombre}}
                                        </option>
                                    </select>

                                    <div class="text-left text-danger" *ngIf="ClienteId.invalid && ClienteId.touched ">
                                        Favor de Seleccionar un Cliente
                                    </div>
                                    <!------------------------------------------------------------------------------------------>

                                    <label style="display: none" class="input-group-text text-info">Serie</label>

                                    <input style="display: none" type="string" class="form-control" name="Serie" #Serie="ngModel" [(ngModel)]="service.formData.Serie">

                                    <div style="display: none" class="text-left text-danger" *ngIf="Serie.invalid && Serie.touched">
                                        Favor de Ingresar Serie
                                    </div>
                                    <!----------------------------------------------------------------------------------------------->

                                    <label class="input-group-text text-info">Uso CFDI</label>

                                    <select class="form-control" name="UsoDelCFDI" #UsoDelCFDI="ngModel" [(ngModel)]="service.formData.UsoDelCFDI" required>
                            <option [ngValue] = "null" selected disabled >Seleccionar CFDI</option>
                            <option *ngFor="let dl of listCFDI" [ngValue] = "dl.UsoDelCFDI"> {{dl.text}} </option>
                        </select>

                                    <div class="text-left text-danger" *ngIf="UsoDelCFDI.invalid && UsoDelCFDI.touched">
                                        Favor de Seleccionar CFDI
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label class="input-group-text text-info">Metodo Pago</label>

                                    <select class="form-control" name="MetodoDePago" #MetodoDePago="ngModel" [(ngModel)]="service.formData.MetodoDePago" required>
                            <option [ngValue] = "null" selected disabled >Seleccionar Metodo Pago</option>
                            <option *ngFor="let dl of listMP" [ngValue] = "dl.MetodoDePago"> {{dl.text}} </option>
                        </select>

                                    <div class="text-left text-danger" *ngIf="MetodoDePago.invalid && MetodoDePago.touched">
                                        Favor de Ingresar Metodo de Pago
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label class="input-group-text text-info">Forma de Pago</label>

                                    <select class="form-control" name="FormaDePago" #FormaDePago="ngModel" [(ngModel)]="service.formData.FormaDePago" required>
                            <option [ngValue] = "null" selected disabled >Seleccionar Forma Pago</option>
                            <option *ngFor="let dl of listFP" [ngValue] = "dl.FormaDePago"> {{dl.text}} </option>
                        </select>

                                    <div class="text-left text-danger" *ngIf="FormaDePago.invalid && FormaDePago.touched">
                                        Favor de Ingresar Forma de Pago
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->


                                    <label style="display: none" class="input-group-text text-info">Subtotal</label>

                                    <input style="display: none" type="string" class="form-control" name="Subtotal" #Subtotal="ngModel" [(ngModel)]="service.formData.Subtotal">

                                    <div style="display: none" class="text-left text-danger" *ngIf="Subtotal.invalid && Subtotal.touched">
                                        Favor de Ingresar Subtotal
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label style="display: none" class="input-group-text text-info">Impuestos Trasladados</label>

                                    <input style="display: none" type="string" class="form-control" name="ImpuestosTrasladados" #ImpuestosTrasladados="ngModel" [(ngModel)]="service.formData.ImpuestosTrasladados">

                                    <div style="display: none" class="text-left text-danger" *ngIf="ImpuestosTrasladados.invalid && ImpuestosTrasladados.touched">
                                        Favor de Ingresar Impuestos Trasladados
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label style="display: none" class="input-group-text text-info">Total</label>

                                    <input style="display: none" type="string" class="form-control" name="Total" #Total="ngModel" [(ngModel)]="service.formData.Total">

                                    <div style="display: none" class="text-left text-danger" *ngIf="Total.invalid && Total.touched">
                                        Favor de Ingresar Total
                                    </div>

                                    <label class="input-group-text text-info">Fecha Expedicion</label>

                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <input readonly="readonly" required [matDatepicker]="picker1" type="text" class="form-control" name="FechaDeExpedicion" #FechaDeExpedicion="ngModel" [(ngModel)]="service.formData.FechaDeExpedicion">
                                    <mat-datepicker #picker1></mat-datepicker>

                                    <div class="text-left text-danger" *ngIf="FechaDeExpedicion.invalid && FechaDeExpedicion.touched">
                                        Favor de Ingresar Fecha Expedicion
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label class="input-group-text text-info">Fecha Vencimiento</label>

                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <input readonly="readonly" required [matDatepicker]="picker2" type="text" class="form-control" name="FechaVencimiento" #FechaVencimiento="ngModel" [(ngModel)]="service.formData.FechaVencimiento">
                                    <mat-datepicker #picker2></mat-datepicker>

                                    <div class="text-left text-danger" *ngIf="FechaVencimiento.invalid && FechaVencimiento.touched">
                                        Favor de Ingresar Fecha Vencimiento
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label class="input-group-text text-info">Fecha Entrega</label>

                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <input readonly="readonly" required [matDatepicker]="picker3" type="text" class="form-control" name="FechaDeEntrega" #FechaDeEntrega="ngModel" [(ngModel)]="service.formData.FechaDeEntrega">
                                    <mat-datepicker #picker3></mat-datepicker>

                                    <div class="text-left text-danger" *ngIf="FechaDeEntrega.invalid && FechaDeEntrega.touched">
                                        Favor de Ingresar Fecha Entrega
                                    </div>

                                </div>


                                <div class="col-lg-6">
                                    <!--               -------------------------------------------------------                                       -->
                                    <label class="input-group-text text-info">Folio</label>

                                    <input readonly="readonly" required minlength="2" type="number" class="form-control" name="Folio" #Folio="ngModel" [(ngModel)]="service.formData.Folio">

                                    <div class="text-left text-danger" *ngIf="Folio.invalid && Folio.touched">
                                        Favor de Ingresar Folio
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->


                                    <label class="input-group-text text-info">Moneda</label>

                                    <input required minlength="2" type="string" class="form-control" name="Moneda" #Moneda="ngModel" [(ngModel)]="service.formData.Moneda">

                                    <div class="text-left text-danger" *ngIf="Moneda.invalid && Moneda.touched">
                                        Favor de Ingresar Moneda
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label class="input-group-text text-info">Orden De Compra</label>

                                    <input type="string" class="form-control" name="OrdenDeCompra" #OrdenDeCompra="ngModel" [(ngModel)]="service.formData.OrdenDeCompra">

                                    <div class="text-left text-danger" *ngIf="OrdenDeCompra.invalid && OrdenDeCompra.touched">
                                        Favor de Ingresar Orden De Compra
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->


                                    <label class="input-group-text text-info">Observaciones</label>

                                    <input type="string" class="form-control" name="Observaciones" #Observaciones="ngModel" [(ngModel)]="service.formData.Observaciones">

                                    <div class="text-left text-danger" *ngIf="Observaciones.invalid && Observaciones.touched">
                                        Favor de Ingresar Observaciones
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label style="display: none" class="input-group-text text-info">Tipo De Cambio</label>

                                    <input style="display: none" type="string" class="form-control" name="TipoDeCambio" #TipoDeCambio="ngModel" [(ngModel)]="service.formData.TipoDeCambio">

                                    <div style="display: none" class="text-left text-danger" *ngIf="TipoDeCambio.invalid && TipoDeCambio.touched">
                                        Favor de Ingresar Tipo De Cambio
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label class="input-group-text text-info">Condiciones De Pago</label>

                                    <input type="string" class="form-control" name="CondicionesDePago" #CondicionesDePago="ngModel" [(ngModel)]="service.formData.CondicionesDePago">

                                    <div class="text-left text-danger" *ngIf="CondicionesDePago.invalid && CondicionesDePago.touched">
                                        Favor de Ingresar Condiciones De Pago
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->

                                    <label class="input-group-text text-info">Vendedor</label>

                                    <input type="string" class="form-control" name="Vendedor" #Vendedor="ngModel" [(ngModel)]="service.formData.Vendedor">

                                    <div class="text-left text-danger" *ngIf="Vendedor.invalid && Vendedor.touched">
                                        Favor de Ingresar Vendedor
                                    </div>
                                    <!--               -------------------------------------------------------                                       -->




                                </div>

                                <!-- Aqui van los botones -->

                            </div>
                        </div>
                    </div>
                </form>

                <!--               -------------------------------------------------------                                       -->
                <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------->

                <hr>

                <mat-divider></mat-divider>
                <!-- <mat-card style="text-align: right;" class="mat-elevation-z0">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </mat-card> -->
                <br>
                <h2>Productos</h2>
                <br>


                <!-- <div style="overflow:auto;" > -->
                <div>
                    <table style="width: 100% " mat-table [dataSource]="listData" matSort>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <ng-container matColumnDef="ClaveProducto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Producto</th>
                            <td mat-cell *matCellDef="let element">{{element.ClaveProducto}}</td>
                        </ng-container>
                        <ng-container matColumnDef="ClaveSAT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave SAT</th>
                            <td mat-cell *matCellDef="let element">{{element.ClaveSAT}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Producto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                            <td mat-cell *matCellDef="let element">{{element.Producto}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Cantidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                            <td mat-cell *matCellDef="let element">{{element.Cantidad}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Precio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                            <td mat-cell *matCellDef="let element">{{element.Importe}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Options">
                            <th mat-header-cell *matHeaderCellDef>Options</th>
                            <td mat-cell *matCellDef="let row">
                                <div *ngIf="this.Estatus == 'Timbrada' || this.Estatus == 'Cancelada'; else elseBlock1">
                                    <button type="button" class="btn btn-secondary">No Editable</button>
                                </div>
                                <ng-template #elseBlock1>
                                    <!--  -->
                                    <button mat-icon-button (click)="onEdit(row)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                    <!--  -->
                                    <button mat-icon-button color="warn" (click)="onDelete(row.IdDetalle)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </ng-template>
                            </td>
                        </ng-container>
                    </table>
                </div>

            </div>

            <mat-divider></mat-divider>
            <br>
            <!-- Totales -->
            <div class="form-material">
                <table style="border-spacing: 20px; border-collapse: separate; border: groove; float: right">
                    <tr>
                        <td>
                            <label class="input-group-text text-info">Subtotal</label>
                        </td>
                        <td>
                            <input class="form-control" name="Subtotal" #Subtotal="ngModel" [ngModel]="service.formData.Subtotal | currency">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="input-group-text text-info">Impuestos Trasladados</label>
                        </td>
                        <td>
                            <input class="form-control" name="ImpuestosTrasladados" #ImpuestosTrasladados="ngModel" [ngModel]="service.formData.ImpuestosTrasladados | currency">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="input-group-text text-info">Total</label>
                        </td>
                        <td>
                            <input class="form-control" name="Total" #Total="ngModel" [ngModel]="service.formData.Total | currency">
                        </td>
                    </tr>
                </table>

            </div>

            <br>
            <mat-divider></mat-divider>



            <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div *ngIf="this.Estatus == 'Timbrada' || this.Estatus == 'Cancelada'; else elseBlock2">
                <!-- <button type="button" class="btn btn-secondary">  </button> -->
            </div>
            <ng-template #elseBlock2>
                <button class="mt-2" mat-raised-button (click)="onAddProducto()" color="primary">Agregar Producto</button>
            </ng-template>


            <div *ngIf="this.Estatus == 'Timbrada' || this.Estatus == 'Cancelada'; else elseBlock">
                <table style="border-spacing: 20px; border-collapse: separate;float: right">
                    <tr>
                        <td>
                            <button class="mt-4" mat-raised-button color="primary" type="button" (click)='dxml(service.formData.UUID,service.formData.Folio)' [disabled]="form.invalid">XML / PDF</button>
                        </td>
                        <td>
                            <button class="mt-4" mat-raised-button color="primary" type="button" [disabled]="form.invalid" data-toggle="modal" data-target="#add-new-event"> Ver PDF</button>
                        </td>
                        <td>
                            <button class="mt-4" mat-raised-button color="primary" type="button" (click)='cancelar(service.formData.UUID,service.formData.Folio)' [disabled]="form.invalid">Cancelar</button>
                        </td>
                        <td>
                            <button style="display: none" class="mt-4" mat-raised-button color="primary" type="button" (click)='email(service.formData.UUID,service.formData.Folio)' [disabled]="form.invalid">Enviar</button>
                        </td>
                    </tr>
                </table>
                <!-- <button type="button" class="btn btn-secondary">No Editable</button> -->
            </div>
            <ng-template #elseBlock>
                <button class="mt-4" mat-raised-button color="primary" type="button" (click)="onSubmit(form)" [disabled]="form.invalid">Guardar</button>
                <button class="mt-4" mat-raised-button color="primary" type="button" (click)='timbrar(form)' [disabled]="form.invalid">Guardar y Timbrar</button>
            </ng-template>

            <div class="row animated fadeIn fadeOut" *ngIf="this.proceso == 'Timbrando'">
                <div class="col-sm-12">
                    <div class="alert alert-info text-center">
                        <strong> Timbrando </strong>
                        <br>
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row animated fadeIn fadeOut" *ngIf="this.proceso == 'xml'">
                <div class="col-sm-12">
                    <div class="alert alert-info text-center">
                        <strong> Generando Archivos </strong>
                        <br>
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                        <br>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>


<!-- <div>
    <button (click)="enviar()"> Facturar </button>
    <h1> {{ estatusfact }} </h1>

    <button (click)='dxml("b72a80f7-9fd7-4636-93e7-bff5e54b1c89")'> XML </button>
    <button data-toggle="modal" data-target="#add-new-event"> PDF </button>

</div> -->


<!-- Aqui va el PDF -->

<div class="modal fade bs-example-modal-lg show" id="add-new-event">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4 class="modal-title">Factura</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div> -->

            <app-factura [xmlparametros]="xmlparam"></app-factura>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary waves-effect waves-light save-category" (click)="onExportClick(service.formData.Folio)">Descargar</button>
            </div>
        </div>
    </div>
</div>