<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2>Historial Leche</h2>
                <div class="bg-theme stats-bar">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="p-20 active">
                                <h6 class="text-white">Dia</h6>
                                <h3 class="text-white m-b-0">$20.00</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="p-20">
                                <h6 class="text-white">Precio</h6>
                                <h3 class="text-white m-b-0">$19.59</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="p-20">
                                <h6 class="text-white">Promedio Semana</h6>
                                <h3 class="text-white m-b-0">$18.96</h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div>
</div>