<!-- <app-stock></app-stock> -->
<!-- <app-tracking-pedido> -->
<!-- </app-tracking-pedido> -->
<!-- <app-tipo-cambio></app-tipo-cambio> -->
<!-- <app-leche-historial></app-leche-historial> -->
<!-- <app-folios></app-folios> -->

<app-checador></app-checador>


<!-- 
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <button (click)="leche2()"> Leche </button> {{leche}}
                <button (click)="notpush()"> Notificaciones </button>
                <button (click)="preguntarnot()"> Preguntar </button>

            </div>
        </div>
    </div>
</div> -->