<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>
                    <label class="input-group-text text-info">{{this.enviarfact.empresa.RazonSocial}}</label>
                    <!-- <select class="form-control" name="Empresa" #Empresa="ngModel" [(ngModel)]="this.enviarfact.empresa" required (ngModelChange)='cambioEmpresa($event)'>
                                <option [ngValue]="null" selected disabled>Seleccionar Empresa</option>
                                <option *ngFor="let e of listEmpresa" [ngValue]="e"> {{e.RazonSocial}} </option>
                              </select> -->
                </div>
                <!--    <div>
                            <button (click)='rfc()'>RFC</button>
                        </div> -->

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Reportes de Cobranza
              </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <mat-card class="mat-elevation-z0">
                <div class="container">
                    <div class="row">
                        <div class="col-4" style="align-self: center">

                            <mat-checkbox class="checkbx" [(checked)]="todosClientes" (change)="checkbox($event)">
                            </mat-checkbox>
                            <label class="input-group-text text-info">
                            Todos Los Clientes
                        </label>
                        </div>
                        <div class="col-8" *ngIf="!todosClientes">
                            <label class="input-group-text text-info">Seleccionar Cliente</label>

                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Seleccionar Cliente" aria-label="Number" [formControl]="myControl" matInput [matAutocomplete]="auto" name="ClienteId" [(ngModel)]="serviceCliente.Idclienteservicio">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.IdClientes" (onSelectionChange)="onSelectionChange(option, $event)">
                                                {{option.IdClientes}} {{option.Nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <input type="string" class="form-control" readonly name="ClienteNombre" readonly [(ngModel)]="ClienteNombre">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!--   <br>
                <div class="col-12">
                    <h2 class="h1-responsive" style="text-align: center;"> Reportes de Cobranza </h2>
                </div>
                <br>
                <br>
                <br> -->
                    <div class="container">
                        <div class="row">
                            <div class="col-4 btnalign">
                                <button class="btn btn-prolacto" id="abrirpdf" (click)='reporteCobranza()'><i class="mdi mdi-file-outline btn-lg"></i>Reporte Cobranza</button>
                            </div>
                            <div class="col-4 btnalign">
                                <button class="btn btn-prolacto" id="abrirpdf" (click)="reporteCobranzaDlls()"><i class="mdi mdi-file-outline btn-lg"></i>Reporte Cobranza Dlls</button>
                            </div>
                            <div class="col-4 btnalign">
                                <button class="btn btn-prolacto" id="abrirpdf" (click)="reporteCobranzaMxn()"><i class="mdi mdi-file-outline btn-lg"></i>Reporte Cobranza Mxn</button>
                            </div>
                        </div>
                    </div>

                </div>

            </mat-card>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Reporte de Facturacion por Fechas
                      </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <mat-card class="mat-elevation-z0">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label> Fecha Inicial </mat-label>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <input matInput readonly="readonly" required [matDatepicker]="picker1" type="text" class="form-control" name="fechaInicial" [(ngModel)]="sharedService.fecha1">
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label> Fecha Final </mat-label>
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <input matInput readonly="readonly" required [matDatepicker]="picker2" type="text" class="form-control" name="fechaFinal" [(ngModel)]="sharedService.fecha2">
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <button (click)="abrirReporte()" class="btn btn-prolacto"> Reporte Detallado </button>
                                <!-- <button (click)="reporteFechasExcel()" class="btn btn-info"> Reporte Resumen Excel</button> -->
                                <button (click)="abrirReporteResumen()" class="btn btn-prolacto"> Reporte Resumen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>


    <!-- <div class="modal fade bs-example-modal-lg show" id="add-new-event">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container row">
                    <div class="col-11">

                    </div>
                    <div class="col-1">
                        <div>
                            <button class="btn btn-danger" color="warn" data-dismiss="modal" style="float: right;">
                        <mat-icon>close</mat-icon>
                      </button>
                        </div>

                    </div>
                </div>

                <div class="modal0-body ">

                    <div id="pdf">
    
    <div [style.display]="isVisible ? 'block' : 'none'">
        <app-header-reportes></app-header-reportes>

    </div>
    
    <div class="content-wrapper">
        <app-reporte></app-reporte>
    </div>
</div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
    <button class="btn btn-primary waves-effect waves-light save-category" (click)=" onExportClick()">Descargar</button>
    
</div>
</div>
</div>
</div>  -->

    <!-- 
    <div class="modal fade bs-example-modal-lg show" id="add-new-event1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


                <div class="container row">
                    <div class="col-11">

                    </div>
                    <div class="col-1">
                        <div>
                            <button class="btn btn-danger" color="warn" data-dismiss="modal" style="float: right;">
                        <mat-icon>close</mat-icon>
                      </button>
                        </div>

                    </div>
                </div>

                <div class="modal0-body ">

                    <div id="pdfdlls">
                        
                        <div [style.display]="isVisible ? 'block' : 'none'">
                            <app-header-reportes></app-header-reportes>

                        </div>
                        
                        <div class="content-wrapper">
                            <app-reporte-dlls></app-reporte-dlls>
                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary waves-effect waves-light save-category" (click)=" onExportClickdlls()">Descargar</button>
                    
                </div>
            </div>
        </div>
    </div> -->

    <!--   <div class="modal fade bs-example-modal-lg show" id="add-new-event2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container row">
                    <div class="col-11">

                    </div>
                    <div class="col-1">
                        <div>
                            <button class="btn btn-danger" color="warn" data-dismiss="modal" style="float: right;">
                        <mat-icon>close</mat-icon>
                      </button>
                        </div>

                    </div>
                </div>

                <div class="modal0-body ">

                    <div id="pdfmxn">
                        
                        <div [style.display]="isVisible ? 'block' : 'none'">
                            <app-header-reportes></app-header-reportes>

                        </div>
                        
                        <div class="content-wrapper">
                            <app-reporte-mxn></app-reporte-mxn>
                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary waves-effect waves-light save-category" (click)=" onExportClickmxn()">Descargar</button>
                    
                </div>
            </div>
        </div>
    </div> -->

    <hr>
    <!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <app-facturacion></app-facturacion>

            </div>
        </div>
    </div>
</div> -->
    <ngx-loading [show]="loading" [config]="{animationType: ngxLoadingAnimationTypes.circleSwish}">
    </ngx-loading>
</div>