.btnalign {
    padding-left: 69px;
}

.modal-lg {
    width: 100% !important;
}


/* .modal-dialog {
    width: 100% !important;
    max-width: 1200px;
} */

.example-full-width {
    display: initial !important;
}
.btn-prolacto {
    background-color: black;
    color: white
}

.btn-prolacto:hover {
    background-color: white;
    color: black
}