<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div style="background-color: black; width: 100%;">
                    <img src="./assets/images/AIN140101ME3.png" width="150px">
                </div>

                <h1> Orden de Compra </h1>

                <h2>Detalles de la Orden de Compra</h2>


                <div class="row">

                    <div class="col-6">
                        <h3>ID Pedido</h3>
                    </div>
                    <div class="col-6">
                        <h3>{{this.pedidoSVC.pedidoCliente.IdPedido}}</h3>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6">
                        <h3>Total</h3>
                    </div>
                    <div class="col-6">
                        <h3>{{this.pedidoSVC.pedidoCliente.TotalDlls}}</h3>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6">
                        <h3>Fecha</h3>
                    </div>
                    <div class="col-6">
                        <h3>{{this.pedidoSVC.pedidoCliente.FechaDeEntrega}}</h3>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12">
                        <h3>Su compra ha sido validada</h3>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>