::ng-deep .mat-form-field {
    width: 100% !important;
}

::ng-deep .mat-header-cell {
    color: #ffffff;
    background: #000000;
}

.borderbox {
    border: 3px solid grey;
    padding: 10px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #005691!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #005691;
}

.row {
    margin-left: 0 !important;
}

.btncoti {
    background-color: #000000;
    color: white
}

#whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
}

.btn-prolacto {
    background-color: black;
    color: white
}

.btn-prolacto:hover {
    background-color: white;
    color: black
}

.body {
    padding: 0px !important;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0px !important;
}

::ng-deep .custom-mat-option .mat-option-text {
    overflow: auto;
    text-overflow: unset;
}