<h3 class="text-muted m-t-10 m-b-0">Pedidos Ventas</h3>
<button class="mt-2" mat-raised-button (click)="Regresar()" color="primary">Regresar</button>

<div class="col-12">
    <div class="card">
        <div class="card-body">


            <!-- Step 1 -->
            <h6>Informacion del cliente</h6>
            <section>
                <!-- va en el ngform -->
                <!--   updateReciboPago(reciboPago: ReciboPago) {
    return this.http.put(this.APIUrl + '/ReciboPago', reciboPago);
  } -->

                <div class="form-material">

                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                            <form>
                                <ng-template matStepLabel>Cliente</ng-template>
                                <label class="input-group-text text-info">Cliente :</label> <br>

                                <mat-form-field>
                                    <input type="text" placeholder="Seleccionar Cliente" aria-label="Number" [formControl]="myControl" matInput [matAutocomplete]="auto" [(ngModel)]="service.formData.IdClientes" name="IdClientes">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.IdClientes" (blur)="onBlurCliente()" (onSelectionChange)="onSelectionChange(option, $event)">
                                            {{option.IdClientes}} {{option.Nombre}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <br>
                                            <label class="input-group-text text-info">Nombre :</label>
                                            <input type="text" class="form-control" name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formData.Nombre" readonly>

                                            <label class="input-group-text text-info">RFC :</label>
                                            <input type="text" class="form-control" name="RFC" #RFC="ngModel" [(ngModel)]="service.formData.RFC" readonly>

                                            <label class="input-group-text text-info">Razon Social :</label>
                                            <input type="text" class="form-control" name="RazonSocial" #RazonSocial="ngModel" [(ngModel)]="service.formData.RazonSocial" readonly>

                                            <label class="input-group-text text-info">Calle :</label>
                                            <input type="text" class="form-control" name="Calle" #Calle="ngModel" [(ngModel)]="service.formData.Calle" readonly>

                                            <label class="input-group-text text-info">Colonia :</label>
                                            <input type="text" class="form-control" name="Colonia" #Colonia="ngModel" [(ngModel)]="service.formData.Colonia" readonly>

                                            <label class="input-group-text text-info">CP :</label>
                                            <input type="text" class="form-control" name="CP" #CP="ngModel" [(ngModel)]="service.formData.CP" readonly>

                                            <label class="input-group-text text-info">Ciudad :</label>
                                            <input type="text" class="form-control" name="Ciudad" #Ciudad="ngModel" [(ngModel)]="service.formData.Ciudad" readonly>

                                            <label class="input-group-text text-info">Estado :</label>
                                            <input type="text" class="form-control" name="Estado" #Estado="ngModel" [(ngModel)]="service.formData.Estado" readonly>
                                        </div>
                                        <div class="col-6">

                                            <label class="input-group-text text-info">NumeroInterior :</label>
                                            <input type="text" class="form-control" name="NumeroInterior" #NumeroInterior="ngModel" [(ngModel)]="service.formData.NumeroInterior" readonly>

                                            <label class="input-group-text text-info">NumeroExterior :</label>
                                            <input type="text" class="form-control" name="NumeroExterior" #NumeroExterior="ngModel" [(ngModel)]="service.formData.NumeroExterior" readonly>

                                            <label class="input-group-text text-info">ClaveCliente :</label>
                                            <input type="text" class="form-control" name="ClaveCliente" #ClaveCliente="ngModel" [(ngModel)]="service.formData.ClaveCliente" readonly>

                                            <label class="input-group-text text-info">Estatus :</label>
                                            <input type="text" class="form-control" name="Estatus" #Estatus="ngModel" [(ngModel)]="service.formData.Estatus" readonly>

                                            <label class="input-group-text text-info">LimiteCredito :</label>
                                            <input type="text" class="form-control" name="LimiteCredito" #LimiteCredito="ngModel" [(ngModel)]="service.formData.LimiteCredito" readonly>

                                            <label class="input-group-text text-info">DiasCredito :</label>
                                            <input type="text" class="form-control" name="DiasCredito" #DiasCredito="ngModel" [(ngModel)]="service.formData.DiasCredito" readonly>

                                            <label class="input-group-text text-info">MetodoPago :</label>
                                            <input type="text" class="form-control" name="MetodoPago" #MetodoPago="ngModel" [(ngModel)]="service.formData.MetodoPago" readonly>

                                            <label class="input-group-text text-info">UsoCFDI :</label>
                                            <input type="text" class="form-control" name="UsoCFDI" #UsoCFDI="ngModel" [(ngModel)]="service.formData.UsoCFDI" readonly>

                                            <label class="input-group-text text-info">IdApi :</label>
                                            <input type="text" class="form-control" name="IdApi" #IdApi="ngModel" value="" [(ngModel)]="service.formData.IdApi" readonly>
                                            <div>
                                            </div>
                                        </div>
                                        <button class="btn btn-info btn-md" style="float: right;" matStepperNext>Next</button>
                                    </div>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="secondFormGroup">
                            <form>
                                <ng-template matStepLabel>Producto</ng-template>
                                <label class="input-group-text text-info">Producto :</label> <br>
                                <mat-form-field>
                                    <input type="text" placeholder="Seleccionar Producto" aria-label="Number" [formControl]="myControl2" matInput [matAutocomplete]="autoProducto">
                                    <mat-autocomplete #autoProducto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option.IdProducto" (onSelectionChange)="onSelectionChange2(option, $event)">
                                            {{option.IdProducto}} {{option.Nombre}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <br>
                                            <label class="input-group-text text-info">Nombre :</label>
                                            <input type="text" class="form-control" name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formProd.Nombre" readonly>

                                            <br>
                                            <label class="input-group-text text-info"> Precio Costo:</label>
                                            <input type="text" class="form-control" name="PrecioCosto" #PrecioVenta="ngModel" [(ngModel)]="service.formProd.PrecioVenta">

                                            <label class="input-group-text text-info"> Cantidad:</label>
                                            <input type="text" class="form-control" name="Cantidad" [(ngModel)]="Cantidad">

                                            <label class="input-group-text text-info">Moneda</label>
                                            <select class="form-control" name="Moneda" #Moneda="ngModel" (change)="MonedaSelected($event)" [(ngModel)]="service.formDataPedido.Moneda" required>
                                                <option [ngValue]="null" selected disabled>Seleccionar Moneda</option>
                                                <option *ngFor="let dl of listMoneda" [ngValue]="dl.Moneda"> {{dl.Moneda}} </option>
                                            </select>

                                            <label class="input-group-text text-info"> ClaveProducto:</label>
                                            <input type="text" class="form-control" name="ClaveProducto" #ClaveProducto="ngModel" [(ngModel)]="service.formProd.ClaveProducto" readonly>

                                        </div>
                                        <div class="col-6">

                                            <mat-form-field class="example-full-width">
                                                <input type="text" placeholder="Seleccionar Medida" aria-label="Number" matInput [formControl]="myControlUnidad" [matAutocomplete]="autoUnidad" [(ngModel)]="service.formDataDP.Unidad" (focus)="unidadMedida()">
                                                <mat-autocomplete #autoUnidad="matAutocomplete">
                                                    <mat-option *ngFor="let option of filteredOptionsUnidad | async" [value]="option.key">
                                                        {{option.key}} {{option.name}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>


                                            <label class="input-group-text text-info"> Stock:</label>
                                            <input type="text" class="form-control" name="Stock" #Stock="ngModel" [(ngModel)]="service.formProd.Stock" readonly>

                                            <label class="input-group-text text-info"> Descripcion Producto:</label>
                                            <input type="text" class="form-control" name="DescripcionProducto" #DescripcionProducto="ngModel" [(ngModel)]="service.formProd.DescripcionProducto" readonly>

                                            <label class="input-group-text text-info"> Estatus:</label>
                                            <input type="text" class="form-control" name="Estatus" #Estatus="ngModel" [(ngModel)]="service.formProd.Estatus" readonly>

                                            <label class="input-group-text text-info"> IVA:</label>
                                            <input type="text" class="form-control" name="IVA" #IVA="ngModel" [(ngModel)]="service.formProd.IVA" readonly>

                                            <label class="input-group-text text-info">Clave SAT :</label>
                                            <input type="text" class="form-control" name="ClaveSAT" #ClaveSAT="ngModel" [(ngModel)]="service.formProd.ClaveSAT" readonly>

                                        </div>
                                        <button class="btn btn-dark" (click)="onAddProducto()">Agregar Producto</button>
                                        <br>
                                        <mat-divider></mat-divider>
                                        <!-- <mat-card style="text-align: right;" class="mat-elevation-z0">
                                            <mat-form-field>
                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                            </mat-form-field>
                                        </mat-card> -->
                                        <h2>Productos</h2>
                                        <div class="mat-elevation-z8 container">
                                            <div style="overflow:auto;">

                                                <div>
                                                    <table style="width: 100% " mat-table [dataSource]="listData" matSort>

                                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                                        <ng-container matColumnDef="ClaveProducto">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Producto</th>
                                                            <td mat-cell *matCellDef="let element">{{element.ClaveProducto}}</td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="ClaveSAT">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave SAT</th>
                                                            <td mat-cell *matCellDef="let element">{{element.ClaveSAT}}</td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="Producto">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                                                            <td mat-cell *matCellDef="let element">{{element.Producto}}</td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="Cantidad">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                                                            <td mat-cell *matCellDef="let element">{{element.Cantidad}}</td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="Precio">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                                                            <td mat-cell *matCellDef="let element">{{element.Importe | currency}}</td>
                                                        </ng-container>

                                                        <ng-container matColumnDef="Options">
                                                            <th mat-header-cell *matHeaderCellDef>OPCIONES</th>
                                                            <td mat-cell *matCellDef="let row">
                                                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                <mat-icon>keyboard_arrow_down</mat-icon>
                                              </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <!--  -->
                                                                    <button mat-icon-button class="btn btn-dark" (click)="OnEditProducto()">
                                                  <mat-icon>edit</mat-icon>
                                                </button>
                                                                    <!--  -->
                                                                    <button mat-icon-button class="btn btn-danger" (click)="onDelete(row.IdDetalle)">
                                                  <mat-icon>delete_outline</mat-icon>
                                                </button>
                                                                </mat-menu>
                                                            </td>
                                                        </ng-container>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <button class="m-3" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Agregar Producto</button> -->

                                        <!-- Tabla de costos finales -->
                                        <div class="col-12 col-lg-4 col-md-4">
                                            <div class="form-material borderbox">
                                                <div class="container">
                                                    <div class="row">
                                                        <label class="input-group-text text-info col-12 col-md-6 col-lg-6">Total</label>
                                                        <input class="form-control col-12 col-md-6 col-lg-6" readonly="readonly" name="Total" #Total="ngModel" [ngModel]="service.formDataPedido.Total | currency">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div style="float: right;">
                                        <button matStepperPrevious class="btn btn-primary btn-md" style="margin-right: 5px;">Back</button>
                                        <button matStepperNext class="btn btn-info btn-md">Next</button>
                                    </div>
                                </div>

                            </form>
                        </mat-step>

                        <mat-step [stepControl]="thirdFormGroup">
                            <form>
                                <ng-template matStepLabel>Pedido</ng-template>
                                <br>

                                <div class="container">
                                    <div class="row">

                                        <div class="col-6">
                                            <label class="input-group-text text-info">IdPedido:</label>
                                            <input type="text" class="form-control" name="IdPedido" #IdPedido="ngModel" [(ngModel)]="service.formDataPedido.IdPedido" readonly>

                                            <label class="input-group-text text-info">Folio:</label>
                                            <input type="text" class="form-control" name="Folio" #Folio="ngModel" [(ngModel)]="service.formDataPedido.Folio" readonly>

                                            <label class="input-group-text text-info">Observaciones:</label>
                                            <input type="text" class="form-control" name="Observaciones" #Observaciones="ngModel" [(ngModel)]="service.formDataPedido.Observaciones">

                                            <label class="input-group-text text-info">Fecha Vencimiento:</label>
                                            <input type="text" class="form-control" name="FechaVencimiento" #FechaVencimiento="ngModel" [(ngModel)]="service.formDataPedido.FechaVencimiento">
                                        </div>
                                        <div class="col-6">
                                            <label class="input-group-text text-info">Orden de Compra:</label>
                                            <input type="text" class="form-control" name="OrdendeCompra" #OrdendeCompra="ngModel" [(ngModel)]="service.formDataPedido.OrdenDeCompra">

                                            <label class="input-group-text text-info">Fecha de Entrega:</label>
                                            <input type="text" class="form-control" name="FechaDeEntrega" #FechaDeEntrega="ngModel" [(ngModel)]="service.formDataPedido.FechaDeEntrega">

                                            <label class="input-group-text text-info">Condiciones De Pago:</label>
                                            <input type="text" class="form-control" name="CondicionesDePago" #CondicionesDePago="ngModel" [(ngModel)]="service.formDataPedido.CondicionesDePago">

                                            <label class="input-group-text text-info">Vendedor:</label>
                                            <input type="text" class="form-control" name="Vendedor" #Vendedor="ngModel" [(ngModel)]="service.formDataPedido.Vendedor">

                                            <label class="input-group-text text-info">Prioridad:</label>
                                            <input type="text" class="form-control" name="Prioridad" #Prioridad="ngModel" [(ngModel)]="service.formDataPedido.Prioridad">

                                        </div>

                                    </div>
                                </div>

                                <div>
                                    <button class="btn btn-info btn-md" style="float: right;" (click)="crearPedido()">Generar Pedido</button>
                                </div>
                            </form>
                        </mat-step>
                    </mat-horizontal-stepper>


                </div>
            </section>

        </div>
    </div>
</div>