<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h1>Documentos</h1>


                <div class="col-12 col-lg-6">
                    <p style="font-weight: 400; margin-top: 10px;">Archivos:</p>
                    <div style="border: .5px solid black; margin-top: 5px; padding-left: 5px; height: 200px; overflow-y: scroll;">
                        <div *ngFor="let a of archivos">
                            <button *ngIf="this.serviceTarima.compra" class="btn " (click)='leerArchivos(a)' style="margin-bottom: 5px; margin-top: 10px;"> {{a.name}} </button>
                            <button *ngIf="this.serviceTarima.detalleTarima" class="btn " (click)='leerArchivos2(a)' style="margin-bottom: 5px; margin-top: 10px;"> {{a.name}} </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>