<div style="overflow:auto;">

    <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <ng-container matColumnDef="IdDetalleOrdenCarga">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Detalle </th>
            <td mat-cell *matCellDef="let element">{{element.IdDetalleOrdenCarga}}
                <td>
        </ng-container>

        <ng-container matColumnDef="IdOrdenCarga">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Orden de Carga</th>
            <td mat-cell *matCellDef="let element">{{element.IdOrdenCarga}}
                <td>
        </ng-container>

        <ng-container matColumnDef="IdProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Proveedor</th>
            <td mat-cell *matCellDef="let element">{{element.IdProveedor}}
                <td>
        </ng-container>

        <ng-container matColumnDef="Proveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
            <td mat-cell *matCellDef="let element">{{element.Proveedor}}</td>
        </ng-container>

        <ng-container matColumnDef="PO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Order</th>
            <td mat-cell *matCellDef="let element">{{element.PO}}
            </td>
        </ng-container>

        <ng-container matColumnDef="IdProducto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id del Producto</th>
            <td mat-cell *matCellDef="let element">{{element.IdProducto}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Lote">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
            <td mat-cell *matCellDef="let element">{{element.Lote}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Sacos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos</th>
            <td mat-cell *matCellDef="let element">{{element.Sacos}}
            </td>
        </ng-container>

        <ng-container matColumnDef="PesoSaco">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso Saco</th>
            <td mat-cell *matCellDef="let element">{{element.PesoSaco}}
            </td>
        </ng-container>

        <ng-container matColumnDef="FechaMFG">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha MFG</th>
            <td mat-cell *matCellDef="let element">{{element.FechaMFG}}
            </td>
        </ng-container>

        <ng-container matColumnDef="FechaCaducidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Caducidad</th>
            <td mat-cell *matCellDef="let element">{{element.FechaCaducidad}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Bodega">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bodega</th>
            <td mat-cell *matCellDef="let element">{{element.Bodega}}
            </td>
        </ng-container>
        <ng-container matColumnDef="USDA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>USDA</th>
            <td mat-cell *matCellDef="let element">{{element.USDA}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Shipper">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Shipper</th>
            <td mat-cell *matCellDef="let element">{{element.Shipper}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Pedimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pedimento</th>
            <td mat-cell *matCellDef="let element">{{element.Pedimiento}}
            </td>
        </ng-container>

    </table>

</div>