table {
    width: 100%;
}

txt {
    text-align: center;
}

::ng-deep .mat-header-cell {
    color: #ffffff;
    background: #000000;
}

.custom-button {
    min-width: 100px;
    max-width: 100px;
}

.btncoti {
    background-color: #000000;
    color: white
}

.btncoti:hover {
    background-color: white;
    color: black
}