<div>
    <app-header-reportes></app-header-reportes>

</div>
<div class="container">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <button (click)="exportarXLS()" class="btn btn-success"> <i class="mdi mdi-file-excel-box" ></i> Excel </button>
            <button (click)="exportarPDF()" class="btn btn-danger"><i class="mdi mdi-file-pdf-box"></i> PDF </button>
        </div>
    </div>
</div>
<mat-dialog-content>
    <div class="container row" id="pdfreporte">
        <div class="col-11">


            <table class="table-hover" style="width: 100%;">
                <thead>
                    <tr *ngIf="ReporteInformacion.modulo != 'Traspaso'">
                        <th *ngIf="ReporteInformacion.modulo == 'OrdenCarga'" class="blacktxt bolder nowrap">ID Cliente</th>
                        <th *ngIf="ReporteInformacion.modulo == 'OrdenDescarga'" class="blacktxt bolder nowrap">ID Proveedor</th>
                        <th *ngIf="ReporteInformacion.modulo != 'Inventario'" class="blacktxt bolder">Nombre</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngIf="ReporteInformacion.modulo == 'Traspaso'">
                        <th class="text-center blacktxt bolder ">USDA</th>
                        <th class="text-center blacktxt bolder nowrap">Proveedor </th>
                        <th class="text-center blacktxt bolder nowrap">PO </th>
                        <th class="blacktxt bolder text-center">Producto</th>
                        <th class="blacktxt bolder text-center">Clave Producto</th>
                        <th class="blacktxt bolder text-center">Lote</th>
                        <th class="text-center blacktxt bolder ">Sacos</th>
                        <th class="text-center blacktxt bolder ">Peso Total</th>
                        <th class="text-center blacktxt bolder ">Bodega</th>
                    </tr>
                    <tr *ngIf="ReporteInformacion.modulo == 'OrdenCarga' || ReporteInformacion.modulo == 'OrdenDescarga'">
                        <th class="text-center blacktxt bolder ">Folio</th>
                        <th class="text-center blacktxt bolder nowrap">Fecha Exp </th>
                        <th *ngIf="ReporteInformacion.modulo == 'OrdenCarga' || ReporteInformacion.modulo == 'Traspaso'" class="text-center blacktxt bolder nowrap">Fecha Inicio C. </th>
                        <th *ngIf="ReporteInformacion.modulo == 'OrdenDescarga'" class="text-center blacktxt bolder nowrap">Fecha Inicio D. </th>
                        <th *ngIf="ReporteInformacion.modulo == 'OrdenCarga' || ReporteInformacion.modulo == 'Traspaso'" class="text-center blacktxt bolder nowrap">Fecha Final C. </th>
                        <th *ngIf="ReporteInformacion.modulo == 'OrdenDescarga'" class="text-center blacktxt bolder nowrap">Fecha Final D. </th>
                        <th *ngIf="ReporteInformacion.modulo == 'OrdenCarga' || ReporteInformacion.modulo == 'Traspaso'" class="text-center blacktxt bolder nowrap">Fecha Envio </th>
                        <th *ngIf="ReporteInformacion.modulo == 'OrdenDescarga'" class="text-center blacktxt bolder nowrap">Fecha Llegada </th>
                        <th class="text-center blacktxt bolder ">Fletera</th>
                        <th class="text-center blacktxt bolder ">Caja</th>
                        <!-- <th class="text-center blacktxt bolder ">Sacos</th> -->
                        <th class="text-center blacktxt bolder ">Kg</th>
                        <th class="text-center blacktxt bolder ">Origen</th>
                        <th class="text-center blacktxt bolder ">Destino</th>
                        <th class="text-center blacktxt bolder ">Chofer</th>
                        <th class="text-center blacktxt bolder ">Usuario</th>
                    </tr>
                    <tr *ngIf="ReporteInformacion.modulo == 'Inventario'">
                        <!-- <th class="blacktxt bolder ">ID</th> -->
                        <!-- <th class="blacktxt bolder ">Proveedor</th> -->
                        <!-- <th class="blacktxt bolder ">QR</th> -->
                        <th class="blacktxt bolder ">Clave P.</th>
                        <th class="blacktxt bolder ">Descripcion</th>
                        <th *ngIf="this.reporteFechas == false" class="blacktxt bolder ">Lote</th>
                        <th *ngIf="this.reporteFechas == false" class="blacktxt bolder nowrap">Fecha Cad</th>
                        <th *ngIf="this.reporteFechas == false" class="blacktxt bolder nowrap">Fecha Prod</th>
                        <!-- <th class="blacktxt bolder nowrap">Sacos</th> -->
                        <!-- <th class="blacktxt bolder ">Peso Saco</th> -->
                        <th class="blacktxt bolder ">Peso Total</th>
                    </tr>
                </thead>
                <ng-container *ngIf="ReporteInformacion.modulo == 'OrdenCarga' || ReporteInformacion.modulo == 'OrdenDescarga'">
                    <tbody *ngFor="let info of arrcon; let i = index">
                        <tr class="pgbreak border3">
                            <td class="wrap lightback pgbreak"> {{info.IdClientes}} </td>
                            <td class="wrap lightback pgbreak" [attr.colspan]="6"> {{info.Nombre}}</td>
                            <tr *ngFor="let info of arrcon[i].Docs" class="pgbreak">
                                <td class="text-center pgbreak"> {{info.Folio}} </td>
                                <td class="text-center pgbreak texto"> {{info.FechaExpedicion| date: 'dd/MM/yyyy'}} </td>
                                <td *ngIf="ReporteInformacion.modulo == 'OrdenCarga' || ReporteInformacion.modulo == 'Traspaso'" class="text-center pgbreak texto"> {{info.FechaInicioCarga| date: 'dd/MM/yyyy'}} </td>
                                <td *ngIf="ReporteInformacion.modulo == 'OrdenDescarga' " class="text-center pgbreak texto"> {{info.FechaInicioDescarga| date: 'dd/MM/yyyy'}} </td>
                                <td *ngIf="ReporteInformacion.modulo == 'OrdenCarga' || ReporteInformacion.modulo == 'Traspaso'" class="text-center pgbreak texto"> {{info.FechaFinalCarga| date: 'dd/MM/yyyy'}} </td>
                                <td *ngIf="ReporteInformacion.modulo == 'OrdenDescarga' " class="text-center pgbreak texto"> {{info.FechaFinalDescarga| date: 'dd/MM/yyyy'}} </td>
                                <td *ngIf="ReporteInformacion.modulo == 'OrdenCarga' || ReporteInformacion.modulo == 'Traspaso'" class="text-center pgbreak texto"> {{info.FechaEnvio| date: 'dd/MM/yyyy'}} </td>
                                <td *ngIf="ReporteInformacion.modulo == 'OrdenDescarga'" class="text-center pgbreak texto"> {{info.FechaLlegada| date: 'dd/MM/yyyy'}} </td>
                                <td class="text-center pgbreak texto"> {{info.Fletera}} </td>
                                <td class="text-center pgbreak texto"> {{info.Caja }} </td>
                                <!-- <td class="text-center pgbreak texto"> {{info.Sacos}} </td> -->
                                <td class="text-center pgbreak texto"> {{info.Kg}} </td>
                                <td class="text-center pgbreak texto"> {{info.Origen}} </td>
                                <td class="text-center pgbreak texto"> {{info.Destino}} </td>
                                <td class="text-center pgbreak texto"> {{info.Chofer}} </td>
                                <td class="text-center pgbreak texto"> {{info.Usuario}} </td>
                            </tr>
                            <td class="wrap lightback pgbreak " [attr.colspan]="2"> </td>
                            <td class="wrap lightback pgbreak text-center"> Total </td>
                            <!-- <td class="wrap lightback pgbreak text-center"> Sacos: {{info.Sacos}} </td> -->
                            <td class="wrap lightback pgbreak text-center"> Peso: {{info.Kg}} Kg </td>

                    </tbody>
                </ng-container>
                <ng-container *ngIf="ReporteInformacion.modulo == 'Traspaso'">
                    <tbody *ngFor="let info of arrcon; let i = index">
                        <tr class="pgbreak border3">
                            <td class="wrap lightback pgbreak"> Folio: {{info.Folio}} </td>
                            <td class="wrap lightback pgbreak"> Origen: {{info.Origen}}</td>
                            <td class="wrap lightback pgbreak"> Destino: {{info.Destino}}</td>
                            <td class="wrap lightback pgbreak"> Estatus: {{info.Estatus}}</td>
                            <td class="wrap lightback pgbreak"> Fecha Expedicion: {{info.FechaExpedicion | date: 'dd/MM/yyyy'}}</td>
                            <td class="wrap lightback pgbreak"></td>
                            <td class="wrap lightback pgbreak"></td>
                            <td class="wrap lightback pgbreak"></td>
                            <td class="wrap lightback pgbreak"></td>
                            <!-- <tr class="pgbreak border3"> -->
                            <tr *ngFor="let info of arrcon[i].Docs" class="pgbreak">
                                <td class="wrap lightback pgbreak"> {{info.USDA}} </td>
                                <td class="text-center pgbreak texto"> {{info.Proveedor}}</td>
                                <td class="text-center pgbreak texto"> {{info.PO}}</td>
                                <td class="text-center pgbreak texto"> {{info.Producto}}</td>
                                <td class="text-center pgbreak texto"> {{info.ClaveProducto}}</td>
                                <td class="text-center pgbreak texto"> {{info.Lote}}</td>
                                <td class="text-center pgbreak texto"> {{info.Sacos}}</td>
                                <td class="text-center pgbreak texto"> {{info.PesoTotal}}</td>
                                <td class="text-center pgbreak texto"> {{info.Bodega}}</td>
                                <!-- <td class="text-center pgbreak texto"> {{info.FechaExpedicion | date: 'dd/MM/yyyy'}}</td> -->
                                <!-- <td class="text-center pgbreak texto"> {{info.FechaInicioCarga | date: 'dd/MM/yyyy'}}</td> -->
                                <!-- <td class="text-center pgbreak texto"> {{info.FechaFinalCarga | date: 'dd/MM/yyyy'}}</td> -->
                            </tr>
                            <td class="wrap lightback pgbreak " [attr.colspan]="2"> </td>
                            <td class="wrap lightback pgbreak text-center"> Total: </td>
                            <td class="wrap lightback pgbreak text-center"> {{info.sac}} Kg </td>
                            <td class="wrap lightback pgbreak text-center"> {{info.kil}} Sacos </td>
                    </tbody>
                    <td class="wrap lightback pgbreak " [attr.colspan]="2"> </td>
                    <td class="wrap lightback pgbreak text-center"> Total: </td>
                    <td class="wrap lightback pgbreak text-center"> {{kg}} Kg </td>
                    <td class="wrap lightback pgbreak text-center"> {{sacos}} Sacos </td>
                </ng-container>
                <ng-container *ngIf="ReporteInformacion.modulo == 'Inventario'">
                    <tbody *ngFor="let info of arrcon; let i = index">
                        <tr class="pgbreak border3">
                            <!-- <td class="wrap lightback pgbreak"> {{info.detalle.IdProveedor}} </td> -->
                            <!-- <td class="wrap lightback pgbreak" [attr.colspan]="6"> {{info.detalle.Proveedor}}</td> -->


                            <tr *ngFor="let info of arrcon[i].detalle" class="pgbreak">
                                <!-- <td class=" text-center pgbreak"> {{info.IdProveedor}} </td> -->
                                <!-- <td class=" text-center pgbreak"> {{info.Proveedor}} </td> -->
                                <!-- <td class=" text-center pgbreak"> {{info.QR}} </td> -->
                                <td class=" text-center pgbreak"> {{info.ClaveProducto}} </td>
                                <td class=" text-center pgbreak"> {{info.Producto}} </td>
                                <td *ngIf="this.reporteFechas == false" class=" text-center pgbreak"> {{info.Lote}} </td>
                                <td *ngIf="this.reporteFechas == false" class=" text-center pgbreak texto"> {{info.FechaCaducidad| date: 'dd/MM/yyyy'}} </td>
                                <td *ngIf="this.reporteFechas == false" class=" text-center pgbreak texto"> {{info.FechaMFG| date: 'dd/MM/yyyy'}} </td>
                                <!-- <td class=" text-center pgbreak"> {{info.Sacos1}} </td> -->
                                <!-- <td class=" text-center pgbreak"> {{info.PesoxSaco}} </td> -->
                                <td class=" text-center pgbreak"> {{info.PesoTotal | number: '1.0-0'}} Kg </td>
                                <!-- <td class=" text-center pgbreak texto"> {{info.FechaDeEntrega| date: 'dd/MM/yyyy'}} </td> -->
                                <!-- <td *ngIf="moneda == 'MXN' || moneda== 'ALL'" class="pgbreak texto text-center "> {{info.Total | currency}} </td> -->
                                <!-- <td *ngIf="moneda == 'DLLS' || moneda== 'ALL'" class="pgbreak texto text-center "> {{info.TotalDlls | currency }} </td> -->
                                <!-- <td class="text-center pgbreak texto"> {{info.Flete}} </td> -->
                                <!-- <td class="text-center pgbreak texto"> {{info.Moneda}} </td> -->
                            </tr>
                            <!-- <td *ngIf="moneda == 'DLLS' || moneda== 'ALL'" class="wrap lightback pgbreak text-center"> {{info.TotalDLLS |currency}} </td> -->

                    </tbody>
                    <td class="wrap lightback pgbreak " [attr.colspan]="2"> </td>
                    <td class="wrap lightback pgbreak text-center"> Total </td>
                    <!-- <td class="wrap lightback pgbreak text-center"> Sacos: {{sacostotales}} </td> -->
                    <td class="wrap lightback pgbreak text-center"> Peso: {{pesototal | number: '1.0-0'}} Kg</td>
                </ng-container>
            </table>

        </div>
        <ngx-loading [show]="loading" [config]="{animationType: ngxLoadingAnimationTypes.circleSwish}">
        </ngx-loading>
    </div>
</mat-dialog-content>