<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-body">
                <h2 style="text-align: center;">Compras</h2>
                <button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Nueva Compra</button>

                <div fxLayoutAlign="row">
                    <mat-card style="text-align: right;" class="mat-elevation-z0">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                        </mat-form-field>
                    </mat-card>
                </div>

                <div style="overflow:auto;">

                    <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


                        <ng-container matColumnDef="Folio" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Folio</th>
                            <td class="folio" mat-cell *matCellDef="let element" (click)="expandedElement = element">{{element.Folio}} +
                                <td>
                        </ng-container>



                        <ng-container matColumnDef="PO">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>PO</th>
                            <td mat-cell *matCellDef="let element">{{element.PO}}
                                <td>
                        </ng-container>

                        <ng-container matColumnDef="Proveedor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                            <td mat-cell *matCellDef="let element">{{element.Proveedor}}

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="PesoTotal">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso Total</th>
                            <td mat-cell *matCellDef="let element">{{element.PesoTotal}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="FechaElaboracion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Elaboracion</th>
                            <td mat-cell *matCellDef="let element">{{element.FechaElaboracion | date: 'yyyy/MM/dd'}}
                                <td>
                        </ng-container>
                        <ng-container matColumnDef="FechaPromesa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Promesa</th>
                            <td mat-cell *matCellDef="let element">{{element.FechaPromesa | date: 'yyyy/MM/dd'}}
                                <td>
                        </ng-container>
                        <ng-container matColumnDef="FechaEntrega">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Entrega</th>
                            <td mat-cell *matCellDef="let element">{{element.FechaEntrega | date: 'yyyy/MM/dd'}}
                                <td>
                        </ng-container>

                        <ng-container matColumnDef="Estatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                            <td mat-cell *matCellDef="let element">{{element.Estatus}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Options" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>Opciones</th>
                            <td mat-cell *matCellDef="let row">

                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                                <mat-menu #menu="matMenu">
                                    <!--  -->
                                    <button title="Editar" mat-icon-button class="btn btn-dark" (click)="onEdit(row)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                    <button title="Vista Previa" mat-icon-button class="btn btn-dark" (click)="onDelete(row)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                    <!--  -->
                                    <!-- <button title="Vista Previa" mat-icon-button class="btn btn-dark" (click)="openrep(row)">
                                                <mat-icon>visibility</mat-icon>
                                            </button> -->
                                    <!--  -->
                                    <!-- <button id="enviaremail" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#cargando"></button>
                                    <button title="Enviar Correo" mat-icon-button class="btn btn-dark" (click)="email()">
                                                <mat-icon>alternate_email</mat-icon>
                                              </button> -->
                                    <!--  -->
                                    <!-- <button title="Eliminar" mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row)">
                                                    <mat-icon>delete_outline</mat-icon>
                                                </button> -->
                                </mat-menu>
                            </td>
                        </ng-container>

                        <!-- DETALLES COMPRA -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="element.detalleCompra.length > 0" (click)="expandedElement = 0">

                                    <table width="100%">
                                        <tr>
                                            <!-- <th> #Tarima </th>
                                            <th> QR </th> -->
                                            <th> Clave Producto </th>
                                            <th> Producto </th>
                                            <th> Cantidad </th>
                                            <th> Precio Unitario </th>
                                            <th> Costo Total </th>
                                        </tr>
                                        <tr *ngFor="let detalle of element.detalleCompra">
                                            <!-- <td> {{detalle.IdTarima2}} </td>
                                            <td> {{detalle.QR}} </td> -->
                                            <td> {{detalle.ClaveProducto}} </td>
                                            <td> {{detalle.Producto}} </td>
                                            <td> {{ detalle.Cantidad}} </td>
                                            <td> {{ detalle.PrecioUnitario}} </td>
                                            <td> {{ detalle.CostoTotal}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </ng-container>
                        <!-- DETALLES COMPRA-->

                    </table>
                    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>

        </div>
    </div>
</div>