::ng-deep .mat-form-field {
    width: 100% !important;
}

::ng-deep .mat-header-cell {
    color: #ffffff;
    background: #000000;
}

.borderbox {
    border: 3px solid grey;
    padding: 10px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #005691!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #005691;
}

.row {
    margin-left: 0 !important;
}

.btncoti {
    background-color: #000000;
    color: white;
}

table {
    width: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1521px;
    }
}

input-group-text text-info {
    margin-bottom: 0;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.example-tab-icon {
    margin-right: 8px;
}

::ng-deep .mat-tab-label {
    background-color: white !important;
    color: black !important;
}

::ng-deep .mat-tab-label:hover {
    background-color: black !important;
    color: white !important;
}

::ng-deep .mat-tab-label:focus {
    background-color: black !important;
    color: white !important;
}

::ng-deep .mat-tab-label-active {
    background-color: black !important;
    color: white !important;
}