<div class="d-flex justify-content-between m-2">
    <h4>Privilegios</h4>

    <button mat-button class="btn btn-danger" color="warn" (click)="onClose()">
    <mat-icon>close</mat-icon>
    </button>
</div>


<div style="overflow: auto; height: 450px;" class="container-fluid">
    <form #form="ngForm" autocomplete="off">


        <div *ngFor="let area of service.master; let f = index" class="animated fadeIn faster">
            <div class="container">
                <div class="row">
                    <div class="card card-outline-inverse col-12">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white" style="text-align: center;">{{area.Area}}</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-material">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-lg-4 col-md-6" *ngFor="let proceso of area.NombreProcesos; let i = index">
                                            <mat-checkbox class="checkbx" name="proceso.PermisoBool" [(checked)]="proceso.PermisoBool" (change)="checkbox($event,f,i)">
                                            </mat-checkbox>
                                            <label class="input-group-text text-info">
                                                {{ proceso.NombreProceso}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>