<div class="d-flex justify-content-between m-2">
    <h4>Traspaso Tarima</h4>

    <button mat-button class="btn btn-danger" color="warn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>


</div>

<hr>


<div style="overflow: auto; height: 450px;">


    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">


        <div class="form-material">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">

                        <label class="input-group-text text-info">Tarima Origen (Codigo QR)</label>
                        <input type="text" class="form-control" name="IdtarimaIdOrigen" #IdtarimaOrigen="ngModel" [(ngModel)]="tarimaIdOrigen" (blur)="onBlurIdOrigen()">

                        <label class="input-group-text text-info">Producto :</label> <br>
                        <mat-form-field>
                            <input type="text" placeholder="Seleccionar Producto" aria-label="Number" [formControl]="myControlDetalleTarima" [(ngModel)]="DetalleTarimaSelect" matInput [matAutocomplete]="autoProducto">
                            <mat-autocomplete #autoProducto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptionsDetalleTarima | async" [value]="option.ClaveProducto" (onSelectionChange)="onSelectionChangeDetalleTarimaOrigen(option, $event)">
                                    {{option.ClaveProducto}} || {{option.Producto}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <br>
                        <!-- <label class="input-group-text text-info">Producto</label> -->
                        <input readonly="readonly" type="text" class="form-control" name="ClaveProducto" #ClaveProducto="ngModel" [(ngModel)]="producto">



                        <label class="input-group-text text-info">Cantidad Sacos</label>
                        <input required type="number" class="form-control" name="sacoTraspaso" #sacoTraspaso="ngModel" [(ngModel)]="sacosTraspaso">

                        <!-- <label class="input-group-text text-info">Sacos</label>
                            <input required type="number" class="form-control" name="Sacos" [(ngModel)]="cantidadSacos"> -->
                        <!-- 
                                <div class="text-left text-danger" *ngIf="Sacos.invalid && Sacos.touched">
                                    Favor de Ingresar un valor.
                                </div> -->

                        <label class="input-group-text text-info">Nueva Tarima?</label>
                        <mat-checkbox #checkboxnT [(checked)]="nuevaTarima" (change)='changeNuevaTarima(checkboxnT.checked)'></mat-checkbox>

                    </div>
                    <div class="col-lg-6">
                        <div *ngIf="nuevaTarima == false">
                            <label class="input-group-text text-info">Tarima Destino (Codigo QR)</label>
                            <input required type="text" class="form-control" name="IdtarimaIdDestino" #IdtarimaDestino="ngModel" [(ngModel)]="tarimaIdDestino" (blur)="onBlurIdDestino(tarimaIdDestino)">
                        </div>

                    </div>
                </div>
                <br>
                <button class="btn btn-success" mat-raised-button color="success" type="submit" [disabled]="form.invalid">Traspasar</button>
                <br>
            </div>
        </div>
    </form>
</div>