<div class="d-flex justify-content-between m-2">
    <h4>Privilegios</h4>

    <button mat-button class="btn btn-danger" color="warn" (click)="onClose()">
    <mat-icon>close</mat-icon>
    </button>
</div>


<div style="overflow: auto; height: 450px;" class="container-fluid">
    <form #form="ngForm" autocomplete="off">

        <div class="card-columns">
            <div *ngFor="let area of service.master">
                <div class="card card-outline-inverse">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">{{area.Area}}</h4>
                    </div>
                    <div class="card-body" *ngFor="let proceso of area.NombreProcesos">
                        <div class="form-material">
                            <!-- <input type="checkbox" class="check" > -->
                            <mat-checkbox name="pintado" [(ngModel)]="proceso.PermisoBool">
                                <label class="input-group-text text-info">
                                {{proceso.NombreProceso}}
                                </label>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>