<div class="d-flex justify-content-between m-2">
    <h4>Privilegios</h4>

    <button mat-button class="btn btn-danger" color="warn" (click)="onClose()">
    <mat-icon>close</mat-icon>
    </button>
</div>


<div style="overflow: auto; height: 450px;">


    <form #form="ngForm" autocomplete="off">

        <div class="card-columns">
            <div class="card" *ngFor="let area of arrayArea">
                <div class="card card-outline-inverse">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">{{area}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-material">
                            <label class="input-group-text text-info"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>