<div class="d-flex justify-content-between m-2">
    <h4>Privilegios</h4>

    <button mat-button class="btn btn-danger" color="warn" (click)="onClose()">
    <mat-icon>close</mat-icon>
    </button>
</div>


<div style="overflow: auto; height: 450px;" class="container-fluid">
    <form #form="ngForm" autocomplete="off">
        <div class="container row">
            <div class="col-12">
                <button type="button" class="btn btn-info">Guardar Permiso</button>
            </div>
        </div>

        <div class="card-columns">
            <div *ngFor="let area of service.master; let f = index">
                <div class="card card-outline-inverse">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">{{area.Area}}</h4>
                    </div>
                    <div class="card-body" *ngFor="let proceso of area.NombreProcesos; let i = index">
                        <div class="form-material">
                            <!-- <input type="checkbox" class="check" > -->
                            <mat-checkbox name="proceso.PermisoBool" [(checked)]="proceso.PermisoBool" (change)="checkbox($event,f,i)">

                            </mat-checkbox>
                            <label class="input-group-text text-info">
                                {{proceso.NombreProceso}}
                                </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>