<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 style="text-align: start;">Ordenes Carga por Mes</h2>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <mat-button-toggle-group #group="matButtonToggleGroup">
                            <mat-button-toggle value="Sacos" aria-label="Text align left" (change)='cambio($event)'>
                                <mat-icon>attach_money </mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="Kg" aria-label="Text align center" (change)='cambio($event)'>
                                <mat-icon>monetization_on</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>

                </div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [colors]="lineChartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                </div>
            </div>
        </div>
    </div>
</div>