<div class="col-lg-">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Permisos</h2>
            <h6 class="card-subtitle">Roles de los usuarios registrados</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre de Usuario</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ivan</td>
                            <td>Talamantes</td>
                            <td>Ivan123</td>
                            <td><span class="label label-danger">admin</span> </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Javier</td>
                            <td>Martinez</td>
                            <td>Jmartinez</td>
                            <td><span class="label label-info">Ventas</span> </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Luis</td>
                            <td>Garcia</td>
                            <td>LGarcia88</td>
                            <td><span class="label label-warning">Direccion</span> </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Felipe</td>
                            <td>Rogahn</td>
                            <td>Felip</td>
                            <td><span class="label label-success">Trafico</span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>