<div class="d-flex justify-content-between m-2">
    <h4>Agregar Producto</h4>

    <button mat-button (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>


</div>

<hr>


<div style="overflow: auto; height: 450px;">

    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <div class="form-material">
            <div class="container">
                <div class="row">

                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Seleccionar Producto" aria-label="Number" [formControl]="myControl" matInput [matAutocomplete]="auto" name="ClaveProducto" [(ngModel)]="service.formDataDF.ClaveProducto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.ClaveProducto" (onSelectionChange)="onSelectionChange(option, $event)">
                                <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option.ClaveProducto" (onSelectionChange)="onSelectionChanged($event,option)"> -->
                                {{ option.ClaveProducto }} {{option.Nombre}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <div class="col-lg-6">

                        <label class="input-group-text text-info">Nombre: </label>
                        <input matInput required minlength="2" placeholder="Nombre Producto" type="text" class="form-control" name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formDataDF.Producto">

                        <div class="text-left text-danger" *ngIf="Nombre.invalid && Nombre.touched">
                            Favor de Ingresar un Nombre.
                        </div>


                        <label class="input-group-text text-info">Clave Sat: </label>
                        <input matInput minlength="2" placeholder="Clave Sat" type="text" class="form-control" name="ClaveSAT" #ClaveSAT="ngModel" [(ngModel)]="service.formDataDF.ClaveSAT">

                    </div>
                    <div class="col-lg-6">

                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Seleccionar Medida" aria-label="Number" matInput [formControl]="myControlUnidad" [matAutocomplete]="autoUnidad" [(ngModel)]="service.formDataDF.Unidad">
                            <mat-autocomplete #autoUnidad="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptionsUnidad | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <br>

                        <ng-container *ngIf="service.Moneda=='MXN'">

                            <label class="input-group-text text-info">Precio Unitario: </label>
                            <input id='precioUnitario' required placeholder="Ingresar Precio" class="form-control" name="PrecioUnitario" #PrecioUnitario="ngModel" [(ngModel)]="service.formDataDF.PrecioUnitario" (ngModelChange)="sumar()" [(value)]="precioUnitarioF" (blur)="formato()">
                            <div class="text-left text-danger" *ngIf="PrecioUnitario.invalid && PrecioUnitario.touched">
                                Favor de Ingresar Precio Unitario.
                            </div>


                            <label class="input-group-text text-info">Cantidad: </label>
                            <input required minlength="1" placeholder="Ingresar Cantidad" type="number" class="form-control" name="Cantidad" #Cantidad="ngModel" [(ngModel)]="service.formDataDF.Cantidad" (ngModelChange)="sumar()" (blur)="formato()">

                            <div class="text-left text-danger" *ngIf="Cantidad.invalid && Cantidad.touched">
                                Favor de Ingresar Cantidad.
                            </div>

                            <label class="input-group-text text-info">Importe: </label>
                            <input id='importe' readonly="readonly" placeholder="0.00" class="form-control" name="Importe" #Importe="ngModel" [(ngModel)]="service.formDataDF.Importe" [(value)]="importeF" (blur)="formato()">
                            <label class="input-group-text text-info">IVA: </label>
                            <input id='iva' placeholder="0.00" class="form-control" name="ImporteIVA" #ImporteIVA="ngModel" [(ngModel)]="service.formDataDF.ImporteIVA" [(value)]="ivaF" (blur)="formato()">

                        </ng-container>

                        <ng-container *ngIf="service.Moneda=='USD'">

                            <label class="input-group-text text-info">Precio Unitario DLLS: </label>
                            <input id='precioUnitarioDlls' required placeholder="Ingresar Precio" class="form-control" name="PrecioUnitarioDlls" #PrecioUnitarioDlls="ngModel" [(ngModel)]="service.formDataDF.PrecioUnitarioDlls" (ngModelChange)="sumar()" [(value)]="precioUnitarioDllsF"
                                (blur)="formatoDlls()">
                            <div class="text-left text-danger" *ngIf="PrecioUnitarioDlls.invalid && PrecioUnitarioDlls.touched">
                                Favor de Ingresar Precio Unitario.
                            </div>


                            <label class="input-group-text text-info">Cantidad DLLS: </label>
                            <input required minlength="1" placeholder="Ingresar Cantidad" type="number" class="form-control" name="Cantidad" #Cantidad="ngModel" [(ngModel)]="service.formDataDF.Cantidad" (ngModelChange)="sumar()" (blur)="formatoDlls()">

                            <div class="text-left text-danger" *ngIf="Cantidad.invalid && Cantidad.touched">
                                Favor de Ingresar Cantidad.
                            </div>

                            <label class="input-group-text text-info">Importe: </label>
                            <input id='importeDlls' readonly="readonly" placeholder="0.00" class="form-control" name="ImporteDlls" #ImporteDlls="ngModel" [(ngModel)]="service.formDataDF.ImporteDlls" [(value)]="importeDllsF" (blur)="formatoDlls()">
                            <label class="input-group-text text-info">IVA: </label>
                            <input id='ivaDlls' placeholder="0.00" class="form-control" name="ImporteIVADlls" #ImporteIVADlls="ngModel" [(ngModel)]="service.formDataDF.ImporteIVADlls" [(value)]="ivaDllsF" (blur)="formatoDlls()">
                        </ng-container>





                        <label class="input-group-text text-info">Observaciones: </label>
                        <input placeholder="Observaciones" type="text" class="form-control" name="Observaciones" #Observaciones="ngModel" [(ngModel)]="service.formDataDF.Observaciones">

                        <div class="text-left text-danger" *ngIf="Observaciones.invalid && Observaciones.touched">
                            Favor de Ingresar Observaciones.
                        </div>

                    </div>

                </div>
            </div>
            <button class="m-3" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Agregar Producto</button>
        </div>
    </form>

    <button class="m-3" mat-raised-button color="primary" (click)="Finalizar(form)" [disabled]="form.invalid">Finalizar</button>

</div>