<div class="d-flex justify-content-between m-2">
    <h4>Editar Producto</h4>
    <button mat-button class="btn btn-danger" color="warn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>
</div>

<hr>
<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">


        <div class="form-material">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">


                        <label class="input-group-text text-info">Producto ID</label>
                        <input readonly="readonly" type="text" class="form-control" name="IdProducto" #IdProducto="ngModel" [(ngModel)]="service.formData.IdProducto">



                        <label class="input-group-text text-info">Nombre</label>
                        <input required minlength="2" type="text" class="form-control" name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formData.Nombre">

                        <div class="text-left text-danger" *ngIf="Nombre.invalid && Nombre.touched">
                            Favor de Ingresar un Nombre.
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <label class="input-group-text text-info">Precio Venta</label>
                        <input required minlength="1" type="number" class="form-control" name="PrecioVenta" #PrecioVenta="ngModel" [(ngModel)]="service.formData.PrecioVenta">

                        <div class="text-left text-danger" *ngIf="PrecioVenta.invalid && PrecioVenta.touched">
                            Favor de Ingresar Precio Venta.
                        </div>


                        <label class="input-group-text text-info">Precio Costo</label>
                        <input required minlength="1" type="number" class="form-control" name="PrecioCosto" #PrecioCosto="ngModel" [(ngModel)]="service.formData.PrecioCosto">

                        <div class="text-left text-danger" *ngIf="PrecioCosto.invalid && PrecioCosto.touched">
                            Favor de Ingresar Precio Costo.
                        </div>


                        <label class="input-group-text text-info">Cantidad</label>
                        <input required minlength="0" type="number" class="form-control" name="Cantidad" #Cantidad="ngModel" [(ngModel)]="service.formData.Cantidad">

                        <div class="text-left text-danger" *ngIf="Cantidad.invalid && Cantidad.touched">
                            Favor de Ingresar Cantidad.
                        </div>

                        <button class="btn btn-success" mat-raised-button color="success" type="submit" [disabled]="form.invalid">Actualizar Producto</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>