<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <h2 style="text-align: center;">Tarimas Existentes</h2>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary" type="button" (click)="regresar()">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-5">
                <!-- <button disabled class="btn btn-primary" type="button" (click)="simularQR()">SIMULAR QR</button> QR Leido: {{qrleido}} -->
                <div class="input-group">

                    <span [style.display]="isVisibleQR ? 'block' : 'none'" class="input-group-addon" style="background-color: white;"><i class="btn btn-danger" type="button" (click)="escanear()">
              <mat-icon>qr_code</mat-icon>
            </i></span>
                    <!-- <input required type="text" class="form-control" name="tarimaQR" #tarimaQR="ngModel" [(ngModel)]="qrleido" (blur)="simularQR(qrleido)" (focus)="ActBtn()"> -->
                    <input required type="text" class="form-control" name="tarimaQR" #tarimaQR="ngModel" [(ngModel)]="qrleido" [(ngModel)]="qrleido" (blur)="CleanFieldQR()" (focus)="ActBtn()">
                    <span [style.display]="isVisible ? 'block' : 'none'" class="input-group-addon" style="background-color: white;"><i class="btn btn-success" type="button" (click)="simularQR(qrleido)">
              <mat-icon>qr_code</mat-icon>
            </i></span>
                </div>
            </div>
            <div class="col-2">

                <!-- <zxing-scanner (camerasFound)="camaras($event)" [enable]="enableScan" (scanSuccess)='escaner($event)'></zxing-scanner> -->
            </div>
            <div class="col-12 col-md-5">
                <p style="font-weight: 400; margin-bottom: 0;"> QR Leido: </p>
                <input class="form-control" readonly name="QRleido" #QRleido="ngModel" [(ngModel)]="qrleido">
                <!-- <button class="btn btn-primary" type="button" (click)="cerrarescaner()">Cerrar ESCANER</button> -->
            </div>
        </div>
        <hr>
        <div fxLayoutAlign="row">
            <h3>Tarimas</h3>

            <!-- <zxing-scanner (camerasFound)="camaras($event)" [enable]="enableScan" (scanSuccess)='escaner($event)'></zxing-scanner> -->
            <div style="overflow:auto;">

                <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


                    <ng-container matColumnDef="IdTarima">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>IdTarima</th>
                        <td class="IdTarima" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                            {{element.IdTarima}} +
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="Sacos">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos</th>
                        <td class="Sacos" mat-cell *matCellDef="let element">
                            {{element.Sacos}}
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="PesoTotal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PesoTotal</th>
                        <td class="PesoTotal" mat-cell *matCellDef="let element">
                            {{element.PesoTotal}}
                            <td>
                    </ng-container>

                    <ng-container matColumnDef="QR">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>QR</th>
                        <td class="QR" mat-cell *matCellDef="let element">
                            {{element.QR}}
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="Bodega">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bodega</th>
                        <td class="Bodega" mat-cell *matCellDef="let element">{{element.Bodega}}
                            <td>
                    </ng-container>

                    <ng-container matColumnDef="Options" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>Opciones</th>
                        <td mat-cell *matCellDef="let row; let i = dataIndex">


                            <button mat-icon-button class="btn btn-dark" (click)="CheckQR(row, i)">
                <mat-icon>edit</mat-icon>
              </button>


                        </td>
                    </ng-container>

                    <!-- DETALLES -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" (click)="expandedElement = 0">

                                <table width="100%">
                                    <tr>
                                        <!-- <th> #Tarima </th>
                                        <th> QR </th> -->
                                        <th> Clave Producto </th>
                                        <th> Producto </th>
                                        <th> Sacos </th>
                                        <th> IdDetalleTarima </th>
                                        <th> Lote </th>
                                        <th> IdProveedor </th>
                                        <th> Proveedor </th>
                                        <th> PO </th>
                                        <th> FechaMFG </th>
                                        <th> FechaCaducidad </th>
                                        <th> Shipper </th>
                                        <th> USDA </th>
                                        <th> Pedimento </th>
                                    </tr>
                                    <tr *ngFor="let detalle of element.DetalleTarima">
                                        <!-- <td> {{detalle.IdTarima2}} </td>
                                        <td> {{detalle.QR}} </td> -->
                                        <td> {{detalle.ClaveProducto}} </td>
                                        <td> {{detalle.Producto}} </td>
                                        <td> {{ detalle.Sacos}} </td>
                                        <td> {{ detalle.IdDetalleTarima}} </td>
                                        <td> {{ detalle.Lote}} </td>
                                        <td> {{ detalle.IdProveedor}} </td>
                                        <td> {{ detalle.Proveedor}} </td>
                                        <td> {{ detalle.PO}} </td>
                                        <td> {{ detalle.FechaMFG}} </td>
                                        <td> {{ detalle.FechaCaducidad}} </td>
                                        <td> {{ detalle.Shipper}} </td>
                                        <td> {{ detalle.USDA}} </td>
                                        <td> {{ detalle.Pedimento}} </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </ng-container>

                </table>
                <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">

        <div fxLayoutAlign="row">
            <h3>Tarimas Escaneadas</h3>

            <!-- <zxing-scanner (camerasFound)="camaras($event)" [enable]="enableScan" (scanSuccess)='escaner($event)'></zxing-scanner> -->
            <div style="overflow:auto;">

                <table mat-table [dataSource]="listDataScan" matSort class="scrollable" multiTemplateDataRows>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsScan"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsScan;"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


                    <ng-container matColumnDef="IdTarima">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>IdTarima</th>
                        <td class="IdTarima" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                            {{element.IdTarima}} +
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="Sacos">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos</th>
                        <td class="Sacos" mat-cell *matCellDef="let element">
                            {{element.Sacos}}
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="PesoTotal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PesoTotal</th>
                        <td class="PesoTotal" mat-cell *matCellDef="let element">
                            {{element.PesoTotal}}
                            <td>
                    </ng-container>

                    <ng-container matColumnDef="QR">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>QR</th>
                        <td class="QR" mat-cell *matCellDef="let element">
                            {{element.QR}}
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="Bodega">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bodega</th>
                        <td class="Bodega" mat-cell *matCellDef="let element">{{element.Bodega}}
                            <td>
                    </ng-container>

                    <ng-container matColumnDef="Options" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>Opciones</th>
                        <td mat-cell *matCellDef="let row; let i = dataIndex">


                            <button mat-icon-button class="btn btn-dark" (click)="CheckQR(row, i)">
                  <mat-icon>edit</mat-icon>
                </button>


                        </td>
                    </ng-container>

                    <!-- DETALLES -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsScan.length">
                            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" (click)="expandedElement = 0">

                                <table width="100%">
                                    <tr>
                                        <!-- <th> #Tarima </th>
                                          <th> QR </th> -->
                                        <th> Clave Producto </th>
                                        <th> Producto </th>
                                        <th> Sacos </th>
                                        <th> IdDetalleTarima </th>
                                        <th> Lote </th>
                                        <th> IdProveedor </th>
                                        <th> Proveedor </th>
                                        <th> PO </th>
                                        <th> FechaMFG </th>
                                        <th> FechaCaducidad </th>
                                        <th> Shipper </th>
                                        <th> USDA </th>
                                        <th> Pedimento </th>
                                    </tr>
                                    <tr *ngFor="let detalle of element.DetalleTarima">
                                        <!-- <td> {{detalle.IdTarima2}} </td>
                                          <td> {{detalle.QR}} </td> -->
                                        <td> {{detalle.ClaveProducto}} </td>
                                        <td> {{detalle.Producto}} </td>
                                        <td> {{ detalle.Sacos}} </td>
                                        <td> {{ detalle.IdDetalleTarima}} </td>
                                        <td> {{ detalle.Lote}} </td>
                                        <td> {{ detalle.IdProveedor}} </td>
                                        <td> {{ detalle.Proveedor}} </td>
                                        <td> {{ detalle.PO}} </td>
                                        <td> {{ detalle.FechaMFG}} </td>
                                        <td> {{ detalle.FechaCaducidad}} </td>
                                        <td> {{ detalle.Shipper}} </td>
                                        <td> {{ detalle.USDA}} </td>
                                        <td> {{ detalle.Pedimento}} </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </ng-container>

                </table>
                <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>

    </div>
</div>