<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <h2 style="text-align: center;">Detalles Tarima</h2>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary" type="button" (click)="regresar()">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div fxLayoutAlign="row">
            <h3>TABLA VISUALIZACION</h3>
            <div style="overflow:auto;">

                <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                    <ng-container matColumnDef="ClaveProducto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ClaveProducto</th>
                        <td class="ClaveProducto" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                            {{element.ClaveProducto}}
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="Producto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                        <td class="Producto" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                            {{element.Producto}}
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="Sacos">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacos</th>
                        <td class="Sacos" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                            {{element.Sacos}}
                            <td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="SacosIngresados">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>SacosIngresados</th>
                    <td class="SacosIngresados" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                        {{element.SacosIngresados}}
                        <td>
                </ng-container> -->

                    <ng-container matColumnDef="Saldo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
                        <td class="Saldo" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                            {{element.Saldo}}
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="Lote">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                        <td class="Lote" mat-cell *matCellDef="let element" (click)="expandedElement = element">{{element.Lote}}
                            <td>
                    </ng-container>
                    <ng-container matColumnDef="Comentarios">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentarios</th>
                        <td class="Comentarios" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                            {{element.Comentarios}}
                            <td>
                    </ng-container>

                    <ng-container matColumnDef="Options" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>Opciones</th>
                        <td mat-cell *matCellDef="let row; let i = dataIndex">


                            <button mat-icon-button class="btn btn-dark" (click)="onEdit(row, i)">
        <mat-icon>edit</mat-icon>
      </button>


                        </td>
                    </ng-container>

                </table>
                <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>