<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <h1>Documentos</h1>
                    </div>

                    <div class="col-2">
                        <button mat-fab (click)="Regresar()" class="btncoti">
                            <mat-icon>undo</mat-icon>
                          </button>
                    </div>
                </div>
                <hr>


                <mat-tab-group selectedIndex="0" color="#2d5b9e" animationDuration="0ms" mat-align-tabs="end">
                    <!--    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">people</mat-icon>
                            Resumen Traspaso
                        </ng-template>
                        
                    </mat-tab> -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">person_pin_circle</mat-icon>
                            Factura
                        </ng-template>
                        <mat-dialog-content>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">


                                            <div class="col-12 mat-elevation-z5">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="container">
                                                            <div class="row">
                                                                <!-- TABLA DETALLES ORDEN DESCARGA -->
                                                                <div class="col-12 col-lg-6">
                                                                    <div style="overflow:auto;">
                                                                        <div class="container row" style="padding-bottom: 20px;">

                                                                            <div class="col-8">
                                                                                <label class="input-group-text text-info">Buscar Orden Descarga por Folio:</label>
                                                                                <input type="number" class="form-control" name="Folio" #Folio="ngModel" [(ngModel)]="folioOrdenDescarga" (ngModelChange)="onChangeFolio($event)">

                                                                            </div>
                                                                            <div class="col-4">

                                                                                <button mat-icon-button class="btncoti" color="warn" style="padding-bottom: 0px; margin-bottom: 0px; margin-top: 30px;" (click)="obtenerOrdenesDescargaDetalles(folioOrdenDescarga)">
                                                                                <mat-icon>search</mat-icon>
                                                                            </button>
                                                                                <button *ngIf="folioOrdenDescarga > 0" mat-icon-button class="btn btn-danger" color="warn" (click)="clearFolio()">
                                                                                <mat-icon>clear</mat-icon>
                                                                            </button>


                                                                            </div>
                                                                        </div>

                                                                        <table mat-table [dataSource]="listDataDetalles" matSort>

                                                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDetalles"></tr>
                                                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDetalles;let i = index"></tr>

                                                                            <ng-container matColumnDef="Agregar">
                                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Agregar</th>
                                                                                <td mat-cell *matCellDef="let element">
                                                                                    <mat-checkbox [(checked)]="element.Agregar" (change)='addToList( element, element.Agregar )'></mat-checkbox>
                                                                                </td>
                                                                            </ng-container>

                                                                            <ng-container matColumnDef="ClaveProducto">
                                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Producto</th>
                                                                                <td mat-cell *matCellDef="let element">{{element.ClaveProducto}}</td>
                                                                            </ng-container>

                                                                            <!-- <ng-container matColumnDef="Producto">
                                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                                                                                <td mat-cell *matCellDef="let element">{{element.Producto}}</td>
                                                                            </ng-container> -->

                                                                            <ng-container matColumnDef="Lote">
                                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                                                                                <td mat-cell *matCellDef="let element">{{element.Lote}}</td>
                                                                            </ng-container>

                                                                            <ng-container matColumnDef="USDA">
                                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Kg</th>
                                                                                <td mat-cell *matCellDef="let element">{{element.Sacos}}</td>
                                                                            </ng-container>

                                                                            <ng-container matColumnDef="Pedimento">
                                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Factura</th>
                                                                                <td mat-cell *matCellDef="let element">{{element.QR}}</td>
                                                                            </ng-container>

                                                                            <ng-container matColumnDef="Options">
                                                                                <th mat-header-cell *matHeaderCellDef>Options</th>
                                                                                <td mat-cell *matCellDef="let row">

                                                                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                                                <mat-icon>keyboard_arrow_down</mat-icon>
                                                                              </button>
                                                                                    <mat-menu #menu="matMenu">
                                                                                        <button mat-icon-button class="btn btn-dark" (click)="obtenerDocumentos(row, row.Folio, row.IdDetalleTarima)">
                                                                                                        <mat-icon>plagiarism</mat-icon>
                                                                                                    </button>

                                                                                    </mat-menu>
                                                                                </td>
                                                                            </ng-container>


                                                                        </table>
                                                                    </div>
                                                                    <br>
                                                                    <br>
                                                                    <hr>
                                                                </div>

                                                                <!-- TABLA DE DETALLES SELECCIONADOS -->
                                                                <div class="col-12 col-lg-6">

                                                                    <!-- <label class="input-group-text text-info">Tipo de Documento:</label>
                                                                    <mat-form-field *ngIf="!tipoDocumentoSeleccionado">
                                                                        <input type="text" placeholder="Seleccionar Documento" aria-label="Number" [formControl]="myControlTipoDocumento" [(ngModel)]="tipoDocumentoSeleccionado" matInput [matAutocomplete]="autoTipoDocumento">
                                                                        <mat-autocomplete #autoTipoDocumento="matAutocomplete">
                                                                            <mat-option *ngFor="let option of listTipoDocumentos" [value]="option.Tipo" (onSelectionChange)="onSelectionChangeTipoDocumento(option, $event)">
                                                                                {{option.Tipo}}
                                                                            </mat-option>
                                                                        </mat-autocomplete>
                                                                    </mat-form-field>
                                                                    <div *ngIf="tipoDocumentoSeleccionado">

                                                                        <label class="input-group-text text-info">Ingresar {{tipoDocumentoSeleccionado}}:</label>
                                                                        <div class="input-container">
                                                                            <input type="text" class="form-control input-field" name="TipoDocumento" #TipoDocumento="ngModel" [(ngModel)]="stringDocumentoSeleccionado">
                                                                            <button mat-icon-button class="btn btn-danger" color="warn" (click)="resettipoDocumentoSeleccionado()">
                                                                            <mat-icon>cancel</mat-icon>
                                                                        </button>
                                                                        </div>
                                                                    </div> -->

                                                                    <label class="input-group-text text-info">Ingresar Factura:</label>
                                                                    <div class="input-container">
                                                                        <input [disabled]="productosExistentes == false" type="text" class="form-control input-field" name="TipoDocumento" #TipoDocumento="ngModel" [(ngModel)]="stringDocumentoSeleccionado">
                                                                        <button mat-icon-button class="btn btn-danger" color="warn" (click)="resettipoDocumentoSeleccionado()">
                                                                            <mat-icon>cancel</mat-icon>
                                                                        </button>
                                                                    </div>



                                                                    <table mat-table [dataSource]="listDataSeleccionados" matSort>

                                                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSeleccionados"></tr>
                                                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSeleccionados;"></tr>


                                                                        <ng-container matColumnDef="Folio">
                                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
                                                                            <td mat-cell *matCellDef="let element">{{element.Folio}}</td>
                                                                        </ng-container>

                                                                        <ng-container matColumnDef="ClaveProducto">
                                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Producto</th>
                                                                            <td mat-cell *matCellDef="let element">{{element.ClaveProducto}}</td>
                                                                        </ng-container>

                                                                        <!-- <ng-container matColumnDef="Producto">
                                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                                                                            <td mat-cell *matCellDef="let element">{{element.Producto}}</td>
                                                                        </ng-container> -->

                                                                        <ng-container matColumnDef="Lote">
                                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                                                                            <td mat-cell *matCellDef="let element">{{element.Lote}}</td>
                                                                        </ng-container>
                                                                        <!-- <ng-container matColumnDef="Tipo">
                                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                                                                            <td mat-cell *matCellDef="let element">{{element.Tipo}}</td>
                                                                        </ng-container> -->

                                                                        <ng-container matColumnDef="Options">
                                                                            <th mat-header-cell *matHeaderCellDef>Options</th>
                                                                            <td mat-cell *matCellDef="let row">

                                                                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                                            <mat-icon>keyboard_arrow_down</mat-icon>
                                                                          </button>
                                                                                <mat-menu #menu="matMenu">
                                                                                    <button mat-icon-button class="btn btn-danger" color="warn" (click)="removeFromList(row)">
                                                                                                        <mat-icon>delete</mat-icon>
                                                                                                    </button>
                                                                                </mat-menu>
                                                                            </td>
                                                                        </ng-container>


                                                                    </table>
                                                                    <br>
                                                                    <br>
                                                                    <hr>
                                                                </div>

                                                                <!-- CARD DONDE SE MUESTRAN X DOCUMENTOS -->
                                                                <div class="col-12 col-lg-6">
                                                                    <p style="font-weight: 400; margin-top: 10px;">Archivos:</p>
                                                                    <div style="border: .5px solid black; margin-top: 5px; padding-left: 5px; height: 200px; overflow-y: scroll;">
                                                                        <div *ngFor="let a of archivos">
                                                                            <button class="btn " (click)='leerArchivos(a)' style="margin-bottom: 5px; margin-top: 10px;"> {{a.name}} </button>
                                                                            <button class="btn btn-danger" (click)='onRemove(a)' style="margin-bottom: 5px; margin-left: 2px;"> X </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- DROPZONE DE DOCUMENTOS -->
                                                                <div class="col-12 col-lg-6">
                                                                    <p style="font-weight: 400; margin-top: 10px;">Dropzone:</p>
                                                                    <ngx-dropzone [disabled]="productosExistentes == false || stringDocumentoSeleccionado.length == 0" (change)="onSelect($event)">
                                                                        <!-- <ngx-dropzone (change)="onSelect($event)"> -->
                                                                        <ngx-dropzone-label>Seleccionar Archivos</ngx-dropzone-label>
                                                                        <ngx-dropzone-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemoveDocDropzone(f)">
                                                                            <ngx-dropzone-label> {{ f.name }}</ngx-dropzone-label>
                                                                        </ngx-dropzone-preview>
                                                                    </ngx-dropzone>
                                                                </div>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-8"></div>
                                                                <div class="col-4">
                                                                    <button style="float: right; margin-top: 20px;" [disabled]="productosExistentes == false || stringDocumentoSeleccionado.length == 0 || files.length == 0" class="btn btn-info btn-lg" mat-raised-button (click)="onAddDocumentos()">Agregar Documento(s)</button>
                                                                    <button style="float: right; margin-top: 20px;" class="btn btn-info btn-lg" mat-raised-button (click)="onAddDocumentos2()">Ver</button>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-dialog-content>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">construction</mat-icon>
                            Certificado Libre Venta
                        </ng-template>
                        <app-documentacion-clv-importacion></app-documentacion-clv-importacion>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">engineering</mat-icon>
                            Certificado Origen
                        </ng-template>
                        <app-documentacion-co-importacion></app-documentacion-co-importacion>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">person_pin</mat-icon>
                            Pespi
                        </ng-template>
                        <app-documentacion-pespi-importacion></app-documentacion-pespi-importacion>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">local_convenience_store</mat-icon>
                            Certificado Analisis
                        </ng-template>
                        <app-documentacion-ca-importacion></app-documentacion-ca-importacion>
                    </mat-tab>
                    <!-- <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">article</mat-icon>
                            Orden Carga/descarga
                        </ng-template> -->
                        <!-- <app-orden-carga-descarga></app-orden-carga-descarga> -->
                    <!-- </mat-tab> -->
                    <!-- <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">local_convenience_store</mat-icon>
                            Orden Carga
                        </ng-template>

                    </mat-tab> -->
                </mat-tab-group>


            </div>
        </div>
    </div>
</div>