.wrap {
    white-space: nowrap;
}

.table {
    width: 100%;
}

td {
    font-size: 14px;
}

.blacktxt {
    color: #000000;
}

.bolder {
    font-weight: 900;
    padding: 7px;
}

.lightback {
    background-color: #f5f5f5;
}