<div class="row row-eq-height">
    <div class="col-md-6 col-12" id="compras">
        <div class="card" style=" background-color: white;">
            <app-ventas-totales></app-ventas-totales>
        </div>
    </div>

    <div class="col-md-6 col-12" [ngStyle]="{'height':altura+'px'}">
        <div class="card" style="overflow-x: hidden;overflow-y: auto;  background-color: white;">
            <!-- <app-compras-lista></app-compras-lista> -->
            <app-pedido-ventas></app-pedido-ventas>
        </div>
        <div class="card" style="overflow-x: hidden;overflow-y: auto;  background-color: white;">
            <!-- <app-compras-lista></app-compras-lista> -->
            <app-cotizaciones-ventas></app-cotizaciones-ventas>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12 col-12">
        <!-- <app-compras-meses></app-compras-meses> -->
        <app-ventas-meses></app-ventas-meses>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <app-calendario-ventas></app-calendario-ventas>
            </div>
        </div>
    </div>
</div>