td {
    padding: 5px !important;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.btn-danger:hover {
    color: white;
}

::ng-deep .mat-form-field {
    width: 100% !important;
}