<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">110</h1>
                        <h6 class="text-muted">Stock Disponible</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="10%" class="css-bar m-b-0 css-bar-primary css-bar-50"><i class="mdi mdi-account-circle"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">40</h1>
                        <h6 class="text-muted">Stock Vendido</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="50%" class="css-bar m-b-0 css-bar-danger css-bar-25"><i class="mdi mdi-briefcase-check"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">50</h1>
                        <h6 class="text-muted">En Transito</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="25%" class="css-bar m-b-0 css-bar-warning css-bar-25"><i class="mdi mdi-star-circle"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">150</h1>
                        <h6 class="text-muted">Stock Fisico</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="100%" class="css-bar m-b-0 css-bar-info css-bar-100"><i class="mdi mdi-receipt"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tabla de Contenido con filtro -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Stock de Productos</h4>
        <h6 class="card-subtitle">Productos Actualizados.</h6>
        <table class="tablesaw table-striped table-hover table-bordered table" data-tablesaw-mode="columntoggle">
            <thead>
                <tr>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Producto</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Disponible</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Vendido</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                        Transito
                    </th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Fisico</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="title"><a class="link" href="javascript:void(0)">Leche en polvo 1</a></td>
                    <td>110</td>
                    <td>40</td>
                    <td>25%</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td class="title"><a class="link" href="javascript:void(0)">Leche en polvo 2</a></td>
                    <td>110</td>
                    <td>40</td>
                    <td>25%</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td class="title"><a class="link" href="javascript:void(0)">Leche en polvo 3</a></td>
                    <td>110</td>
                    <td>40</td>
                    <td>25%</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td class="title"><a class="link" href="javascript:void(0)">Leche en polvo 4</a></td>
                    <td>110</td>
                    <td>40</td>
                    <td>25%</td>
                    <td>150</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>