<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card mat-elevation-z8">
                    <div class="card-body">



                        <div class="d-flex justify-content-between">

                            <h3 class="text-muted m-t-10 m-b-0">Reportes Ventas</h3>
                        </div>
                        <hr>



                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Reportes Cotizaciones
                                              </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <mat-card>

                                <!-- <div class="col-2">
                                </div>
                                <div class="col-8">
                                    <label class="input-group-text text-info">Tipo de Compra:</label>
                                    <select class="form-control" name="compraTipo" #compraTipo="ngModel" id="compraTipo" (change)="tipoReporteSelected($event)" [(ngModel)]="tipoCompra">
                                                                                <option [ngValue]="null" selected disabled>Seleccionar Tipo Compra</option>
                                                                                <option *ngFor="let dl of listTipoCompras" [ngValue]="dl.tipo"> {{dl.tipo}} </option>
                                                                            </select>
                                </div>
                                <div class="col-2">
                                </div>

                                <hr> -->

                                <div class="col-4" style="align-self: center">

                                    <section class="example-section">
                                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedEstatusCotizacion" (change)="onChangeEstatusCotizacion()">
                                            Filtrar por Estatus de Cotizacion
                                        </mat-slide-toggle>
                                    </section>
                                </div>
                                <div class="col-8" *ngIf="checkedEstatusCotizacion == true">
                                    <label class="input-group-text text-info">Seleccionar Estatus</label>

                                    <select class="form-control" name="estatuss" #estatuss="ngModel" id="estatuss" (change)="changeEstatusCotizacion($event)" [(ngModel)]="estatusCotizacion">
                                                                <option [ngValue]="null" selected disabled>Seleccionar Estatus Cotizacion</option>
                                                                <option *ngFor="let dl of listEstatusCotizacion" [ngValue]="dl.tipo"> {{dl.tipo}} </option>
                                                            </select>

                                </div>

                                <hr>

                                <div class="col-4" style="align-self: center">

                                    <section class="example-section">
                                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedClientesCotizacion" (change)="onChangeTodosClientesCotizacion()">
                                            Todos los Clientes
                                        </mat-slide-toggle>
                                    </section>
                                </div>
                                <div class="col-8" *ngIf="checkedClientesCotizacion == false">
                                    <label class="input-group-text text-info">Seleccionar Cliente</label>

                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field class="example-full-width">
                                                <input type="text" placeholder="Seleccionar Cliente" aria-label="Number" [formControl]="myControlCotizacion" matInput [matAutocomplete]="auto" name="proveedorId" [(ngModel)]="CotizacionIdCliente">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let option of filteredOptionsCotizacion | async" [value]="option.IdClientes" (onSelectionChange)="onSelectionChangeCotizacion(option, $event)">
                                                        {{option.IdCliente}} {{option.Nombre}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                            <input type="string" class="form-control" readonly name="clienteNombre" readonly [(ngModel)]="CotizacionClienteNombre">
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="col-4" style="align-self: center">
                                    <section class="example-section">
                                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedFechasCotizacion" (change)="onChangePorFechaCotizacion()">
                                            Filtrar por Fechas
                                        </mat-slide-toggle>
                                    </section>
                                </div>
                                <div *ngIf="checkedFechasCotizacion == true" class="row">
                                    <div class="col-2">

                                    </div>
                                    <div class="col-4">
                                        <mat-form-field>
                                            <mat-label> Fecha Inicial </mat-label>
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <input matInput readonly="readonly" required [matDatepicker]="picker1" type="text" class="form-control" name="fechaInicial" [(ngModel)]="fechaInicialCotizacion">
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field>
                                            <mat-label> Fecha Final </mat-label>
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <input matInput readonly="readonly" required [matDatepicker]="picker2" type="text" class="form-control" name="fechaFinal" [(ngModel)]="fechaFinalCotizacion">
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">

                                    </div>
                                </div>

                                <hr>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 btnalign">
                                            <button [disabled]="(checkedEstatusCotizacion == true && !estatusCotizacion) || (checkedFechasCotizacion == true && (!fechaInicialCotizacion || !fechaFinalCotizacion) || (checkedClientesCotizacion == false && !CotizacionClienteNombre))" class="btn btn-prolacto"
                                                id="abrirpdf" (click)="abrirReporte('ALL', 'Cotizacion')"><i class="mdi mdi-file-outline btn-lg"></i>Reporte Cotizacion</button>

                                        </div>
                                        <div class="col-4 btnalign">
                                            <button [disabled]="(checkedEstatusCotizacion == true && !estatusCotizacion) || (checkedFechasCotizacion == true && (!fechaInicialCotizacion || !fechaFinalCotizacion) || (checkedClientesCotizacion == false && !CotizacionClienteNombre))" class="btn btn-prolacto"
                                                id="abrirpdf" (click)="abrirReporte('DLLS', 'Cotizacion')"><i class="mdi mdi-file-outline btn-lg"></i>Reporte Cotizacion Dlls</button>

                                        </div>
                                        <div class="col-4 btnalign">
                                            <button [disabled]="(checkedEstatusCotizacion == true && !estatusCotizacion) || (checkedFechasCotizacion == true && (!fechaInicialCotizacion || !fechaFinalCotizacion) || (checkedClientesCotizacion == false && !CotizacionClienteNombre))" class="btn btn-prolacto"
                                                id="abrirpdf" (click)="abrirReporte('MXN', 'Cotizacion')"><i class="mdi mdi-file-outline btn-lg"></i>Reporte Cotizacion Mxn</button>

                                        </div>
                                    </div>
                                </div>

                            </mat-card>
                        </div>
                        <br>
                        <!-- REPORTE PEDIDOS -------------------------------------------------------------------------------------------- -->
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Reportes Pedidos
                                              </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample2">
                            <mat-card>

                                <div class="col-4" style="align-self: center">

                                    <section class="example-section">
                                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedEstatusPedido" (change)="onChangeEstatusPedido()">
                                            Filtrar por Estatus de Pedido
                                        </mat-slide-toggle>
                                    </section>
                                </div>
                                <div class="col-8" *ngIf="checkedEstatusPedido == true">
                                    <label class="input-group-text text-info">Seleccionar Estatus</label>

                                    <select class="form-control" name="estatusss" #estatusss="ngModel" id="estatusss" (change)="changeEstatusPedido($event)" [(ngModel)]="estatusPedido">
                                                                <option [ngValue]="null" selected disabled>Seleccionar Estatus Pedido</option>
                                                                <option *ngFor="let dl of listEstatusPedido" [ngValue]="dl.tipo"> {{dl.tipo}} </option>
                                                            </select>

                                </div>

                                <hr>

                                <div class="col-4" style="align-self: center">

                                    <section class="example-section">
                                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedClientesPedido" (change)="onChangeTodosClientesPedido()">
                                            Todos los Clientes
                                        </mat-slide-toggle>
                                    </section>
                                </div>
                                <div class="col-8" *ngIf="checkedClientesPedido == false">
                                    <label class="input-group-text text-info">Seleccionar Cliente</label>

                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field class="example-full-width">
                                                <input type="text" placeholder="Seleccionar Cliente" aria-label="Number" [formControl]="myControlPedido" matInput [matAutocomplete]="autoPedido" name="proveedorPedidoId" [(ngModel)]="PedidoIdCliente">
                                                <mat-autocomplete #autoPedido="matAutocomplete">
                                                    <mat-option *ngFor="let option of filteredOptionsPedido | async" [value]="option.IdClientes" (onSelectionChange)="onSelectionChangePedido(option, $event)">
                                                        {{option.IdCliente}} {{option.Nombre}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                            <input type="string" class="form-control" readonly name="clienteNombrePedido" readonly [(ngModel)]="PedidoClienteNombre">
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="col-4" style="align-self: center">
                                    <section class="example-section">
                                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedFechasPedido" (change)="onChangePorFechaPedido()">
                                            Filtrar por Fechas
                                        </mat-slide-toggle>
                                    </section>
                                </div>
                                <div *ngIf="checkedFechasPedido == true" class="row">
                                    <div class="col-2">

                                    </div>
                                    <div class="col-4">
                                        <mat-form-field>
                                            <mat-label> Fecha Inicial </mat-label>
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <input matInput readonly="readonly" required [matDatepicker]="picker3" type="text" class="form-control" name="fechaInicialPedido" [(ngModel)]="fechaInicialPedido">
                                            <mat-datepicker #picker3></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field>
                                            <mat-label> Fecha Final </mat-label>
                                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                            <input matInput readonly="readonly" required [matDatepicker]="picker4" type="text" class="form-control" name="fechaFinalPedido" [(ngModel)]="fechaFinalPedido">
                                            <mat-datepicker #picker4></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">

                                    </div>
                                </div>

                                <hr>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 btnalign">
                                            <button [disabled]="(checkedEstatusPedido == true && !estatusPedido) || (checkedFechasPedido == true && (!fechaInicialPedido || !fechaFinalPedido) || (checkedClientesPedido == false && !PedidoClienteNombre))" class="btn btn-prolacto" id="abrirpdf" (click)="abrirReporte('ALL', 'Pedido')"><i class="mdi mdi-file-outline btn-lg"></i>Reporte Pedido</button>

                                        </div>
                                        <div class="col-4 btnalign">
                                            <button [disabled]="(checkedEstatusPedido == true && !estatusPedido) || (checkedFechasPedido == true && (!fechaInicialPedido || !fechaFinalPedido) || (checkedClientesPedido == false && !PedidoClienteNombre))" class="btn btn-prolacto" id="abrirpdf" (click)="abrirReporte('DLLS', 'Pedido')"><i class="mdi mdi-file-outline btn-lg"></i>Reporte Pedido Dlls</button>

                                        </div>
                                        <div class="col-4 btnalign">
                                            <button [disabled]="(checkedEstatusPedido == true && !estatusPedido) || (checkedFechasPedido == true && (!fechaInicialPedido || !fechaFinalPedido) || (checkedClientesPedido == false && !PedidoClienteNombre))" class="btn btn-prolacto" id="abrirpdf" (click)="abrirReporte('MXN', 'Pedido')"><i class="mdi mdi-file-outline btn-lg"></i>Reporte Pedido Mxn</button>

                                        </div>
                                    </div>
                                </div>

                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- FACTURACION -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <div class="d-flex justify-content-between">

                    <h3 class="text-muted m-t-10 m-b-0">Facturacion</h3>
                </div>
            </div>
            <div class="card-body">


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">



                                <h2 style="text-align: center;">Facturacion</h2>
                                <div>
                                    <div class="row">
                                        <div class="col-8">

                                        </div>
                                        <div class="col-4">
                                            <mat-form-field>
                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div fxLayoutAlign="row">
                                    <mat-card style="text-align: right;" class="mat-elevation-z0">
                                        
                                        <mat-form-field>
                                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                        </mat-form-field>
                                    </mat-card>
                                </div> -->


                                <div class="mat-elevation-z8">
                                    <div style="overflow: auto;">
                                        <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" matRipple [class.example-expanded-row]="expandedElement == row"></tr>
                                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                                            </tr>



                                            <!-- <ng-container matColumnDef="Id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                            <td mat-cell *matCellDef="let element">{{element.Id}}</td>
                                        </ng-container> -->


                                            <ng-container matColumnDef="Folio">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>FOLIO</th>
                                                <td class="folio" mat-cell *matCellDef="let element" (click)="expandedElement = element">
                                                    {{element.Folio}} +</td>
                                            </ng-container>

                                            <ng-container matColumnDef="Nombre">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</th>
                                                <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                                            </ng-container>

                                            <ng-container matColumnDef="FechaDeExpedicion">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA EXPEDICION</th>
                                                <td mat-cell *matCellDef="let element">{{element.FechaDeExpedicion | date: 'yyyy-MM-dd' }}</td>
                                            </ng-container>

                                            <ng-container matColumnDef="Cantidad">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CANTIDAD</th>
                                                <td mat-cell *matCellDef="let element">{{element.KGTOTALES| number}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="Subtotal">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBTOTAL MXN/USD</th>
                                                <td mat-cell *matCellDef="let element">{{element.Subtotal| currency}} MXN / {{element.SubtotalDlls | currency}} USD</td>
                                            </ng-container>

                                            <ng-container matColumnDef="ImpuestosTrasladadosDlls">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>IVA MXN/USD</th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{element.ImpuestosTrasladados| currency}} MXN / {{element.ImpuestosTrasladadosDlls| currency}} USD</td>
                                            </ng-container>

                                            <ng-container matColumnDef="Total">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL MXN/USD</th>
                                                <td mat-cell *matCellDef="let element">{{element.Total | currency}} MXN / {{element.TotalDlls| currency}} USD</td>
                                            </ng-container>

                                            <ng-container matColumnDef="Estado">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
                                                <td mat-cell *matCellDef="let element" [ngSwitch]=element.Estatus>
                                                    <span *ngSwitchCase="'Timbrada'" class="label label-light-success">TIMBRADA</span>
                                                    <span *ngSwitchCase="'Guardada'" class="label label-light-info">GUARDADA</span>
                                                    <span *ngSwitchCase="'Cancelada'" class="label label-light-danger">CANCELADA</span>
                                                    <span *ngSwitchCase="'Pagada'" class="label label-light-inverse">PAGADA</span>
                                                </td>
                                            </ng-container>

                                            <!-- <ng-container matColumnDef="Options">
                                            <th mat-header-cell *matHeaderCellDef>OPCIONES</th>
                                            <td mat-cell *matCellDef="let row">
                                                
                
                                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                
                                            <ng-container matColumnDef="Folio">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>FOLIO</th>
                                                <td mat-cell *matCellDef="let element">{{element.Folio}}</td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Cliente">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</th>
                                                <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="FechaExpedicion">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA EXPEDICION</th>
                                                <td mat-cell *matCellDef="let element">{{element.FechaDeExpedicion}}</td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Subtotal">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBTOTAL</th>
                                                <td mat-cell *matCellDef="let element">{{element.Subtotal}}</td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="IVA">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>IVA</th>
                                                <td mat-cell *matCellDef="let element">{{element.ImpuestosTrasladados}}</td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Total">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL</th>
                                                <td mat-cell *matCellDef="let element">{{element.Total}}</td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Estado">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
                                                <td mat-cell *matCellDef="let element" [ngSwitch]=element.Estatus>
                                                    <span *ngSwitchCase="'Timbrada'" class="label label-light-success">TIMBRADA</span>
                                                    <span *ngSwitchCase="'Creada'" class="label label-light-info">CREADA</span>
                                                    <span *ngSwitchCase="'Cancelada'" class="label label-light-danger">CANCELADA</span>
                                                </td>
                                            </ng-container> -->


                                            <!--     <ng-container matColumnDef="Options" stickyEnd>
                                                <th mat-header-cell *matHeaderCellDef>OPCIONES</th>
                                                <td mat-cell *matCellDef="let row">
                                                    
                
                                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                  </button>
                                                    <mat-menu #menu="matMenu">
                                                        <button [disabled]="Editar == false" title="Editar/Ver" mat-icon-button class="btn btn-dark" (click)="onEdit(row)">
                                      <mat-icon>edit</mat-icon>
                                    </button>
                
                                                        
                                                        <button id="abrirpdf" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#add-new-event"></button>
                                                        <button title="Ver PDF" *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada' || row.Estatus=='Pagada'" (click)="generar(row.UUID,row.Folio,row)" mat-icon-button class="btn btn-dark">
                                      <mat-icon>remove_red_eye</mat-icon>
                
                                    </button>
                                                        
                
                                                        <button title="Descargar PDF" *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada' || row.Estatus=='Pagada'" (click)="pdf(row.UUID,row.Folio,row)" mat-icon-button class="btn btn-dark">
                                      <mat-icon>picture_as_pdf</mat-icon>
                
                                    </button>
                                                        
                                                        <button title="Descargar XML" *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada' || row.Estatus=='Pagada'" mat-icon-button class="btn btn-dark" (click)="xml(row.UUID,row.Folio)">
                                      <mat-icon>code</mat-icon>
                                    </button>
                                                        
                                                        <button title="Enviar Correo" *ngIf="row.Estatus=='Timbrada' || row.Estatus=='Cancelada' || row.Estatus=='Pagada'" mat-icon-button class="btn btn-dark" (click)="email(row.UUID,row.Folio,row)">
                                      <mat-icon>alternate_email</mat-icon>
                                    </button>
                                                      
                                                        <button [disabled]="Borrar == false" *ngIf="row.Estatus=='Guardada'" mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row)">
                                      <mat-icon>delete_outline</mat-icon>
                                    </button>
                                                    </mat-menu>
                
                
                                                </td>
                                            </ng-container> -->

                                            <ng-container matColumnDef="expandedDetail">
                                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                                    <!-- <mat-header-cell *matHeaderCellDef mat-sort-header>CONCEPTOS</mat-header-cell> -->
                                                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="element.detalle.length > 0" (click)="expandedElement = 0">
                                                        <!-- <table mat-table [dataSource]="element.detalle"> -->
                                                        <table width="100%">

                                                            <tr>
                                                                <th> Clave Producto </th>
                                                                <th> Producto </th>
                                                                <th> Cantidad </th>
                                                                <th> Precio Unitario </th>
                                                                <th> Importe </th>
                                                            </tr>
                                                            <tr *ngFor="let detalle of element.detalle">
                                                                <td> {{detalle.ClaveSAT}} </td>
                                                                <td> {{detalle.Producto}} </td>
                                                                <td> {{detalle.Cantidad | number: '1.0-2' }} </td>
                                                                <td> {{detalle.PrecioUnitario | currency}} </td>
                                                                <td> {{detalle.Importe | currency}} </td>
                                                            </tr>
                                                        </table>




                                                        <!-- <ng-container matColumnDef="ClaveProducto">
                                                        <th mat-header-cell *matHeaderCellDef> Clave Producto </th>
                                                        <td mat-cell *matCellDef="let element">{{element.detalle.Importe}} </td>
                
                                                    </ng-container> -->
                                                        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsVersion"></tr> -->
                                                        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumnsVersion;"></tr> -->

                                                        <!-- </table> -->

                                                    </div>
                                                </td>
                                            </ng-container>


                                        </table>
                                        <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                                        </mat-paginator>
                                        <!--    <ngx-loading [show]="loadtable" [config]="{animationType: ngxLoadingAnimationTypes.circleSwish}">
                                        </ngx-loading> -->
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>