td {
    padding: 5px !important;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.btn-danger:hover {
    color: white;
}

::ng-deep .mat-cell {
    overflow: auto;
}

::ng-deep .mat-header-cell {
    color: #ffffff;
    background: #000000;
}