<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card card-header">
                <h1 style="text-align: center;">ENTRADA DE MERCANCIA</h1>
            </div>
            <div class="card-body">
                <div class="container">

                    <div class="row">


                        <div class="col-md-2 col-sm-12" style="display: grid; justify-content: center">
                            <!-- <button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Generar Cotizacion</button> -->

                            <button mat-fab (click)="onAdd()" class="btncoti">
                                <mat-icon>note_add</mat-icon>
                            </button>

                            <!--    <ng-container *ngFor="let item of arrcon; let i = index ">


                            </ng-container> -->
                        </div>
                        <div class="col-md-2 col-sm-12" style="display: grid">

                            <!-- <label class="input-group-text text-info">Estatus</label> -->
                            <!--     <mat-form-field>
                                <mat-label> Estatus </mat-label>
                                
                                <mat-select  [(ngModel)]="estatusSelect">
                                
                                    <mat-option  *ngFor="let dl of listEstatus" [value]="dl.Estatus" > {{dl.Estatus}} </mat-option>
                                </mat-select>
                            </mat-form-field> -->

                        </div>
                        <div class="col-md-2 col-sm-12" style="display: grid">

                            <!-- <label class="input-group-text text-info">Estatus</label> -->
                            <!--      <mat-form-field>
                                <mat-label> Sucursal </mat-label>
                                <mat-select (selectionChange)="SucursalCambio($event)" [(ngModel)]="SucursalSelect">
                                    <mat-option *ngFor="let Sucursal of listSucursal" [value]="Sucursal"> {{Sucursal}} </mat-option>
                                </mat-select>
                            </mat-form-field> -->

                        </div>
                        <div class="col-md-6 col-sm-12" style="display: grid">

                            <!-- <mat-card style="text-align: right; " class="mat-elevation-z0"> -->
                            <mat-form-field style="display: block">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                            </mat-form-field>
                            <!-- </mat-card> -->

                        </div>

                    </div>

                </div>
                <hr>

                <div style="overflow:auto;">

                    <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


                        <!--     <ng-container matColumnDef="IdCotizacion" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Cotiacion</th>
                            <td class="folio" mat-cell *matCellDef="let element" (click)="expandedElement = element">{{element.IdCotizacion}} +
                                <td>
                        </ng-container> -->
                        <ng-container matColumnDef="Folio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
                            <td mat-cell *matCellDef="let element" class="folio" (click)="expandedElement = element">{{element.folio}} +
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Proveedor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                            <td mat-cell *matCellDef="let element">{{element.nombreProveedor}}
                                <td>
                        </ng-container>



                        <ng-container matColumnDef="Subtotal">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</th>
                            <td mat-cell *matCellDef="let element">{{element.subtotal | currency}}

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="IVA">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>IVA</th>
                            <td mat-cell *matCellDef="let element">{{element.iva | currency}}

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Total">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                            <td mat-cell *matCellDef="let element">{{element.total | currency}}
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="FechaDeExpedicion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>FechaDeExpedicion</th>
                            <td mat-cell *matCellDef="let element">{{element.fechaexpedicion | date: 'yyyy-MM-dd'}}
                            </td>
                        </ng-container>



                        <ng-container matColumnDef="Estatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                            <td mat-cell *matCellDef="let element" [ngSwitch]=element.Estatus>
                                <span *ngSwitchCase="'Guardada'" class="label label-light-success">GUARDADA</span>
                                <span *ngSwitchCase="'Cerrada'" class="label label-light-info">CERRADA</span>
                                <span *ngSwitchCase="'Duplicada'" class="label label-light-danger">DUPLICADA</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Sucursal">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</th>
                            <td mat-cell *matCellDef="let element">{{element.sucursal}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Options" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>Opciones</th>
                            <td mat-cell *matCellDef="let row">

                                <!--   <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button> -->
                                <!-- <mat-menu #menu="matMenu"> -->



                                <ng-container>

                                    <button title="Editar" mat-icon-button class="btn btn-dark" (click)="onEdit(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                                </ng-container>


                                <ng-container>

                                    <button title="Eliminar" mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
                                </ng-container>
                                <!-- </mat-menu> -->
                            </td>
                        </ng-container>

                        <!-- DETALLES DE PEDIDO -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" (click)="expandedElement = 0">

                                    <table width="100%">
                                        <tr>
                                            <th> Clave Producto </th>
                                            <th> Producto </th>
                                            <th style="text-align: right;"> Cantidad </th>
                                            <th style="text-align: right;"> Precio Unitario </th>
                                            <th style="text-align: right;"> Subtotal </th>
                                            <th style="text-align: right;"> Total </th>
                                        </tr>
                                        <tr *ngFor="let detalle of element.DetalleEntrada">
                                            <td> {{detalle.claveproducto}} </td>
                                            <td> {{detalle.nombreproducto}} </td>
                                            <td style="text-align: right;"> {{ detalle.cantidad}} </td>
                                            <td style="text-align: right;"> {{ detalle.precioProducto | currency}} </td>
                                            <td style="text-align: right;"> {{ detalle.subtotal | currency}} </td>
                                            <td style="text-align: right;"> {{ detalle.total | currency}} </td>


                                        </tr>
                                    </table>
                                </div>
                        </ng-container>
                        <!-- DETALLES DE PEDIDO -->

                    </table>
                    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                    </mat-paginator>
                </div>



            </div>
        </div>
    </div>
</div>