<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-body">
                <h2 style="text-align: center;">Cotizaciones</h2>
                <div fxLayoutAlign="row">
                    <mat-card style="text-align: right;" class="mat-elevation-z0">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                        </mat-form-field>
                    </mat-card>
                </div>

                <div style="overflow:auto;">

                    <table mat-table [dataSource]="listData" matSort class="scrollable" multiTemplateDataRows>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


                        <ng-container matColumnDef="IdCliente" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Pedido</th>
                            <td class="folio" mat-cell *matCellDef="let element" (click)="expandedElement = element">{{element.IdCliente}} +
                                <td>
                        </ng-container>

                        <ng-container matColumnDef="Nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                            <td mat-cell *matCellDef="let element">{{element.Nombre}}
                                <td>
                        </ng-container>

                        <ng-container matColumnDef="RFC">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>RFC</th>
                            <td mat-cell *matCellDef="let element">{{element.RFC}}
                                <td>
                        </ng-container>

                        <ng-container matColumnDef="Subtotal">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal MXN/USD</th>
                            <td mat-cell *matCellDef="let element">{{element.Subtotal | currency}}/<br>{{element.SubtotalDlls | currency:'USD':'code'}}

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Total">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total MXN/USD</th>
                            <td mat-cell *matCellDef="let element">{{element.Total | currency}}/<br>{{element.Total | currency:'USD':'code'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Descuento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descuento MXN/USD</th>
                            <td mat-cell *matCellDef="let element">{{element.Descuento | currency}}/{{element.Descuento | currency:'USD':'code'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="SubtotalDlls">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>SubtotalDlls</th>
                            <td mat-cell *matCellDef="let element">{{element.SubtotalDlls}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="TotalDlls">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TotalDlls</th>
                            <td mat-cell *matCellDef="let element">{{element.TotalDlls}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="DescuentoDlls">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>DescuentoDlls</th>
                            <td mat-cell *matCellDef="let element">{{element.DescuentoDlls}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Observaciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                            <td mat-cell *matCellDef="let element">{{element.Observaciones}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Vendedor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendedor</th>
                            <td mat-cell *matCellDef="let element">{{element.Vendedor}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Moneda">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                            <td mat-cell *matCellDef="let element">{{element.Moneda}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="FechaDeExpedicion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>FechaDeExpedicion</th>
                            <td mat-cell *matCellDef="let element">{{element.FechaDeExpedicion}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Flete">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Flete</th>
                            <td mat-cell *matCellDef="let element">{{element.Flete}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Folio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
                            <td mat-cell *matCellDef="let element">{{element.Folio}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Telefono">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
                            <td mat-cell *matCellDef="let element">{{element.Telefono}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Correo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
                            <td mat-cell *matCellDef="let element">{{element.Correo}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Options" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>Opciones</th>
                            <td mat-cell *matCellDef="let row">

                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                                <mat-menu #menu="matMenu">
                                    <!--  -->
                                    <button title="Editar" mat-icon-button class="btn btn-dark" (click)="onEdit(row)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                    <!--  -->
                                    <button title="Vista Previa" mat-icon-button class="btn btn-dark" (click)="openrep()">
    <mat-icon>visibility</mat-icon>
</button>

                                    <button id="enviaremail" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#cargando"></button>
                                    <button title="Enviar Correo" mat-icon-button class="btn btn-dark" (click)="email()">
    <mat-icon>alternate_email</mat-icon>
  </button>
                                    <!--  -->
                                    <button title="Eliminar" mat-icon-button class="btn btn-danger" color="warn" (click)="onDelete(row)">
                                                    <mat-icon>delete_outline</mat-icon>
                                                </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <!-- DETALLES DE PEDIDO -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="element.DetalleCotizacion.length > 0" (click)="expandedElement = 0">

                                    <table width="100%">
                                        <tr>
                                            <th> Clave Producto </th>
                                            <th> Producto </th>
                                            <th> Cantidad </th>
                                            <th> Precio Unitario </th>
                                        </tr>
                                        <tr *ngFor="let detalle of element.DetallePedido">
                                            <td> {{detalle.ClaveProducto}} </td>
                                            <td> {{detalle.Producto}} </td>
                                            <td> {{ detalle.Cantidad}} </td>
                                            <div *ngIf="element.Moneda == 'MXN'">
                                                <td> {{ detalle.PrecioUnitario | currency}} </td>
                                            </div>
                                            <div *ngIf="element.Moneda == 'USD'">
                                                <td> {{ detalle.PrecioUnitarioDlls | currency}} </td>
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                            </td> -->
                        </ng-container>
                        <!-- DETALLES DE PEDIDO -->

                    </table>
                    <mat-paginator [pageSize]='10' [pageSizeOptions]='[5,10,25,50]' showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
            <button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Generar Pedido</button>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg show" id="cargando">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- <button id="cerrarmodal" type="button" [hidden]="true" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
            <app-email [foliop]="folioparam" [idp]="idparam"></app-email> -->


        </div>
    </div>
    <!-- <ngx-loading [show]="loading2" [config]="{animationType: ngxLoadingAnimationTypes.circleSwish}">
    </ngx-loading> -->
</div>























<!-- <button title="Vista Previa" mat-icon-button class="btn btn-dark" (click)="openrep()">
    <mat-icon>visibility</mat-icon>
</button>

<button id="enviaremail" [hidden]="true" mat-icon-button class="btn btn-dark" data-toggle="modal" data-target="#cargando"></button>
<button title="Enviar Correo" mat-icon-button class="btn btn-dark" (click)="email()">
    <mat-icon>alternate_email</mat-icon>
  </button> -->